{% extends "./layout/guest" %}

{% block content %}

    {% if errors.has('code') %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">{{ 'close'|_ }}</span>
                    </button>
                    <strong>{{ 'flash_error'|_ }}</strong> {{ errors.get('code')[0] }}
                </div>
            </div>
        </div>
    {% endif %}

    <div class="login-box-body">
        <p class="login-box-msg">{{ trans('firefly.two_factor_welcome', {user: user.email}) }}</p>
        <p class="login-box-msg">{{ 'two_factor_enter_code'|_ }}</p>

        <form action="{{ route('two-factor.post') }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

            <div class="form-group has-feedback">
                <input type="number" name="code" class="form-control" placeholder="{{ 'two_factor_code_here'|_ }}"/>
            </div>

            <div class="row">
                <!-- /.col -->
                <div class="col-xs-6 col-xs-offset-6">
                    <button type="submit" class="btn btn-primary btn-block btn-flat">{{ 'authenticate'|_ }}</button>
                </div>
                <!-- /.col -->
            </div>
        </form>
        <a href="{{ route('two-factor.lost') }}">{{ 'two_factor_forgot'|_ }}</a>
    </div>
    <!-- /.login-box-body -->
{% endblock %}

