{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <div class="row">
        <form class="form-horizontal" action="{{ route('import.configure.post', job.key) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('import.spectre_input_fields_title') }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <p>
                                    {{ trans('import.spectre_input_fields_text',{provider: data.provider.data.name, country: data.country})|raw }}
                                </p>
                                <p>
                                    {{ trans('import.spectre_instructions_english') }}
                                </p>
                                <p class="well">
                                    {{ data.provider.data.instruction|nl2br }}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                {% for field in data.fields %}
                                    {# text, password, select, file #}
                                    {% if field.nature == 'text' %}
                                        {{ ExpandedForm.text(field.name,null, {label: field.english_name ~ ' ('~field.localized_name~')'}) }}
                                    {% endif %}
                                    {% if field.nature == 'password' %}
                                        {{ ExpandedForm.password(field.name, {label: field.english_name ~ ' ('~field.localized_name~')'}) }}
                                    {% endif %}
                                    {% if field.nature == 'select' %}
                                        DO NOT SUPPORT
                                        {{ dump(field) }}
                                    {% endif %}
                                    {% if field.narture == 'file' %}
                                        DO NOT SUPPORT
                                        {{ dump(field) }}
                                    {% endif %}

                                {% endfor %}
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn pull-right btn-success">
                                {{ ('submit')|_ }}
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}
