{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists }}
{% endblock %}
{% block content %}
    <div class="row">
        <form class="form-horizontal" action="{{ route('import.file.process-configuration', job.key) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('bank.spectre_select_country_title') }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <p>
                                    {{ trans('bank.spectre_select_country_text') }}
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-8">
                                {{ ExpandedForm.select('country_code', data.countries, null)|raw }}
                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn pull-right btn-success">
                                {{ ('submit')|_ }}
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}
