<table class="table table-hover sortable">
    <thead>
    <tr>
        <th class="hidden-sm hidden-xs" data-defaultsort="disabled">&nbsp;</th>
        <th>{{ trans('list.name') }}</th>
        <th>{{ trans('list.type') }}</th>
    </tr>
    </thead>
    <tbody>
    {% for tag in result.tags %}
        <tr>
            <td class="hidden-sm hidden-xs" style="width:10%;">
                <div class="btn-group btn-group-xs">
                    <a class="btn btn-default btn-xs" href="{{ route('tags.edit', tag.id) }}"><i class="fa fa-fw fa-pencil"></i></a>
                    <a class="btn btn-danger btn-xs" href="{{ route('tags.delete', tag.id) }}"><i class="fa fa-fw fa-trash-o"></i></a>
                </div>
            </td>
            <td><a href="{{ route('tags.show',tag.id) }}">{{ tag.tag }}</a></td>
            <td>{{ ('tag'~tag.tagMode)|_ }}</td>
        </tr>
    {% endfor %}
    </tbody>

</table>
