{% extends "./layout/auth" %}
{% block content %}
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img src="v2/images/basic-logo-square.png" class="h-6" alt="Firefly III v{{ FF_VERSION }}" title="Firefly III v{{ FF_VERSION }}">
                    </div>

                    {# ERRORS FOR RESET LOGIN STUFF #}
                    {% if errors.all|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            {% if errors.all|length == 1 %}
                                <strong>{{ 'flash_error'|_ }}</strong> {{ errors.first() }}
                            {% else %}
                                <strong>{{ 'flash_error'|_ }}</strong>
                                <ul>
                                    {% for message in errors.all %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}

                    <form class="card" action="{{ route('password.email') }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token() }}">
                        <div class="card-body p-6">
                            {% if session('status') %}
                                <p>
                                    {{ session('status') }}
                                </p>
                            {% else %}
                                <div class="card-title">{{ 'reset_password'|_ }}</div>
                                <div class="form-group">
                                    <label class="form-label">{{ trans('form.email') }}</label>
                                    <input autocomplete="email" type="email" name="email" class="{% if errors.has('email') %}is-invalid{% endif %} form-control"
                                           placeholder="{{ trans('form.email') }}" value="{{ email }}" required>
                                    {% if errors.has('email') %}
                                        <div class="invalid-feedback">
                                            {{ errors.get('email')[0] }}
                                        </div>
                                    {% endif %}
                                </div>
                            {% endif %}
                            {% if not session('status') %}
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">{{ 'reset_button'|_ }}</button>
                            </div>
                            {% endif %}
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        <a href="{{ route('login') }}">{{ 'want_to_login'|_ }}</a><br>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock %}
