{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, tag) }}
{% endblock %}

{% block content %}
    {{ Form.model(tag, {'class' : 'form-horizontal','id' : 'update','url' : route('tags.update',tag.id)}) }}

    <input type="hidden" name="id" value="{{ tag.id }}"/>

    <div class="row">
        <div class="col-lg-5 col-md-5 col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'mandatoryFields'|_ }}</h3>
                </div>
                <div class="box-body">
                    {{ ExpandedForm.text('tag') }}
                </div>
            </div>
        </div>

        <div class="col-lg-7 col-md-7 col-sm-12">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'optionalFields'|_ }}</h3>
                </div>
                <div class="box-body">
                    {{ ExpandedForm.date('date', tag.date.format('Y-m-d')) }}
                    {{ ExpandedForm.textarea('description') }}
                    {{ ExpandedForm.location('tag_position') }}
                </div>
            </div>

            <!-- panel for options -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'options'|_ }}</h3>
                </div>
                <div class="box-body">
                    {{ ExpandedForm.optionsList('update','tag') }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn pull-right btn-success">
                        {{ 'update_tag'|_ }}
                    </button>
                </div>
            </div>

        </div>
    </div>

    {{ Form.close|raw }}

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        // pre-set latitude:
        {% if old('tag_position_latitude') %}
        var tag_position_latitude = "{{ old('tag_position_latitude') }}";
        {% else %}
        var tag_position_latitude = {{ tag.latitude|default("52.3167") }};
        {% endif %}

        // pre-set longitude
        {% if old('tag_position_longitude') %}
        var tag_position_longitude = "{{ old('tag_position_longitude') }}";
        {% else %}
        var tag_position_longitude = {{ tag.longitude|default("5.5500") }};
        {% endif %}

        // pre-set zoom level
        {% if old('tag_position_zoomlevel') %}
        var tag_position_zoomlevel = "{{ old('tag_position_zoomlevel') }}";
        {% else %}
        var tag_position_zoomlevel = {{ tag.zoomLevel|default("6") }};
        {% endif %}

        {% if tag.zoomLevel and tag.longitude and tag.latitude %}
        var tag_position_set_tag = true;
        {% else %}
        var tag_position_set_tag = false;
        {% endif %}


        // token for Mapbox:
        var mapboxToken = "{{ env('MAPBOX_API_KEY','') }}";

    </script>
    <script src="lib/leaflet/leaflet.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript" src="js/lib/modernizr-custom.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js?v={{ FF_VERSION }}"></script>
    <script src="js/ff/tags/create-edit.js?v={{ FF_VERSION }}"></script>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="lib/leaflet/leaflet.css?v={{ FF_VERSION }}" />
    <link href="css/jquery-ui/jquery-ui.structure.min.css?v={{ FF_VERSION }}" type="text/css" rel="stylesheet" media="all">
    <link href="css/jquery-ui/jquery-ui.theme.min.css?v={{ FF_VERSION }}" type="text/css" rel="stylesheet" media="all">
{% endblock %}
