@extends('layout.v3.session')

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, currency) }}
@endsection

@section('content')

    <form method="POST" action="{{ route('currencies.destroy',currency.id) }}" accept-charset="UTF-8" class="form-horizontal" id="destroy">
        <input name="_token" type="hidden" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12">
                <div class="box box-danger">
                    <div class="card-header">
                        <h3 class="card-title">{{ trans('form.delete_currency', {'name': currency.name}) }}</h3>
                    </div>
                    <div class="card-body">
                        <p class="text-danger">
                            {{ trans('form.permDeleteWarning') }}
                        </p>

                        <p>
                            {{ trans('form.currency_areYouSure', {'name': currency.name}) }}
                        </p>
                    </div>
                    <div class="card-footer">
                        <input type="submit" name="submit" value="{{ trans('form.deletePermanently') }}" class="btn btn-danger pull-right"/>
                        <a href="{{ URL::previous }}" class="btn-outline-secondary btn">{{ trans('form.cancel') }}</a>
                    </div>
                </div>
            </div>
        </div>
    </form>

@endsection
