<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-calendar-o fa-fw"></i>
        {{ 'bills'|_ }}
    </div>
    <table class="table table-bordered table-striped sortable">
        <thead>
            <tr>
                <th>{{ trans('form.name') }}</th>
                <th>{{ trans('form.amount_min') }}</th>
                <th>{{ trans('form.amount_max') }}</th>
                <th>{{ trans('form.amount') }}</th>
                <th>{{ trans('form.under') }}</th>
            </tr>
        </thead>
        <tbody>
        {% for line in bills.getBills %}
            {% if not line.isActive %}
                <tr class="text-muted">
            {% else %}
                <tr>
            {% endif %}
                <td data-value="{{ line.getBill.name }}">
                    <a href="{{ route('bills.show',line.getBill.id) }}">{{ line.getBill.name }}</a>
                    {% if not line.isActive %}
                        ({{ 'inactive'|_|lower }})
                    {% endif %}
                </td>
                <td data-value="{{ line.getMin }}">{{ line.getMin|formatAmount }}</td>
                <td data-value="{{ line.getMax }}">{{ line.getMax|formatAmount }}</td>
                {% if line.isHit %}
                    <td data-value="{{ line.getAmount }}">{{ line.getAmount|formatAmount }}</td>
                {% endif %}
                {% if not line.isHit and line.isActive %}
                    <td data-value="0" class="bg-success">{{ 'notCharged'|_ }}</td>
                {% endif %}
                {% if not line.isActive %}
                    <td data-value="-1">&nbsp;</td>
                    {% endif %}
                <td data-value="{{ (line.getMax - line.getAmount) }}">
                    {% if line.isActive %}
                    {{ (line.getMax - line.getAmount)|formatAmount }}
                    {% endif %}
                </td>

            </tr>

        {% endfor %}
        </tbody>
    </table>
</div>