<div class="box">

    <div class="box-header with-border">
        <h3 class="box-title">{{ 'budgets'|_ }}</h3>
    </div>
    <div class="box-body table-responsive no-padding">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>{{ 'budget'|_ }}</th>
                <th>{{ 'date'|_ }}</th>
                <th>{{ 'budgeted'|_ }}</th>
                <th>{{ 'spent'|_ }}</th>
                <th>{{ 'left'|_ }}</th>
                <th>{{ 'overspent'|_ }}</th>
            </tr>
            </thead>
            <tbody>
            {% for budgetLine in budgets.getBudgetLines %}
                <tr>
                    <td>
                        {% if budgetLine.getBudget %}
                            <a href="{{ route('budgets.show',budgetLine.getBudget.id) }}">{{ budgetLine.getBudget.name }}</a>
                        {% else %}
                            <em>{{ 'noBudget'|_ }}</em>
                        {% endif %}
                    </td>
                    <td>
                        {% if budgetLine.getRepetition %}
                            <a href="{{ route('budgets.show', [budgetLine.getBudget.id, budgetLine.getRepetition.id]) }}">{{ budgetLine.getRepetition.startdate.formatLocalized(monthAndDayFormat) }}</a>
                        {% endif %}
                    </td>
                    <td>
                        {% if budgetLine.getRepetition %}
                            {{ budgetLine.getRepetition.amount|formatAmount }}
                        {% else %}
                            {{ 0|formatAmount }}
                        {% endif %}
                    </td>
                    <td>
                        {% if budgetLine.getSpent != 0 %}
                            <span class="text-danger">{{ budgetLine.getSpent|formatAmountPlain }}</span>
                        {% endif %}

                        {% if budgetLine.getSpent == 0 %}
                            {{ budgetLine.getSpent|formatAmount }}
                        {% endif %}
                    </td>
                    <td>
                        {{ budgetLine.getLeft|formatAmount }}
                    </td>
                    <td>
                        {% if budgetLine.getOverspent != 0 %}
                            <span class="text-danger">{{ budgetLine.getOverspent|formatAmountPlain }}</span>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            <tfoot>
            <tr>
                <td colspan="2"><em>{{ 'sum'|_ }}</em></td>
                <td>{{ budgets.getBudgeted|formatAmount }}</td>
                <td>
                    {% if budgets.getSpent != 0 %}
                        <span class="text-danger">{{ budgets.getSpent|formatAmountPlain }}</span>
                    {% endif %}
                    {% if budgets.getSpent == 0 %}
                        {{ budgets.getSpent|formatAmount }}
                    {% endif %}
                </td>
                <td>{{ budgets.getLeft|formatAmount }}</td>
                <td><span class="text-danger">{{ budgets.getOverspent|formatAmountPlain }}</span></td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
