{% extends "./layout/default" %}
{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, what) }}
{% endblock %}
{% block content %}

    <form action="{{ route('accounts.store') }}" method="post" id="store" class="form-horizontal">
        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="what" value="{{ what }}"/>
        <input type="hidden" name="active" value="1"/>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'mandatoryFields'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        {{ ExpandedForm.text('name') }}
                        {% if what == 'asset' %}
                            {# Not really mandatory but OK #}
                            {{ ExpandedForm.select('currency_id', currencySelectList, null, {helpText:'account_default_currency'|_}) }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'optionalFields'|_ }}</h3>
                    </div>
                    <div class="box-body">

                        {{ ExpandedForm.text('iban') }}
                        {{ ExpandedForm.text('BIC', null, {maxlength: 11}) }}
                        {{ ExpandedForm.text('accountNumber') }}

                        {% if what == 'asset' %}

                            {{ ExpandedForm.nonSelectableBalance('openingBalance') }}
                            {{ ExpandedForm.date('openingBalanceDate') }}
                            {{ ExpandedForm.select('accountRole', roles,null,{'helpText' : 'asset_account_role_help'|_}) }}
                            {{ ExpandedForm.nonSelectableBalance('virtualBalance') }}
                        {% endif %}

                    </div>
                </div>


                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'options'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        {{ ExpandedForm.optionsList('create','account') }}
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn pull-right btn-success">
                            {{ ('store_new_' ~ what ~ '_account')|_ }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="js/lib/modernizr-custom.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js?v={{ FF_VERSION }}"></script>
    {# JS currency list for update thing #}
    <script type="text/javascript">
        var currencies = [];
        {% for currency in allCurrencies %}
        currencies[{{ currency.id }}] = "{{ currency.symbol }}";
        {% endfor %}
    </script>
    <script type="text/javascript" src="js/ff/accounts/create.js?v={{ FF_VERSION }}"></script>
{% endblock %}

{% block styles %}
    <link href="css/jquery-ui/jquery-ui.structure.min.css" type="text/css" rel="stylesheet" media="all">
    <link href="css/jquery-ui/jquery-ui.theme.min.css" type="text/css" rel="stylesheet" media="all">
{% endblock %}
