{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute().getName(), account) }}
{% endblock %}

{% block content %}

    <form method="POST" action="{{ route('accounts.destroy',account.id) }}" accept-charset="UTF-8" class="form-horizontal" id="destroy">
        <input name="_token" type="hidden" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('form.delete_account', {'name': account.name}) }}</h3>
                    </div>
                    <div class="box-body">
                        <p class="text-danger">
                            {{ trans('form.permDeleteWarning') }}
                        </p>

                        <p>
                            {{ trans('form.account_areYouSure', {'name': account.name}) }}
                        </p>

                        {% if account.transactions|length > 0 or account.piggyBanks|length > 0 %}
                            <p>
                                {% if account.transactions|length > 0 %}
                                    {{ Lang.choice('form.also_delete_transactions', account.transactions|length, {count: account.transactions|length}) }}
                                {% endif %}<br/>
                                {% if account.piggyBanks|length > 0 %}
                                    {{ Lang.choice('form.also_delete_piggyBanks', account.piggyBanks|length, {count: account.piggyBanks|length}) }}
                                {% endif %}
                            </p>
                        {% endif %}
                        {% if account.transactions|length > 0 %}
                            <p class="text-success">
                                {{ 'save_transactions_by_moving'|_ }}
                            </p>

                            <p>
                                {{ Form.select('move_account_before_delete', accountList, null, {class: 'form-control'}) }}
                            </p>
                        {% else %}
                            <input type="hidden" name="move_account_before_delete" value="0"/>
                        {% endif %}

                    </div>
                    <div class="box-footer">
                        <input type="submit" name="submit" value="{{ trans('form.deletePermanently') }}" class="btn pull-right btn-danger"/>
                        <a href="{{ URL.previous() }}" class="btn-default btn">{{ trans('form.cancel') }}</a>
                    </div>
                </div>
            </div>
        </div>

    </form>
{% endblock %}
