{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, account) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-10 col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ account.name }}</h3>

                    <!-- ACTIONS MENU -->
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ route('accounts.edit', account.id) }}"><i class="fa fa-pencil fa-fw"></i> {{ 'edit'|_ }}</a></li>
                                <li><a href="{{ route('accounts.delete', account.id) }}"><i class="fa fa-trash fa-fw"></i> {{ 'delete'|_ }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    <canvas id="overview-chart" style="width:100%;" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'expenses_by_category'|_ }}</h3>
                </div>
                <div class="box-body">
                    <div style="width:60%;margin:0 auto;">
                        <canvas id="account-cat-out" style="margin:0 auto;" height="150" width="150"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'expenses_by_budget'|_ }}</h3>
                </div>
                <div class="box-body">
                    <div style="width:60%;margin:0 auto;">
                        <canvas id="account-budget-out" style="margin:0 auto;" height="150" width="150"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'income_by_category'|_ }}</h3>
                </div>
                <div class="box-body">
                    <div style="width:60%;margin:0 auto;">
                        <canvas id="account-cat-in" style="margin:0 auto;" height="150" width="150"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'transactions'|_ }}</h3>
                </div>
                <div class="box-body">
                    {% include 'list.journals-tasker' with {sorting:true} %}
                    <p>
                        <i class="fa fa-calendar" aria-hidden="true"></i>
                        <a href="{{ route('accounts.show.all', [account.id]) }}">
                            {{ 'show_all_no_filter'|_ }}
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            {% for entry in entries %}
                {% if entry[2] != 0 or entry[3] != 0 %}
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title"><a href="{{ route('accounts.show.date',[account.id,entry[0]]) }}">{{ entry[1] }}</a>
                            </h3>
                        </div>
                        <div class="box-body no-padding">
                            <table class="table table-hover">
                                {% if entry[2] != 0 %}
                                    <tr>
                                        <td colspan="33%">{{ 'spent'|_ }}</td>
                                        <td colspan="67%">{{ entry[2]|formatAmount }}</td>
                                    </tr>
                                {% endif %}
                                {% if entry[3] != 0 %}
                                    <tr>
                                        <td colspan="33%">{{ 'earned'|_ }}</td>
                                        <td colspan="67%">{{ entry[3]|formatAmount }}</td>
                                    </tr>
                                {% endif %}
                            </table>
                        </div>
                    </div>
                {% endif %}

            {% endfor %}
        </div>
    </div>



{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var accountID = {{ account.id }};
        // uri's for charts:
        var incomeByCategoryUri = '{{ route('chart.account.incomeByCategory', [account.id, start.format('Ymd'), end.format('Ymd')]) }}';
        var expenseByCategoryUri = '{{ route('chart.account.expenseByCategory', [account.id, start.format('Ymd'), end.format('Ymd')]) }}';
        var expenseByBudgetUri = '{{ route('chart.account.expenseByBudget', [account.id, start.format('Ymd'), end.format('Ymd')]) }}';

    </script>

    <script type="text/javascript" src="js/lib/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="js/ff/charts.defaults.js"></script>
    <script type="text/javascript" src="js/ff/charts.js"></script>
    <script src="js/lib/jquery-ui.min.js" type="text/javascript"></script>
    <script src="js/lib/jquery.color-2.1.2.min.js" type="text/javascript"></script>
    <script src="js/ff/accounts/show.js" type="text/javascript"></script>
    <script type="text/javascript" src="js/ff/transactions/list.js"></script>
{% endblock %}
