{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'reportsOwnAccounts'|_ }}</h3>
                </div>
                <div class="box-body">

                    {% for year, entries in months %}
                        <h4><a href="{{ route('reports.year',year) }}">{{ year }}</a></h4>
                        <ul class="list-inline">
                            {% for month in entries %}
                                <li><a href="{{ route('reports.month',[month.year, month.month]) }}">{{ month.formatted }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'reportsOwnAccountsAndShared'|_ }}</h3>
                </div>
                <div class="box-body">

                    {% for year, entries in months %}
                        <h4><a href="{{ route('reports.year',[year, 'shared']) }}">{{ year }}</a></h4>
                        <ul class="list-inline">
                            {% for month in entries %}
                                <li><a href="{{ route('reports.month',[month.year, month.month,'shared']) }}">{{ month.formatted }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="js/reports.js"></script>
{% endblock %}
