{% extends "./layout/default.twig" %}
{% block content %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, start, shared) }}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-line-chart"></i>
                    {{ 'accountBalances'|_ }}
                </div>
                <div class="panel-body">
                    <div id="account-balances-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            {% include 'partials/reports/accounts.twig' %}
            {% include 'partials/reports/income-vs-expenses.twig' %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <!-- income -->
            {% include 'partials/reports/income.twig' %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <!-- expenses -->
            {% include 'partials/reports/expenses.twig' %}
        </div>
    </div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <!-- budgets -->
        {% include 'partials/reports/budgets.twig' %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <!-- categories -->
        {% include 'partials/reports/categories.twig' %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        {% include 'partials/reports/balance.twig' %}
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar-o fa-fw"></i>
                {{ 'bills'|_ }}
            </div>
            <div class="panel-body">Body</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-fw fa-folder-o"></i>
                {{ 'outsideOfBudgets'|_ }}
            </div>
            <div class="panel-body">Body</div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var shared = {% if shared %}'/shared'{% else %}''{% endif %};
        var incomeTopLength = {{ incomeTopLength }};
        var expenseTopLength = {{ expenseTopLength }};
        var incomeRestShow = false; // starts hidden.
        var expenseRestShow = false; // starts hidden.
        var showTheRest = '{{ trans('firefly.showTheRest',{number:incomeTopLength}) }}';
        var hideTheRest = '{{ trans('firefly.hideTheRest',{number:incomeTopLength}) }}';
        var showTheRestExpense = '{{ trans('firefly.showTheRest',{number:expenseTopLength}) }}';
        var hideTheRestExpense = '{{ trans('firefly.hideTheRest',{number:expenseTopLength}) }}';
    </script>
    <script type="text/javascript" src="js/reports.js"></script>
{% endblock %}
