{% extends "./layout/default.twig" %}
{% block content %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, start, shared) }}

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-line-chart"></i>
                    {{ 'accountBalances'|_ }}
                </div>
                <div class="panel-body">
                    <div id="account-balances-chart"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            {% include 'partials/reports/accounts.twig' %}
            {% include 'partials/reports/income-vs-expenses.twig' %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <!-- income -->
            {% include 'partials/reports/income.twig' %}
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <!-- expenses -->
            {% include 'partials/reports/expenses.twig' %}
        </div>
    </div>
<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12">
        <!-- budgets -->
        {% include 'partials/reports/budgets.twig' %}
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bar-chart fa-fw"></i>
                {{ 'categories'|_ }}
            </div>
            <table class="table table-bordered">
                <tr>
                    <th>{{ 'categories'|_ }}</th>
                    <th>{{ 'spent'|_ }}</th>
                </tr>
                {% set sum = 0 %}
                {% for data in categories %}
                    {% if data[1] > 0 %}
                        <tr>
                            <td>
                                <a href="{{route('categories.show',data[0].id)}}">{{ data[0].name }}</a>
                            </td>
                            <td><span class="text-danger">{{  (data[1])|formatAmountPlain  }}</span></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">

    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-sort-amount-asc fa-fw"></i>
                {{ 'budgets'|_ }} ({{ 'splitByAccount'|_|lower }})
            </div>
            <table class="table table-bordered table-striped">
                <tr>
                    <th colspan="2">{{ 'budgets'|_ }}</th>
                    {% for account in accounts %}
                        <th><a href="{{route('accounts.show',account.id)}}">{{ account.name }}</a></th>
                    {% endfor %}
                    <th colspan="2">
                        {{ 'leftInBudget'|_ }}
                    </th>
                </tr>
                {% for data in budgets %}
                    {% if data[0] %}
                        <tr>
                            <td>{{ data[0].name }}</td>
                            <td>
                                {% if data[1] %}
                                    {{  data[1].amount|formatAmount  }}
                                {% else %}
                                    {{ 0|formatAmount }}
                                {% endif %}
                            </td>
                            {% set spent = 0 %}
                            {% for account in accounts %}
                                {% if account.budgetInformation[id] %}
                                    <td>
                                        {% if id == 0 %}
                                            <a href="{{route('reports.no-budget',[account, year, month])}}" class="openModal">
                                                {{  account.budgetInformation[id].queryAmount|formatAmount  }}
                                            </a>
                                        {% else %}
                                            {{  account.budgetInformation[id].queryAmount|formatAmount  }}
                                        {% endif %}
                                    </td>
                                    {% set spent = spent + account.budgetInformation[id].queryAmount %}
                                {% else %}
                                    <td>{{  0|formatAmount  }}</td>
                                {% endif %}
                            {% endfor %}
                            <td>
                                {% if data[1] %}
                                    {{  (data[1].amount - data[3])|formatAmount  }}
                                {% else %}
                                    {{  (0 - data[3])|formatAmount  }}
                                {% endif %}
                            </td>
                            <td>{{ data[2]|formatAmount }}</td>
                        </tr>
                    {% endif %}
                {% endfor %}
                <tr>
                    <td colspan="2">{{ 'balancedByTransfersAndTags'|_ }}</td>
                    {% for account in accounts %}
                        {% if not account.hide %}
                            <td>
                                <a href="{{route('reports.balanced-transfers',[account, year, month])}}" class="openModal">{{  account.balancedAmount|formatAmount  }}</a>
                            </td>
                        {% endif %}
                    {% endfor %}
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">{{ 'leftUnbalanced'|_ }}</td>
                    {% for account in accounts %}

                        {% if not account.hide %}
                            {% if account.budgetInformation[0] %}
                                <td>
                                    {% if account.budgetInformation[0].queryAmount + account.balancedAmount != 0.0 %}
                                        <a href="{{route('reports.left-unbalanced',[account, year, month])}}" class="openModal">{{  (account.budgetInformation[0].queryAmount + account.balancedAmount)|formatAmount  }}</a>
                                    {% else %}
                                        {{  (account.budgetInformation[0].queryAmount + account.balancedAmount)|formatAmount  }}
                                    {% endif %}
                                </td>
                            {% else %}
                                <td>{{  0|formatAmount  }}</td>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2"><em>{{ 'sum'|_ }}</em></td>
                    {% for account in accounts %}
                        {% if not account.hide %}
                            <td>{{  accountAmounts[account.id]|formatAmount  }}</td>
                        {% endif %}
                    {% endfor %}
                    <td colspan="2">&nbsp;</td>
                </tr>
                <tr>
                    <td colspan="2">{{ 'expectedBalance'|_ }}</td>
                    {% for account in accounts %}
                        {% if not account.hide %}
                            <td>{{  (account.startBalance + accountAmounts[account.id])|formatAmount  }}</td>
                        {% endif %}
                    {% endfor %}
                    <td colspan="2">&nbsp;</td>
                </tr>

            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-calendar-o fa-fw"></i>
                {{ 'bills'|_ }}
            </div>
            <div class="panel-body">Body</div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-fw fa-folder-o"></i>
                {{ 'outsideOfBudgets'|_ }}
            </div>
            <div class="panel-body">Body</div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var shared = {% if shared %}'/shared'{% else %}''{% endif %};
        var incomeTopLength = {{ incomeTopLength }};
        var expenseTopLength = {{ expenseTopLength }};
        var incomeRestShow = false; // starts hidden.
        var expenseRestShow = false; // starts hidden.
        var showTheRest = '{{ trans('firefly.showTheRest',{number:incomeTopLength}) }}';
        var hideTheRest = '{{ trans('firefly.hideTheRest',{number:incomeTopLength}) }}';
        var showTheRestExpense = '{{ trans('firefly.showTheRest',{number:expenseTopLength}) }}';
        var hideTheRestExpense = '{{ trans('firefly.hideTheRest',{number:expenseTopLength}) }}';
    </script>
    <script type="text/javascript" src="js/reports.js"></script>
{% endblock %}
