<!DOCTYPE html>
<html>
<head>
    <base href="{{ route('index') }}/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Firefly III | Maintenance Mode</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="v2/plugins/local-fonts/gf-source.css" nonce="{{ JS_NONCE }}">
    <link rel="stylesheet" href="v2/css/app.css" nonce="{{ JS_NONCE }}">

</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="error-page">
                <h2 class="headline text-info">503</h2>

                <div class="error-content">
                    <h3><i class="fas fa-wrench text-info"></i> {{ trans('errors.maintenance_mode') }}</h3>
                    <p>
                        {{ trans('errors.check_back') }}
                    </p>
                    {% if 'demo.firefly-iii.org' == Request.getHost() %}
                        <p>
                            <i class="fas fa-recycle"></i> The Firefly III demo website resets every <strong>four hours</strong>.
                            Please wait for this process to finish. It should take less than a minute.
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

