<aside class="control-sidebar control-sidebar-dark">
    <div class="tab-content">
        <div class="tab-panel active" id="control-sidebar-home-tab">
            <h3 class="control-sidebar-heading">{{ 'create_new_stuff'|_ }}</h3>
            <ul class='control-sidebar-menu'>
                <li>
                    <a href="{{ route('transactions.create', 'withdrawal') }}">
                        <span class="menu-icon fa fa-long-arrow-left bg-red"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_withdrawal'|_ }}</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('transactions.create', 'deposit') }}">
                        <span class="menu-icon fa fa-long-arrow-right bg-green"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_deposit'|_ }}</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('transactions.create', 'transfer') }}">
                        <span class="menu-icon fa fa-exchange bg-blue"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_transfer'|_ }}</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('accounts.create', 'asset') }}">
                        <span class="menu-icon fa fa-money bg-maroon"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_asset_account'|_ }}</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('accounts.create', 'expense') }}">
                        <span class="menu-icon fa fa-shopping-cart bg-maroon"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_expense_account'|_ }}</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('accounts.create', 'revenue') }}">
                        <span class="menu-icon fa fa-download bg-maroon"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_revenue_account'|_ }}</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('accounts.create', 'liabilities') }}">
                        <span class="menu-icon fa fa-ticket bg-maroon"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_liabilities_account'|_ }}</h4>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="{{ route('budgets.create') }}">
                        <span class="menu-icon fa fa-pie-chart bg-red"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_budget'|_ }}</h4>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="{{ route('categories.create') }}">
                        <span class="menu-icon fa fa-bookmark bg-red"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_category'|_ }}</h4>
                        </div>
                    </a>
                </li>

                <li>
                    <a href="{{ route('piggy-banks.create') }}">
                        <span class="menu-icon fa fa-bullseye bg-teal"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_piggy_bank'|_ }}</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('subscriptions.create') }}">
                        <span class="menu-icon fa fa-calendar-o bg-purple"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_bill'|_ }}</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('rules.create') }}">
                        <span class="menu-icon fa fa-random bg-red"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_rule'|_ }}</h4>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="{{ route('recurring.create') }}">
                        <span class="menu-icon fa fa-paint-brush bg-teal"></span>

                        <div class="menu-info">
                            <h4 class="control-sidebar-subheading">{{ 'new_recurring_transaction'|_ }}</h4>
                        </div>
                    </a>
                </li>

            </ul>

        </div>
    </div>
</aside>
<div class='control-sidebar-bg'></div>
