<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 col-lg-offset-3 col-md-offset-3">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">{{ ('no_'~type~'_title_'~what)|_ }}</h3>
            </div>

            <div class="box-body table-responsive">
                <p>
                    {{ ('no_'~type~'_intro_'~what)|_ }}
                </p>
                <p>
                    {{ ('no_'~type~'_imperative_'~what)|_ }}

                </p>
                <p style="text-align: center;">
                    <a class="btn btn-lg btn-success" href="{{ route }}">{{ ('no_'~type~'_create_'~what)|_ }}</a>
                </p>
            </div>

        </div>
    </div>
</div>
<script type="text/javascript">
    forceDemoOff = true;
</script>
