<ul class="sidebar-menu">
    <!-- home / dashboard -->
    <li class="{{ activeRouteStrict('index') }} treeview">
        <a href="{{ route('index') }}"><i class="fa fa-dashboard fa-fw"></i>
            <span>{{ 'dashboard'|_ }}</span></a>
    </li>
    <!-- accounts -->
    <li class="{{ activeRoutePartial('accounts') }} treeview" id="account-menu">
        <a href="#">
            <i class="fa fa-credit-card fa-fw"></i>
            <span>{{ 'accounts'|_ }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <!-- submenu for accounts -->
        <ul class="treeview-menu">
            <li class="{{ activeRoutePartialWhat('accounts', 'asset') }}">
                <a href="{{ route('accounts.index','asset') }}">
                    <i class="fa fa-money fa-fw"></i> {{ 'asset_accounts'|_ }}
                </a>
            </li>
            <li class="{{ activeRoutePartialWhat('accounts', 'expense') }}">
                <a href="{{ route('accounts.index','expense') }}">
                    <i class="fa fa-shopping-cart fa-fw"></i> {{ 'expense_accounts'|_ }}
                </a>
            </li>
            <li class="{{ activeRoutePartialWhat('accounts', 'revenue') }}">
                <a href="{{ route('accounts.index','revenue') }}">
                    <i class="fa fa-download fa-fw"></i> {{ 'revenue_accounts'|_ }}
                </a>
            </li>
        </ul>
    </li>
    <!-- budgets-->
    <li class="{{ activeRoutePartial('budgets') }}" id="budget-menu">
        <a href="{{ route('budgets.index') }}">
            <i class="fa fa-tasks fa-fw"></i>
            <span>{{ 'budgets'|_ }}</span>
        </a>
    </li>
    <!-- categories -->
    <li class="{{ activeRoutePartial('categories') }}">
        <a href="{{ route('categories.index') }}">
            <i class="fa fa-bar-chart fa-fw"></i>
            <span>{{ 'categories'|_ }}</span>
        </a>
    </li>
    <!-- tags -->
    <li class="{{ activeRoutePartial('tags') }}">
        <a href="{{ route('tags.index') }}">
            <i class="fa fa-tags fa-fw"></i>
            <span>{{ 'tags'|_ }}</span>
        </a>
    </li>

    <!-- reports -->
    <li class="{{ activeRoutePartial('reports') }}" id="report-menu">
        <a href="{{ route('reports.index') }}">
            <i class="fa fa-line-chart fa-fw"></i>
            <span>{{ 'reports'|_ }}</span>
        </a>
    </li>

    <!-- transactions -->
    <li class="{{ activeRoutePartial('transactions') }} treeview" id="transaction-menu">
        <a href="#">
            <i class="fa fa-repeat"></i>
            <span>{{ 'transactions'|_ }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="{{ activeRoutePartialWhat('transactions','withdrawal') }}">
                <a href="{{ route('transactions.index','withdrawal') }}">
                    <i class="fa fa-long-arrow-left fa-fw"></i> {{ 'expenses'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartialWhat('transactions','deposit') }}">
                <a href="{{ route('transactions.index','deposit') }}"><i
                            class="fa fa-long-arrow-right fa-fw"></i> {{ 'income'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartialWhat('transactions','transfers') }}">
                <a href="{{ route('transactions.index','transfers') }}">
                    <i class="fa fa-fw fa-exchange"></i> {{ 'transfers'|_ }}</a>
            </li>
        </ul>

    </li>
    <!-- money management -->
    <li class="{{ activeRoutePartial('bills') }} {{ activeRoutePartial('piggy-banks') }} {{ activeRoutePartial('rules') }} treeview">
        <a href="#">
            <i class="fa fa-euro fa-fw"></i>
            <span>{{ 'moneyManagement'|_ }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="{{ activeRoutePartial('piggy-banks') }}">
                <a href="{{ route('piggy-banks.index') }}">
                    <i class="fa fa-sort-amount-asc fa-fw"></i> {{ 'piggyBanks'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartial('bills') }}">
                <a href="{{ route('bills.index') }}">
                    <i class="fa fa-calendar-o fa-fw"></i> {{ 'bills'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartial('rules') }}">
                <a href="{{ route('rules.index') }}">
                    <i class="fa fa-random fa-fw"></i> {{ 'rules'|_ }}</a>
            </li>
        </ul>

    </li>

    <!-- import and export  -->
    <li class="{{ activeRoutePartial('export') }} {{ activeRoutePartial('import') }} treeview">
        <a href="#">
            <i class="fa fa-arrows-alt fa-fw"></i>
            <span>
                {{ 'import_and_export'|_ }}
            </span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="{{ activeRoutePartial('import') }}">
                <a href="{{ route('import.index') }}"><i class="fa fa-archive fa-fw"></i> {{ 'import_data'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartial('export') }}">
                <a href="{{ route('export.index') }}"><i class="fa fa-file-archive-o fa-fw"></i> {{ 'export_data'|_ }}</a>
            </li>
        </ul>

    </li>

    <!-- options and preferences -->

    <li id="option-menu"
        class="{{ activeRoutePartial('admin') }} {{ activeRoutePartial('profile') }} {{ activeRoutePartial('preferences') }} {{ activeRoutePartial('currency') }} treeview">
        <a href="#">
            <i class="fa fa-gears fa-fw"></i>
            <span>{{ 'options'|_ }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>

        <ul class="treeview-menu">
            {% if not SANDSTORM %}
                <li class="{{ activeRoutePartial('profile') }}">
                    <a class="{{ activeRouteStrict('profile.index') }}" href="{{ route('profile.index') }}"><i class="fa fa-user fa-fw"></i> {{ 'profile'|_ }}
                    </a>
                </li>
            {% endif %}
            <li class="{{ activeRoutePartial('preferences') }}">
                <a class="{{ activeRouteStrict('preferences.index') }}" href="{{ route('preferences.index') }}"><i
                            class="fa fa-gear fa-fw"></i> {{ 'preferences'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartial('currency') }}">
                <a class="{{ activeRoutePartial('currency') }}" href="{{ route('currencies.index') }}"><i class="fa fa-usd fa-fw"></i> {{ 'currencies'|_ }}</a>
            </li>
            <!-- admin (if user admin) -->
            {% if Auth.user.hasRole('owner') %}
                <li class="{{ activeRoutePartial('admin') }}">
                    <a class="{{ activeRoutePartial('admin') }}" href="{{ route('admin.index') }}"><i
                                class="fa fa-hand-spock-o fa-fw"></i> {{ 'administration'|_ }}</a>
                </li>
            {% endif %}
        </ul>


    </li>


    <!-- other options -->
    {% if not SANDSTORM %}
        <li>
            <a href="{{ route('logout') }}">
                <i class="fa fa-sign-out fa-fw"></i>
                <span>{{ 'logout'|_ }}</span>
            </a>
        </li>
    {% endif %}
</ul>
