<!-- Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">
                    {{ 'secure_pw_title'|_ }}
                </h4>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'secure_pw_history'|_ }}
                </p>
                <p>
                    {{ 'secure_pw_check_box'|_ }}
                </p>
                <h4>{{ 'secure_pw_sha1'|_ }}</h4>
                <p>
                    {{ 'secure_pw_hash_speed'|_ }}
                </p>
                <p>
                    {{ 'secure_pw_hash_security'|_ }}
                </p>
                <h4>{{ 'secure_pw_should'|_ }}</h4>
                <p>
                    {{ 'secure_pw_long_password'|_ }}
                </p>
                <p>
                    {{ 'secure_pw_short'|_ }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|_ }}</button>
            </div>
        </div>
    </div>
</div>