{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, what, moment, start, end) }}
{% endblock %}

{% block content %}

    {# upper show-all instruction #}
    {% if periods.count > 0 %}
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('transactions.index',[what, 'all']) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
        </div>
    {% endif %}

    {# list with journals #}
    <div class="row">
        <div class="{% if periods.count > 0 %}col-lg-10 col-md-10 col-sm-12{% else %}col-lg-12 col-md-12 col-sm-12{% endif %}">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ subTitle }}</h3>
                </div>
                <div class="box-body ">
                    {# actual list #}
                    {% include 'list.journals' with {'journals': journals} %}

                    {# links for other views #}
                    {% if periods.count > 0 %}
                        <p>
                            <i class="fa fa-calendar"></i>
                            <a href="{{ route('transactions.index', [what, 'all']) }}">{{ 'show_all_no_filter'|_ }}</a>
                        </p>
                    {% else %}
                        <p>
                            <i class="fa fa-calendar"></i>
                            <a href="{{ route('transactions.index', [what]) }}">{{ 'show_the_current_period_and_overview'|_ }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        {# boxes with info #}
        {% if periods.count > 0 %}
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {% for period in periods %}

                    {% if period.sum != 0 %}

                        <div class="box {% if period.date == start %}box-solid box-primary{% endif %}">
                            <div class="box-header with-border">
                                <h3 class="box-title"><a href="{{ route('transactions.index',[what, period.string]) }}">{{ period.name }}</a>
                                </h3>
                            </div>
                            <div class="box-body no-padding">
                                <table class="table table-hover">
                                    <tbody>
                                    {% for sum in period.sums %}
                                        <tr>
                                            <td style="width:33%;">
                                                {% if what == 'withdrawal' %}
                                                    {{ 'spent'|_ }}
                                                {% endif %}
                                                {% if what == 'deposit' %}
                                                    {{ 'earned'|_ }}
                                                {% endif %}
                                                {% if what == 'transfers' or what == 'transfer' %}
                                                    {{ 'transferred'|_ }}
                                                {% endif %}
                                            </td>
                                            <td style="text-align: right;" title="{{ trans('list.number_of_transactions') }}: {{ sum.count }}">
                                                {% if what == 'transfers' or what == 'transfer' %}
                                                    <span class="text-info">
                                                        {{ formatAmountBySymbol(Steam.positive(sum.sum), sum.currency.symbol, sum.currency.dp, false) }}
                                                    </span>
                                                {% else %}
                                                    {{ formatAmountBySymbol(sum.sum, sum.currency.symbol, sum.currency.dp) }}
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}

    </div>

    {# lower show-all instruction #}
    {% if periods.count > 0 %}
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('transactions.index',[what, 'all']) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="js/ff/transactions/list.js"></script>
{% endblock %}
