{% set VUE_SCRIPT_NAME = 'edit_transaction' %}
@extends('layout.v3.session')
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, transactionGroup) }}
@endsection

@section('content')
    <div id="edit_transaction"></div>
@endsection


{% block definitions %}
    <script type="text/javascript" nonce="{{ $JS_NONCE }}">
        var allowedOpposingTypes = {{ allowedOpposingTypes|json_encode|raw }};
        var accountToTypes = {{ accountToTypes|json_encode|raw }};
        var primaryCurrency = {{ primaryCurrency.toArray()|json_encode|raw }};
        var allowedSourceDests = {{ allowedSourceDests|json_encode|raw }};
        var expectedSourceTypes = {{ expectedSourceTypes|json_encode|raw }};
        var cashAccountId = {{ cash.id }};
        var previousUrl = '{{ previousUrl }}';
    </script>
@endsection

@section('scripts')

@endsection
@section('styles')
@endsection
