@extends('layout.v3.session')

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, objectType, start, end) }}
@endsection

@section('content')

    {# upper show-all instruction #}
    @if(count($periods) > 0)
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('transactions.index.all',[objectType]) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
        </div>
    @endif

    @if(count($periods) > 0)

        {% set boxSize = 'col-lg-4 col-md-6 col-sm-12 col-xs-12' %}
        <div class="row">
            {# for withdrawals, deposits and transfers #}
            <div class="{{ boxSize }}">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'categories'|_ }}</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="category_chart" class="medium-chart" height="250"></canvas>
                    </div>
                </div>
            </div>
            {# only for withdrawals #}
            {% if objectType == 'withdrawal' %}
                <div class="{{ boxSize }}">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{ 'budgets'|_ }}</h3>
                        </div>
                        <div class="card-body">
                            <canvas id="budget_chart" class="medium-chart" height="250"></canvas>
                        </div>
                    </div>
                </div>
            @endif
            {% if objectType != 'withdrawal' %}
                <div class="{{ boxSize }}">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">{{ 'all_source_accounts'|_ }}</h3>
                        </div>
                        <div class="card-body">
                            <canvas id="source_chart" class="medium-chart" height="250"></canvas>
                        </div>
                    </div>
                </div>
            @endif
            {# for all #}
            <div class="{{ boxSize }}">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'all_destination_accounts'|_ }}</h3>
                    </div>
                    <div class="card-body">
                        <canvas id="destination_chart" class="medium-chart" height="250"></canvas>
                    </div>
                </div>
            </div>
        </div>
    @endif

    {# list with journals #}
    <div class="row">
        <div class="@if(count($periods) > 0)col-lg-10 col-md-10 col-sm-12@elsecol-lg-12 col-md-12 col-sm-12@endif">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">{{ subTitle }}</h3>
                </div>
                <div class="box-body no-padding">
                    <div class="p-2">
                        <a href="{{ route('transactions.create', [objectType]) }}" class="btn btn-success"><span class="bi bi-plus-circle"></span> {{ 'create_new_transaction'|_ }}</a>
                    </div>
                    {# actual list #}
                    {% include 'list.groups' %}
                </div>
                <div class="card-footer">
                    {# links for other views #}
                    @if(count($periods) > 0)
                        <p>
                            <span class="bi bi-calendar"></span>
                            <a href="{{ route('transactions.index.all', [objectType]) }}">{{ __('firefly.show_all_no_filter') }}</a>
                        </p>
                    @else
                        <p>
                            <span class="bi bi-calendar"></span>
                            <a href="{{ route('transactions.index', [objectType]) }}">{{ __('firefly.show_the_current_period_and_overview') }}</a>
                        </p>
                    @endif
                </div>
            </div>
        </div>

        {# boxes with info #}
        @if(count($periods) > 0)
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {% include 'list.periods' %}
            </div>
        @endif

    </div>

    {# lower show-all instruction #}
    @if(count($periods) > 0)
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('transactions.index.all', [objectType]) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
        </div>
    @endif

@endsection
@section('scripts')
    {# required for groups.twig #}
    <script type="text/javascript" src="v1/js/ff/list/groups.js?v={{ $FF_BUILD_TIME }}" nonce="{{ $JS_NONCE }}"></script>
    <script type="text/javascript" nonce="{{ $JS_NONCE }}">
        var showAll = @if(count($periods) > 0)false@elsetrue@endif;

        var categoryChartUrl = '{{ route('chart.transactions.categories', [objectType, start.format('Y-m-d'), end.format('Y-m-d')]) }}';
        var budgetChartUrl = '{{ route('chart.transactions.budgets', [start.format('Y-m-d'), end.format('Y-m-d')]) }}';
        var destinationChartUrl = '{{ route('chart.transactions.destinationAccounts', [objectType, start.format('Y-m-d'), end.format('Y-m-d')]) }}';
        var sourceChartUrl = '{{ route('chart.transactions.sourceAccounts', [objectType, start.format('Y-m-d'), end.format('Y-m-d')]) }}';

    </script>
    <script type="text/javascript" src="v1/js/lib/Chart.bundle.min.js?v={{ $FF_BUILD_TIME }}" nonce="{{ $JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/lib/chartjs-plugin-annotation.min.js?v={{ $FF_BUILD_TIME }}" nonce="{{ $JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/ff/charts.defaults.js?v={{ $FF_BUILD_TIME }}" nonce="{{ $JS_NONCE }}"></script>
    <script type="text/javascript" src="v1/js/ff/charts.js?v={{ $FF_BUILD_TIME }}" nonce="{{ $JS_NONCE }}"></script>

    <script type="text/javascript" src="v1/js/ff/transactions/index.js?v={{ $FF_BUILD_TIME }}" nonce="{{ $JS_NONCE }}"></script>
@endsection
