{% extends "./layout/guest.twig" %}

{% block content %}


    {% if session.status %}
        <div class="alert alert-success">
            {{ session.status }}
        </div>
    {% endif %}

    {% if errors|length > 0 %}
        <div class="alert alert-danger">
            <strong>Whoops!</strong> There were some problems with your input.<br><br>
            <ul>
                {% for error in errors.all %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}



    <div class="login-box-body">
        {% if session('status') %}
            <p class="login-box-msg text-success">
                {{ session('status') }}
            </p>
        {% else %}
            <p class="login-box-msg">Reset your password</p>

            <form role="form" method="POST" action="{{ URL.to('/password/email') }}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

                <div class="form-group has-feedback">
                    <input type="email" class="form-control" name="email" placeholder="Email"/>
                </div>

                <div class="row">
                    <!-- /.col -->
                    <div class="col-xs-12">
                        <button type="submit" class="btn btn-primary btn-flat pull-right">Reset</button>
                    </div>
                    <!-- /.col -->
                </div>

            </form>

        {% endif %}

        <a href="{{ URL.to('/login') }}">I want to login</a><br>
        {% if Config.get('auth.allow_register') %}
            <a href="{{ route('register') }}" class="text-center">Register a new account</a><br>
        {% endif %}

    </div><!-- /.login-box-body -->

{% endblock %}
