<div class="popover" role="tooltip">
    <div class="arrow"></div>
    <h3 class="popover-title"></h3>

    <div class="popover-content"></div>
    <div class="popover-navigation">
        <div class="btn-group">
            <button class="btn btn-sm btn-default" data-role="prev">&laquo; {{ 'prev'|_ }}</button>
            <button class="btn btn-sm btn-default" data-role="next">{{ 'prev'|_ }} &raquo;</button>
            <button class="btn btn-sm btn-default" data-role="pause-resume" data-pause-text="{{ 'pause'|_ }}"
                    data-resume-text="Resume"> {{ 'pause'|_ }}</button>
        </div>
        <button class="btn btn-sm btn-default" data-role="end">{{ 'end-tour'|_ }}</button>
    </div>
</div>
