<table class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsort="disabled">&nbsp;</th>
        <th data-defaultsign="az">{{ trans('list.name') }}</th>
        <th data-defaultsign="month" class="hidden-sm hidden-xs">{{ trans('list.lastActivity') }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>&nbsp;</td>
        <td><a href="{{ route('categories.no-category') }}"><em>{{ 'without_category'|_ }}</em></a></td>
        <td class="hidden-sm hidden-xs">&nbsp;</td>
    </tr>
    {% for category in categories %}
        <tr>
            <td>
                <div class="btn-group btn-group-xs">
                    <a href="{{ route('categories.edit', category.id) }}" class="btn btn-default btn-xs"><i class="fa fa-fw fa-pencil"></i></a>
                    <a href="{{ route('categories.delete', category.id) }}" class="btn btn-danger btn-xs"><i class="fa fa-fw fa-trash-o"></i></a>
                </div>
            </td>
            <td data-value="{{ category.name }}">
                <a href="{{ route('categories.show', category.id) }}" title="{{ category.name }}">{{ category.name }}</a>
            </td>
            {% if category.lastActivity.year != "1900" %}
                <td class="hidden-sm hidden-xs" data-value="{{ category.lastActivity.format('Y-m-d H-i-s') }}">
                    {{ category.lastActivity.formatLocalized(monthAndDayFormat) }}
                </td>
            {% else %}
                <td class="hidden-sm hidden-xs" data-value="0000-00-00 00-00-00">
                    <em>{{ 'never'|_ }}</em>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
