{{ transactions.render|raw }}

<table class="table table-hover table-condensed {% if sorting %}sortable-table{% endif %}">
    <thead>
    <tr class="ignore">
        <th class="hidden-xs no_select_boxes" colspan="2">&nbsp;</th>
        <th class="hidden-xs select_boxes" colspan="2" style="display: none;"><input name="select_all" class="select_all" type="checkbox"/></th>
        <th>{{ trans('list.description') }}</th>
        <th>{{ trans('list.amount') }}</th>
        <th class="hidden-xs hidden-sm">{{ trans('list.date') }}</th>
        <th class="hidden-xs hidden-sm hidden-md">{{ trans('list.from') }}</th>
        <th class="hidden-xs hidden-sm hidden-md">{{ trans('list.to') }}</th>
        {# Hide budgets? #}
        {% if not hideBudgets %}
            <th class="hidden-xs"><i class="fa fa-tasks fa-fw" title="{{ trans('list.budget') }}"></i></th>
        {% endif %}

        {# Hide categories? #}
        {% if not hideCategories %}
            <th class="hidden-xs"><i class="fa fa-bar-chart fa-fw" title="{{ trans('list.category') }}"></i></th>
        {% endif %}

        {# Hide bills? #}
        {% if not hideBills %}
            <th class="hidden-xs"><i class="fa fa-fw fa-calendar-o" title="{{ trans('list.bill') }}"></i></th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
        {% include 'partials.transaction-row' %}
    {% endfor %}
    </tbody>
</table>
<div class="row mass_edit_all hidden-xs" style="display: none;">
    <div class="col-lg-8 col-md-12 col-sm-12 col-xs-12">
        <div class="mass_button_options btn-group btn-group" style="display:none;">
            <a href="#" class="btn btn-default mass_edit"><i class="fa fa-fw fa-pencil"></i> <span>{{ 'edit'|_ }}</span></a>
            {#<a href="#" class="btn btn-default mass_reconcile"><i class="fa fa-fw fa-check"></i> <span>{{ 'reconcile_selected'|_ }} (<i class="fa fa-spinner fa-spin"></i>)</span></a>#}
            <a href="#" class="btn btn-danger mass_delete"><i class="fa fa-fw fa-trash"></i> <span>{{ 'delete'|_ }}</span></a>
        </div>

    </div>
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12 hidden-xs">

        <div class="mass_buttons btn-group btn-group pull-right">
            <a href="#" class="btn btn-default mass_select"><i class="fa fa-fw fa-check-square-o"></i> {{ 'select_transactions'|_ }}</a>
            <a href="#" class="btn btn-default mass_stop_select" style="display:none;"><i class="fa faw-fw fa-square-o"
                                                                                         ></i> {{ 'stop_selection'|_ }}</a>
            {% if showReconcile == true %}
                {% if moment == 'all' %}
                    <a href="{{ route('accounts.reconcile', [account.id, start.format('Ymd')]) }}" class="btn btn-info mass_reconcile"><i class="fa fa-fw fa-check"></i> {{ 'reconcile_this_account'|_ }}</a>
                {% else %}
                    <a href="{{ route('accounts.reconcile', [account.id, start.format('Ymd'), end.format('Ymd')]) }}" class="btn btn-info mass_reconcile"><i class="fa fa-fw fa-check"></i> {{ 'reconcile_this_account'|_ }}</a>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        {{ transactions.render|raw }}
    </div>
</div>
<script type="text/javascript">
    var edit_selected_txt = "{{ trans('firefly.edit')|escape('js') }}";
    var delete_selected_txt = "{{ trans('firefly.delete')|escape('js') }}";
</script>
