<div class="list-group">
    {% for journal in transactions %}

        <a class="list-group-item" title="{{ journal.date.formatLocalized(trans('config.month_and_day')) }}" href="{{ route('transactions.show',journal.id) }}">

            {{ journal|typeIcon }}

            {{ journal.description }}

            <span class="pull-right small">
    {{ journal|formatJournal }}

    </span>

        </a>
    {% endfor %}
</div>
