<table class="table table-hover table-responsive">
    <tr>
        {% if showPiggyBank %}
            <th>{{ trans('list.piggy_bank') }}</th>
        {% endif %}
        <th>{{ trans('list.date') }}</th>
        <th>{{ trans('list.amount') }}</th>
    </tr>
    {% for event in events %}
        <tr>
            {% if showPiggyBank %}
                <td>
                    <a href="{{ route('piggy-banks.show',event.piggyBank.id) }}">{{ event.piggyBank.name }}</a>
                </td>
            {% endif %}
            <td>
                {% if event.transaction_journal_id %}
                    <a href="{{ route('transactions.show',event.transactionJournal.transaction_group_id) }}"
                       title="{{ event.transactionJournal.description }}">{{ event.date.isoFormat(monthAndDayFormat) }}</a>
                {% else %}
                    {{ event.date.isoFormat(monthAndDayFormat) }}
                {% endif %}
            </td>

            <td style="text-align: right;">

                {% if event.amount < 0 %}
                    <span class="text-danger money-negative">{{ trans('firefly.removed_amount', {amount: formatAmountBySymbol(event.amount,event.piggyBank.transactionCurrency.symbol, false)})|raw }}</span>
                {% else %}
                     <span class="text-success money-positive">{{ trans('firefly.added_amount', {amount: formatAmountBySymbol(event.amount, event.piggyBank.transactionCurrency.symbol, false)})|raw }}</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
