{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-9 col-sm-8 col-md-8">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ periodStart }} &mdash; {{ periodEnd }}</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-3">
                            <small>{{ 'budgeted'|_ }}: <span id="budgetedAmount" class="text-success">{{ budgeted|formatAmountPlain }}</span></small>
                        </div>
                        <div class="col-lg-6 col-md-4 col-sm-3" style="text-align:right;">
                            <small>{{ trans('firefly.available_between',{start : periodStart, end: periodEnd }) }}:
                                <a href="#" class="updateIncome"><span id="available"
                                                                       data-value="{{ available }}">{{ available|formatAmountPlain }}</span></a>
                            </small>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="progress budgetedBar">
                                <div class="progress-bar progress-bar-danger" id="progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 0;"></div>
                                <div class="progress-bar progress-bar-warning" id="progress-bar-warning" role="progressbar" aria-valuenow="10" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 0;"></div>
                                <div class="progress-bar progress-bar-info" id="progress-bar-default" role="progressbar" aria-valuenow="0" aria-valuemin="0"
                                     aria-valuemax="100" style="width: 0;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-4 col-sm-3">
                            <small>{{ trans('firefly.spent_between', {start: periodStart, end: periodEnd}) }}: {{ spent|formatAmount }}</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="progress spentBar">
                                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0;"></div>
                                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0;"></div>
                                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                     style="width: 0;"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-sm-4 col-md-4">

            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'transactionsWithoutBudget'|_ }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        <a href="{{ route('budgets.no-budget') }}">
                            {{ trans('firefly.transactions_no_budget', {start: periodStart, end: periodEnd }) }}
                        </a>
                    </p>
                </div>
            </div>
            {% if budgets.count > 0 and inactive.count > 0 %}
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'createBudget'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        <a href="{{ route('budgets.create') }}" class="btn btn-success pull-right">{{ 'createBudget'|_ }}</a>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
    {% if budgets.count == 0 and inactive.count == 0 %}
        {% include 'partials.empty' with {what: 'default', type: 'budgets',route: route('budgets.create')} %}
    {% endif %}

    {# date thing #}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Period thing</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-2">
                            <select class="form-control selectPeriod" name="previous">
                                <option label="{{ 'select_date'|_ }}" value="x">{{ 'select_date'|_ }}</option>
                                {% for format, previousLabel in previousLoop %}
                                    <option label="{{ previousLabel }}" value="{{ format }}">{{ previousLabel }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-8 text-center">
                            <div class="btn btn-group btn-group-lg" style="padding-top:0;">
                                <a href="{{ route('budgets.index', [prev.format('Y-m-d')]) }}" class="btn btn-default" title="{{ prevText }}">&larr;</a>
                                <a href="{{ route('budgets.index', [start.format('Y-m-d')]) }}" class="btn btn-default">{{ currentMonth }}</a>
                                <a href="{{ route('budgets.index', [next.format('Y-m-d')]) }}" class="btn btn-default" title="{{ nextText }}">&rarr;</a>
                            </div>
                        </div>
                        <div class="col-lg-2 text-right">
                            <select class="form-control selectPeriod" name="next">
                                <option label="{{ 'select_date'|_ }}" value="x">{{ 'select_date'|_ }}</option>
                                {% for format, nextLabel in nextLoop %}
                                    <option label="{{ nextLabel }}" value="{{ format }}">{{ nextLabel }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Budget stuff</h3>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th style="width:10%;">&nbsp;</th>
                            <th>{{ 'budget'|_ }}</th>
                            <th style="width:25%;">{{ 'budgeted'|_ }}</th>
                            <th>{{ 'spent'|_ }}</th>
                            <th>{{ 'left'|_ }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for budget in budgets %}
                        <tr>
                            <td>
                                <div class="btn-group btn-group-xs">
                                    <a href="{{ route('budgets.edit',budget.id) }}" class="btn btn-xs btn-default"><i class="fa fa-fw fa-pencil"></i></a>
                                    <a href="{{ route('budgets.delete',budget.id) }}" class="btn btn-xs btn-danger"><i class="fa fa-fw fa-trash-o"></i></a>
                                </div>
                            </td>
                            <td>
                                {% if budgetInformation[budget.id]['currentLimit'] %}
                                    <a href="{{ route('budgets.show.limit', [budget.id, budgetInformation[budget.id]['currentLimit'].id]) }}"
                                       class="budget-link"
                                       data-id="{{ budget.id }}">{{ budget.name }}</a>
                                {% else %}
                                    <a href="{{ route('budgets.show',budget.id) }}" class="budget-link" data-id="{{ budget.id }}">{{ budget.name }}</a>
                                {% endif %}
                            </td>
                            <td>
                                <div class="input-group">
                                    <div class="input-group-addon">{{ defaultCurrency.symbol|raw }}</div>
                                    <input type="hidden" name="balance_currency_id" value="{{ defaultCurrency.id }}"/>
                                    {% if budgetInformation[budget.id]['currentLimit'] %}
                                        {% set repAmount = budgetInformation[budget.id]['currentLimit'].amount %}
                                    {% else %}
                                        {% set repAmount = '0' %}
                                    {% endif %}
                                    <input class="form-control budgetAmount" data-original="{{ repAmount }}"
                                           data-id="{{ budget.id }}" value="{{ repAmount|round }}" autocomplete="off"
                                           step="1" min="0" name="amount" type="number">
                                </div>
                            </td>
                            <td class="spent" data-id="{{ budget.id }}" data-spent="{{ budgetInformation[budget.id]['spent'] }}">
                                {{ budgetInformation[budget.id]['spent']|formatAmount }}
                            </td>
                            <td class="left" data-id="{{ budget.id }}">
                                {{ (repAmount + budgetInformation[budget.id]['spent'])|formatAmount }}
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    {% if inactive|length > 0 %}
        <div class="row">
            <div class="col-lg-3 col-sm-4 col-md-6">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'inactiveBudgets'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        {% for budget in inactive %}
                            {% if loop.index == inactive.count() %}
                                <a href="{{ route('budgets.show',budget.id) }}">{{ budget.name }}</a>
                            {% else %}
                                <a href="{{ route('budgets.show',budget.id) }}">{{ budget.name }}</a>,
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}
        {% block scripts %}
            <script type="text/javascript">
                // actually spent bar data:
                var spent = {{ spent * -1 }}; // must be positive for the calculation to work.
                var currencySymbol = "{{ getCurrencySymbol()|raw }}";

                // budgeted data:
                var budgeted = {{ budgeted }};
                var available = {{ available }};
                var budgetIndexURI = "{{ route('budgets.index','REPLACE') }}";
            </script>

            <script type="text/javascript" src="js/ff/budgets/index.js"></script>
        {% endblock %}
