{% extends "./layout/install" %}

{% block content %}
    <div class="login-box-body">
        <p class="login-box-msg">Please wait...</p>
        <div class="row">
            <div class="col-lg-12">
                <div id="status-box" style="border:1px #ddd solid;padding:5px;">
                    <i class="fa fa-spin fa-spinner"></i> Waiting to start...
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" nonce="{{ JS_NONCE }}">
        var token = '{{ csrf_token() }}';
        var index = 0;
        var runCommandUri = '{{ route('installer.runCommand') }}';
        var homeUri = '{{ route('flush') }}';
    </script>
    <script type="text/javascript" src="v1/js/ff/install/index.js" nonce="{{ JS_NONCE }}"></script>
{% endblock %}

