{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'import_finished'|_ }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        {{ 'import_finished_intro'|_ }}
                    </p>
                    {% if tagId > 0 %}
                        <p>
                            {{ trans('firefly.import_finished_text_with_link', {tag: tagId})|raw }}
                        </p>
                    {% else %}
                        <p>
                            {{ 'import_finished_text_without_link'|_ }}
                        </p>
                    {% endif %}

                    <p>
                        {{ 'import_share_configuration'|_ }}
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}
