{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, job) }}
{% endblock %}

{% block content %}


    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ trans('import.file_map_title') }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        {{ trans('import.file_map_text') }}
                    </p>
                    {% if data|length == 0 %}
                        <p class="text-danger">
                            {{ trans('import.file_nothing_to_map') }}
                        </p>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
    <form action="{{ route('import.configure.post', job.key) }}" method="post">
        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>



        {% for field in data %}
            <div class="row">
                <div class="col-lg-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ trans('import.column_'~field.name) }}</h3>
                        </div>
                        <div class="box-body no-padding">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th style="width:50%;">{{ trans('import.file_map_field_value') }}</th>
                                    <th>{{ trans('import.file_map_field_mapped_to') }}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for option in field.values %}
                                    <tr>
                                        <td>
                                            <code>{{ option }}</code>
                                        </td>
                                        <td>
                                            {{ Form.select('mapping['~field.index~']['~option~']',
                                                field.options,
                                                job.configuration['column-mapping-config'][field.index][option], {class: 'form-control'}) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}


        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-body">
                        <button type="submit" class="btn btn-success pull-right">
                            {{ trans('import.file_map_submit') }} <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>


{% endblock %}
