{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, journal) }}
{% endblock %}

{% block content %}
    {{ Form.open({'class' : 'form-horizontal','id' : 'destroy','url' : route('transactions.destroy',journal.id)}) }}

<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-6 col-sm-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                <i class="fa fa-exclamation-circle"></i>
                {{ trans('form.delete_journal', {'description': journal.description}) }}
            </div>
            <div class="panel-body">
                <p class="text-danger">
                    {{ trans('form.permDeleteWarning') }}
                </p>
                <p>
                    {{ trans('form.journal_areYouSure', {'description': journal.description}) }}
                </p>
                <p>
                    <input type="submit" name="submit" value="{{ trans('form.deletePermanently') }}" class="btn btn-danger" />
                    {% if journal.transactiontype.type == 'Withdrawal' %}
                        <a href="{{route('transactions.index','withdrawal')}}" class="btn-default btn">{{ trans('form.cancel') }}</a>
                    {% endif %}
                    {% if journal.transactiontype.type == 'Deposit' %}
                        <a href="{{route('transactions.index','deposit')}}" class="btn-default btn">{{ trans('form.cancel') }}</a>
                    {% endif %}
                    {% if journal.transactiontype.type == 'Transfer' %}
                        <a href="{{route('transactions.index','transfers')}}" class="btn-default btn">{{ trans('form.cancel') }}</a>
                    {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

</form>

{% endblock %}
