<div style="padding-left:8px;">
    {{ paginator.render|raw }}
</div>
<table class="table table-hover sortable">
    <thead>
    <tr>
        <th class="hidden-sm hidden-xs" data-defaultsort="disabled">&nbsp;</th>
        <th data-defaultsign="az">{{ trans('list.name') }}</th>
        <th data-defaultsort="disabled" class="hidden-sm hidden-md hidden-xs">{{ trans('list.linked_to_rules') }}</th>
        <th data-defaultsign="_19" style="text-align: right;">{{ trans('list.matchingAmount') }}</th>
        <th data-defaultsign="month" class="hidden-sm hidden-xs">{{ trans('list.paid_current_period') }}</th>
        <th data-defaultsign="month" class="hidden-sm hidden-xs">{{ trans('list.next_expected_match') }}</th>
        <th data-defaultsign="az" class="hidden-sm hidden-xs">{{ trans('list.repeat_freq') }}</th>
    </tr>
    </thead>
    <tbody>
    {% set sum_min =0 %}
    {% set sum_max =0 %}
    {% set expected_total = 0 %}
    {% set count = 0 %}

    {% for entry in bills %}
        {% if entry.active %}
            {% set count = count + 1 %}
            {% set sum_min = sum_min + entry.amount_min %}
            {% set sum_max = sum_max + entry.amount_max %}
            {% set expected_total = expected_total + ((entry.amount_min + entry.amount_max) / 2) %}
        {% endif %}
        <tr>
            <td class="hidden-sm hidden-xs">
                <div class="btn-group btn-group-xs edit_tr_buttons"><a href="{{ route('bills.edit',entry.id) }}" class="btn btn-default btn-xs"><i
                                class="fa fa-fw fa-pencil"></i></a><a href="{{ route('bills.delete',entry.id) }}" class="btn btn-danger btn-xs"><i
                                class="fa fa-fw fa-trash-o"></i></a></div>
            </td>
            <td data-value="{{ entry.name }}">
                {% if not entry.active %}
                    <i class="fa fa-fw fa-ban"></i>
                {% endif %}
                <a href="{{ route('bills.show',entry.id) }}" title="{{ entry.name }}">{{ entry.name }}</a>
                {# count attachments #}
                {% if entry.attachments_count > 0 %}
                    <i class="fa fa-paperclip"></i>
                {% endif %}

            </td>
            <td class="hidden-sm hidden-md hidden-xs rules">
                {% if entry.rules|length > 0 %}
                    <ul class="list-unstyled">
                    {% for rule in entry.rules %}
                        <li>
                            <a href="{{ route('rules.edit', [rule.id]) }}">
                                {{ rule.title }}
                            </a>
                            {% if not rule.active %}({{ 'list_inactive_rule'|_|lower }}){% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                {% endif %}
            </td>
            <td data-value="{{ entry.amount_min }}" style="text-align: right;">
                <span style="margin-right:5px;">
                    ~ {{ formatAmountByCurrency(entry.currency, (entry.amount_max + entry.amount_min)/2) }}
                </span>
            </td>

            {#
            paidDates = 0 (bill not paid in period)
            pay_dates  = 0 (bill not expected to be paid in this period)
            bill is active.
            #}
            {% if entry.paid_dates|length == 0 and entry.pay_dates|length == 0 and entry.active %}
                <td class="paid_in_period text-muted" data-value="0001-00-00 00-00-00">
                    {{ trans('components.not_expected_period') }}
                </td>
                <td class="expected_in_period hidden-sm hidden-xs" data-value="{{ entry.next_expected_match }}">
                    {{ formatDate(entry.next_expected_match, monthAndDayFormat) }}
                </td>
            {% endif %}

            {#
            paid_dates = 0 (bill not paid in period)
            pay_dates  > 0 (bill IS expected to be paid in this period)
            bill is active
            #}
            {% if entry.paid_dates|length == 0 and entry.pay_dates|length > 0 and entry.active %}
                <td class="paid_in_period text-danger" data-value="0002-00-00 00-00-00">
                    {{ trans('components.not_or_not_yet') }}
                </td>
                <td class="expected_in_period hidden-sm hidden-xs" data-value="{{ entry.next_expected_match }}">
                    {{ formatDate(entry.next_expected_match, monthAndDayFormat) }}
                </td>
            {% endif %}

            {#
            paid_dates >= 0 (bill is paid X times).
            Don't care about pay_dates.
            #}
            {% if entry.paid_dates|length > 0 and entry.active %}
                <td class="paid_in_period text-success" data-value="{{ entry.paid_dates[0].date }}">
                    {% for currentPaid in entry.paid_dates %}
                        <a href="{{ route('transactions.show',currentPaid.transaction_group_id) }}">
                            {{ formatDate(currentPaid.date, monthAndDayFormat) }}
                        </a>
                        <br/>
                    {% endfor %}
                </td>
                <td class="expected_in_period hidden-sm hidden-xs" data-value="{{ entry.next_expected_match }}">
                    {{ formatDate(entry.next_expected_match, monthAndDayFormat) }}
                </td>
            {% endif %}
            {# bill is not active #}
            {% if not entry.active %}
                <td class="paid_in_period text-muted" data-value="0000-00-00 00-00-00">
                    ~
                </td>
                <td class="expected_in_period text-muted hidden-sm hidden-xs" data-value="0">
                    ~
                </td>
            {% endif %}
            <td class="hidden-sm hidden-xs" data-value="{{ entry.repeat_freq }}{{ entry.skip }}">
                {{ ('repeat_freq_'~entry.repeat_freq)|_ }}
                {% if entry.skip > 0 %}
                    {{ 'skips_over'|_ }} {{ entry.skip }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td style="text-align:right;" colspan="3">{{ 'sum'|_ }} ({{ 'active_bills_only'|_ }})</td>
        <td style="text-align:right;" colspan="1">
            <span style="margin-right:5px;">
                {{ formatAmountBySymbol(sum_min,'¤') }}
            </span>
        </td>
        <td style="text-align:right;" colspan="1">
            <span style="margin-right:5px;">
                {{ formatAmountBySymbol(sum_max,'¤') }}
            </span>
        </td>
        <td colspan="5">&nbsp;</td>
    </tr>

    {# calculate total#}
    {% if count > 0 %}
        {% set avg_min = (sum_min / count) %}
        {% set avg_max = (sum_max / count) %}
    {% else %}
        {% set avg_min = 0 %}
        {% set avg_max = 0 %}
    {% endif %}

    <tr>
        <td style="text-align:right;" colspan="3">{{ 'average_per_bill'|_ }} ({{ 'active_bills_only'|_ }})</td>
        <td style="text-align:right;" colspan="1">
            <span style="margin-right:5px;">
                {{ formatAmountBySymbol(avg_min,'¤') }}
            </span>
        </td>
        <td style="text-align:right;" colspan="1">
            <span style="margin-right:5px;">
                {{ formatAmountBySymbol(avg_max,'¤') }}
            </span>
        </td>
        <td colspan="6">&nbsp;</td>
    </tr>
    <tr>
        <td style="text-align:right;" colspan="3">{{ 'expected_total'|_ }} ({{ 'active_bills_only'|_ }})</td>
        <td style="text-align:right;" colspan="1">
            <span style="margin-right:5px;">
                ~ {{ formatAmountBySymbol(expected_total,'¤') }}
            </span>
        </td>
        <td colspan="6">&nbsp;</td>
    </tr>
    </tfoot>
</table>
<div style="padding-left:8px;">
    {{ paginator.render|raw }}
</div>
