<table class="table table-hover">
    <tr>
        {% if showPiggyBank %}
            <th>{{ trans('list.piggy_bank') }}</th>
        {% endif %}
        <th>{{ trans('list.date') }}</th>
        <th>{{ trans('list.amount') }}</th>
        <th>{{ 'account'|_ }}</th>
        <th>{{ trans('list.source_account') }}</th>
    </tr>
    {% for event in events %}
        <tr>
            {% if showPiggyBank %}
                <td>
                    <a href="{{ route('piggy-banks.show',event.piggyBank.id) }}">{{ event.piggyBank.name }}</a>
                </td>
            {% endif %}
            <td>
                {% if event.transaction_journal_id %}
                    <a href="{{ route('transactions.show',event.transaction_journal_id) }}"
                       title="{{ event.transactionJournal.description }}">{{ event.date.formatLocalized(monthAndDayFormat) }}</a>
                {% else %}
                    {{ event.date.formatLocalized(monthAndDayFormat) }}
                {% endif %}
            </td>

            <td style="text-align: right;">
                
                {% if event.transactionJournal.isTransfer() %}
                    <span class="text-info">{{ trans('firefly.transferred')|raw }} {{formatAmountByAccount(event.piggyBank.account, event.amount, false)}}</span>
                {% elseif event.amount < 0 %}
                    <span class="text-danger">{{ trans('firefly.removed_amount', {amount: formatAmountByAccount(event.piggyBank.account, event.amount, false)})|raw }}</span>
                {% else %}
                    <span class="text-success">{{ trans('firefly.added_amount', {amount: formatAmountByAccount(event.piggyBank.account, event.amount, false)})|raw }}</span>
                {% endif %}
            </td>
            <td> 
                <a href="{{ route('accounts.show', event.account_id) }}">{{ event.account.name }}</a>
            </td>
            <td >
                {% if event.from_account_id %}
                    <a href="{{ route('accounts.show', event.from_account_id) }}">{{ event.from.name }}</a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
