<div class="card">
    <div class="card-header">
        <h3 class="card-title"><a href="{{ route('piggy-banks.index') }}" title="{{ 'piggyBanks'|_ }}">{{ 'piggyBanks'|_ }}</a></h3>

    </div>
    <div class="card-body">
        {% for entry in info %}
            <strong>{{ entry.name }}</strong><br/>
            <div class="progress">
                <div class="progress-bar width-{{ entry.percentage|round }}" role="progressbar" aria-valuenow="{{ entry.percentage }}" aria-valuemin="0" aria-valuemax="100">
                    {% if entry.percentage >=20 %}
                        {% if convertToPrimary and 0 != avg.pc_amount %}
                            {{ formatAmountBySymbol(entry.pc_amount, entry.primary_currency_symbol, entry.primary_currency_decimal_places, false) }}
                            ({{ formatAmountBySymbol(entry.amount, entry.currency_symbol, entry.currency_decimal_places, false) }})
                        {% else %}
                            {{ formatAmountBySymbol(entry.amount, entry.currency_symbol, entry.currency_decimal_places, false) }}
                        {% endif %}
                    {% endif %}
                </div>
                {% if entry.percentage < 20 %}
                    &nbsp;
                    {% if convertToPrimary and 0 != avg.pc_amount %}
                        {{ formatAmountBySymbol(entry.pc_amount, entry.primary_currency_symbol, entry.primary_currency_decimal_places, false) }}
                        ({{ formatAmountBySymbol(entry.amount, entry.currency_symbol, entry.currency_decimal_places, false) }})
                    {% else %}
                        {{ formatAmountBySymbol(entry.amount, entry.currency_symbol, entry.currency_decimal_places, false) }}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
    <div class="card-footer">
        <a href="{{ route('piggy-banks.index') }}" class="btn btn-outline-secondary button-sm"><span
                    class="bi bi-download"></span> {{ 'go_to_piggies'|_ }}</a>
    </div>
</div>
