{% extends "./layout/default.twig" %}
{% block content %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, budget) }}
    {{ Form.open({'class' : 'form-horizontal','id' : 'destroy','url' : route('budgets.destroy',budget.id) })  }}
        <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                <i class="fa fa-exclamation-circle"></i>
                {{ trans('form.delete_budget', {'name': budget.name}) }}
            </div>
            <div class="panel-body">
                <p class="text-danger">
                    {{ trans('form.permDeleteWarning') }}
                </p>
                <p>
                    {{ trans('form.budget_areYouSure', {'name': budget.name}) }}
                </p>

                <p>
                    <input type="submit" name="submit" value="{{ trans('form.deletePermanently') }}" class="btn btn-danger" />
                    <a href="{{URL.previous()}}" class="btn-default btn">{{ trans('form.cancel') }}</a >
                </p>

                <p class="small">
                {% if budget.transactionjournals|length > 0 %}
                    {{ Lang.choice('form.budget_keep_transactions', budget.transactionjournals|length) }}
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-6">
        <div class="form-group">
            <div class="col-sm-8">

            </div>
        </div>
    </div>
</div>

</form>
{% endblock %}
