{% extends "./layout/default.twig" %}
{% block content %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, budget) }}
<div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p class="lead">Use budgets to organize and limit your expenses.</p>
        </div>
    </div>

    {{ Form.model(budget, {'class' : 'form-horizontal','id' : 'update','url' : route('budgets.update',budget.id) } ) }}
    <input type="hidden" name="id" value="{{budget.id}}" />
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <i class="fa fa-fw fa-exclamation"></i> Mandatory fields
                </div>
                <div class="panel-body">
                    {{ ExpandedForm.checkbox('active') }}
                    {{ ExpandedForm.text('name') }}
                </div>
            </div>

        </div>
        <div class="col-lg-6 col-md-12 col-sm-6">
            <!-- panel for options -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bolt"></i> Options
                </div>
                <div class="panel-body">
                    {{ ExpandedForm.optionsList('update','budget')  }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <p>
                <button type="submit" class="btn btn-lg btn-success">
                    <i class="fa fa-pencil"></i> Update budget
                </button>
            </p>
        </div>
    </div>
    </form>


{% endblock %}
