<!DOCTYPE html>
<html lang="{{ trans('config.html_language') }}">
<head>
    <base href="{{ route('index') }}/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="locale" content="{{ locale|replace({'_':'-'}) }}">
    <meta name="robots" content="noindex, nofollow, noarchive, noodp, NoImageIndex, noydir">
    <meta name="apple-mobile-web-app-capable" content="yes">

    {# favicons #}
    {% include('v2.partials.layout.favicons') %}

    <title>
        {% if subTitle|default(false) %}
            {{ subTitle }} »
        {% endif %}
        {% if title != "Firefly III" %}
            {{ title }} »
        {% endif %}

        Firefly III

    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="v2/plugins/local-fonts/gf-source.css">
    <link rel="stylesheet" href="v2/css/app.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
<div class="wrapper">

    <!-- Navbar -->
    {% include('v2.partials.layout.navbar') %}

    <!-- Main Sidebar Container -->
    {% include('v2.partials.layout.sidebar') %}

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <!-- flashes -->
                {% include('v2.partials.layout.flashes') %}
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0 text-dark">
                            {% if mainTitleIcon|default(false) %}<i class="fa fas {{ mainTitleIcon }}"></i>{% endif %}
                            {{ title }} <small class="text-muted">
                                {% if subTitleIcon|default(false) %}<i class="fa fas {{ subTitleIcon }}"></i>{% endif %}
                                {{ subTitle|default('') }}</small></h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        {% block breadcrumbs %}{% endblock %}
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                {% block content %}{% endblock %}
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    {% include('v2.partials.layout.footer') %}

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        {% block control %}
            <div class="p-3 control-sidebar-content">
                <h5>{{ 'advanced_options'|_ }}</h5>
                <hr class="mb-2">
                <p>
                    {{ 'advanced_options_explain'|_ }}
                </p>
            </div>
        {% endblock %}
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<script src="v2/js/manifest.js" nonce="{{ JS_NONCE }}"></script>
<script src="v2/js/vendor.js" nonce="{{ JS_NONCE }}"></script>
{% block scripts %}{% endblock %}

</body>
</html>

