{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, query) }}
{% endblock %}

{% block content %}
    {% if query == "" %}
        <div class="row">
            <div class="col-lg-12">
                <p>{{ 'no_results_for_empty_search'|_ }}</p>
            </div>
        </div>
    {% endif %}
    {% if query %}

        <div class="row">
            <div class="col-lg-12">
                <p>{{ trans('firefly.results_limited', {count: limit}) }}</p>
            </div>
        </div>

        <div class="row">


            {% if result.transactions|length > 0 %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'transactions'|_ }}</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                {{ trans('firefly.search_found_transactions', {count: result.transactions|length}) }}
                            </p>
                            {% include 'search.partials.transactions' with {'transactions' : result.transactions} %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if result.categories|length > 0 %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'categories'|_ }}</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                {{ trans('firefly.search_found_categories', {count: result.categories|length}) }}
                            </p>
                            {% include 'search.partials.categories' %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if result.tags|length > 0 %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'tags'|_ }}</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                {{ trans('firefly.search_found_tags', {count: result.tags|length}) }}
                            </p>
                            {% include 'search.partials.tags' %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if result.accounts|length > 0 %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'accounts'|_ }}</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                {{ trans('firefly.search_found_accounts', {count: result.accounts|length}) }}
                            </p>
                            {% include 'search.partials.accounts' %}
                        </div>
                    </div>
                </div>
            {% endif %}
            {% if result.budgets|length > 0 %}
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">{{ 'budgets'|_ }}</h3>
                        </div>
                        <div class="box-body">
                            <p>
                                {{ trans('firefly.search_found_budgets', {count: result.budgets|length}) }}
                            </p>
                            {% include 'search.partials.budgets' %}
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}



{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="js/lib/bootstrap-sortable.js"></script>
    <script type="text/javascript">
        var query = '{{ query }}';
    </script>
{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="css/bootstrap-sortable.css" type="text/css" media="all"/>
{% endblock %}