
{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, rule) }}
{% endblock %}

{% block content %}
    {{ Form.open({'class' : 'form-horizontal','id' : 'destroy','url' : route('rules.rule.destroy',rule.id) }) }}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ trans('form.delete_rule', {'title': rule.title}) }}</h3>
                </div>
                <div class="box-body">
                    <p class="text-danger">
                        {{ trans('form.permDeleteWarning') }}
                    </p>

                    <p>
                        {{ trans('form.rule_areYouSure', {'title': rule.title}) }}
                    </p>
                </div>
                <div class="box-footer">
                    <input type="submit" name="submit" value="{{ trans('form.deletePermanently') }}" class="btn btn-danger pull-right"/>
                    <a href="{{ URL.previous() }}" class="btn-default btn">{{ trans('form.cancel') }}</a>
                </div>
            </div>
        </div>
    </div>
    {{ Form.close|raw }}
{% endblock %}
