<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="_token" content="{{ csrf_token() }}">
    <meta name="robots" content="noindex, nofollow, noarchive, noodp, NoImageIndex, noydir">
    <title>
        {% if subTitle %}
            {{ subTitle }} »
        {% endif %}
        {% if title != "Firefly III" %}
            {{ title }} »
        {% endif %}

        Firefly III

    </title>
    <base href="{{ route('index') }}/">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <link href="lib/bootstrap/css/bootstrap.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="lib/font-awesome/css/font-awesome.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="lib/adminlte/css/AdminLTE.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="lib/adminlte/css/skins/skin-blue-light.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="css/daterangepicker.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="css/firefly.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    {% if not shownDemo %}
        <link href="lib/intro/introjs.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    {% endif %}

    {% block styles %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="js/lib/html5shiv.min.js?v={{ FF_VERSION }}"></script>
    <script src="js/lib/respond.min.js?v={{ FF_VERSION }}"></script>
    <![endif]-->
    <script type="text/javascript">
        var forceDemoOff = false;
    </script>

    {# favicons #}
    {% include('partials.favicons') %}

</head>
<body class="skin-blue-light sidebar-mini hold-transition">
<div class="wrapper">

    <header class="main-header">

        {# Logo #}
        <a href="{{ route('index') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">FF</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><b>Firefly</b>III</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    <li class="hidden-sm hidden-xs">
                        <a href="#" id="help" data-route="{{ original_route_name }}" data-extra="{{ what|default("") }}">
                            <i class="fa fa-question-circle" data-route="{{ original_route_name }}" data-extra="{{ what|default("") }}"></i>
                        </a>
                    </li>

                    <!-- Messages: style can be found in dropdown.less-->
                    <li>
                        <span style="color:#fff;padding: 15px;display: block;line-height: 20px;">
                            <span id="daterange"></span>
                        </span>
                    </li>

                    {% if not SANDSTORM %}
                        <li class="dropdown user user-menu">
                        <span style="cursor:default;color:#fff;padding: 15px;display: block;line-height: 20px;">
                            <span class="hidden-xs">{{ Auth.user.email }}</span>
                        </span>
                        </li>
                    {% endif %}
                    <li id="sidebar-toggle">
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-plus-circle"></i></a>
                    </li>
                </ul>
            </div>

        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- search form -->
            <form action="{{ route('search.index') }}" method="get" class="sidebar-form">
                <div class="input-group">
                    <input type="text" name="q" class="form-control" placeholder="{{ 'searchPlaceholder'|_ }}" value="{{ query }}"/>
                    <span class="input-group-btn">
                <button type='submit' name='search' id='search-btn' class="btn btn-flat"><i class="fa fa-search"></i></button>
              </span>
                </div>
            </form>
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->
            {% include('partials.menu-sidebar') %}
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            {% include('partials.page-header') %}
            {% block breadcrumbs %}{% endblock %}
        </section>

        <!-- Main content -->
        <section class="content">
            {% if IS_DEMO_SITE %}
                <div class="row no-print">
                    <div class="col-lg-12">
                        <p class="well">
                            {% include ['demo.' ~ Route.getCurrentRoute.getName, 'demo.no-demo-text'] %}
                        </p>
                    </div>
                </div>
            {% endif %}

            {% include('partials.flashes') %}

            <!-- actual content -->
            {% block content %}{% endblock %}
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> {{ Config.get('firefly.version') }}
        </div>
        <strong><a href="https://github.com/firefly-iii/firefly-iii">Firefly III</a></strong>
    </footer>

    {% include('partials.control-bar') %}

</div>
<!-- ./wrapper -->


<!-- Modal -->
<div class="modal fade" id="defaultModal" tabindex="-1" role="dialog">
</div>

<div class="modal fade" tabindex="-1" role="dialog" id="helpModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="helpTitle">&nbsp;</h4>
            </div>
            <div class="modal-body" id="helpBody">&nbsp;</div>
            <div class="modal-footer">
                <small class="pull-left">
                    {{ 'need_more_help'|_ }}
                </small>
                <br/>
                <small class="pull-left">
                    {{ trans('firefly.reenable_intro_text')|raw }}
                </small>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|_ }}</button>
            </div>
        </div>
    </div>
</div>

<script src="js/lib/jquery-3.2.1.min.js?v={{ FF_VERSION }}" type="text/javascript"></script>
<script src="lib/bootstrap/js/bootstrap.min.js?v={{ FF_VERSION }}" type="text/javascript"></script>
<script src="js/lib/moment.min.js?v={{ FF_VERSION }}" type="text/javascript"></script>
<script src="js/lib/daterangepicker.js?v={{ FF_VERSION }}" type="text/javascript"></script>
<script src="lib/adminlte/js/app.min.js?v={{ FF_VERSION }}" type="text/javascript"></script>
<script type="text/javascript" src="js/lib/accounting.min.js?v={{ FF_VERSION }}"></script>
<script src="{{ route('javascript.variables') }}?ext=.js&amp;v={{ FF_VERSION }}" type="text/javascript"></script>
<script type="text/javascript" src="js/ff/firefly.js?v={{ FF_VERSION }}"></script>
<script type="text/javascript" src="js/ff/help.js?v={{ FF_VERSION }}"></script>
{% if not shownDemo %}
    <script type="text/javascript">
        var routeForTour = "{{ current_route_name }}";
        var routeStepsUri = "{{ route('json.intro', [current_route_name, what|default("")]) }}";
        var routeForFinishedTour = "{{ route('json.intro.finished', [current_route_name, what|default("")]) }}";
    </script>
    <script type="text/javascript" src="lib/intro/intro.min.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript" src="js/ff/intro/intro.js?v={{ FF_VERSION }}"></script>
{% endif %}
{% block scripts %}{% endblock %}

{% if env('ANALYTICS_ID','') != '' %}
    <script>
        // send pageview
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', '{{ env('ANALYTICS_ID', 'XXX-XX-X') }}', {'siteSpeedSampleRate': 100});
        ga('send', 'pageview');

        // send an event if relevant:
        {% if Session.has('gaEventCategory') and Session.has('gaEventAction') and not Session.has('gaEventLabel') %}
        ga('send', 'event', '{{ Session.get('gaEventCategory') }}', '{{ Session.get('gaEventAction') }}');
        {% endif %}

        // send event if relevant:
        {% if Session.has('gaEventCategory') and Session.has('gaEventAction') and Session.has('gaEventLabel') %}
        ga('send', 'event', '{{ Session.get('gaEventCategory') }}', '{{ Session.get('gaEventAction') }}', '{{ Session.get('gaEventLabel') }}');
        {% endif %}
    </script>
{% endif %}

</body>
</html>
