<table class="table table-hover">
    <tr>
        <th>{{'currency'|_}}</th>
        <th>{{ 'money_flowing_in'|_ }}</th>
        <th>{{ 'money_flowing_out'|_ }}</th>
        <th>{{ 'difference'|_ }}</th>
    </tr>
    {% for sum in sums %}
    <tr>
        <td>{{ sum.currency_name }} ({{ sum.currency_symbol }})</td>
        <td>
            {{ formatAmountBySymbol(sum.in, sum.currency_symbol, sum.currency_decimal_places) }}
        </td>
        <td>
            {{ formatAmountBySymbol(sum.out, sum.currency_symbol, sum.currency_decimal_places) }}
        </td>
        <td>
            {{ formatAmountBySymbol(sum.sum, sum.currency_symbol, sum.currency_decimal_places) }}
        </td>
    </tr>
    {% endfor %}
</table>
