{% extends './layout/default' %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'instance_configuration'|_ }}</h3>
                </div>
                <div class="box-body">
                    <ul>
                        <li>
                            <a href="{{ route('admin.configuration.index') }}">{{ 'firefly_instance_configuration'|_ }}</a>
                        </li>
                        <li><a href="{{ route('admin.links.index') }}">{{ 'journal_link_configuration'|_ }}</a></li>
                        <li><a href="{{ route('admin.update-check') }}">{{ 'update_check_title'|_ }}</a></li>
                        <li><a href="{{ route('admin.notification.index') }}">{{ 'settings_notifications'|_ }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'user_administration'|_ }}</h3>
                </div>
                <div class="box-body">
                    <ul>
                        <li><a href="{{ route('admin.users') }}">{{ 'list_all_users'|_ }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'send_test_email'|_ }}</h3>
                </div>
                <form action="{{ route('admin.test-message') }}" method="post">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}">
                    <div class="box-body">
                        <p>
                            {{ trans('firefly.send_test_email_text', {email:email})|raw }}
                        </p>
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn btn-success">
                            <span class="fa fa-envelope"></span> {{ ('send_message')|_ }}
                        </button>
                    </div>
                </form>
            </div>
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'admin_maintanance_title'|_ }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        {{ 'admin_maintanance_expl'|_ }}
                    </p>
                    <p>
                        <a href="{{ route('flush') }}"
                           class="btn btn-warning">{{ 'admin_maintenance_clear_cache'|_ }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
