{% set VUE_SCRIPT_NAME = 'edit_transaction' %}
{% extends "./layout/default" %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, transactionGroup) }}
{% endblock %}

{% block content %}
    <div id="edit_transaction"></div>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var allowedOpposingTypes = {{ allowedOpposingTypes|json_encode|raw }};
        var accountToTypes = {{ accountToTypes|json_encode|raw }};
        var defaultCurrency = {{ defaultCurrency.toArray()|json_encode|raw }};
        var cashAccountId = {{ cash.id }};
        var previousUri = '{{ previousUri }}';
    </script>
{% endblock %}
{% block styles %}
{% endblock %}
