{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, objectType, start, end) }}
{% endblock %}

{% block content %}

    {# upper show-all instruction #}
    {% if periods|length > 0 %}
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('transactions.index.all',[objectType]) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
        </div>
    {% endif %}

    {# list with journals #}
    <div class="row">
        <div class="{% if periods|length > 0 %}col-lg-10 col-md-10 col-sm-12{% else %}col-lg-12 col-md-12 col-sm-12{% endif %}">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ subTitle }}</h3>
                </div>
                <div class="box-body no-padding">
                    <div style="padding:8px;">
                        <a href="{{ route('transactions.create', ['withdrawal']) }}" class="btn btn-success"><i class="fa fa-plus fa-fw"></i> {{ 'create_new_transaction'|_ }}</a>
                    </div>
                    {# actual list #}
                    {% include 'list.groups' %}
                </div>
                <div class="box-footer">
                    {# links for other views #}
                    {% if periods|length > 0 %}
                        <p>
                            <i class="fa fa-calendar"></i>
                            <a href="{{ route('transactions.index.all', [objectType]) }}">{{ 'show_all_no_filter'|_ }}</a>
                        </p>
                    {% else %}
                        <p>
                            <i class="fa fa-calendar"></i>
                            <a href="{{ route('transactions.index', [objectType]) }}">{{ 'show_the_current_period_and_overview'|_ }}</a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>

        {# boxes with info #}
        {% if periods|length > 0 %}
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {% include 'list.periods' %}
            </div>
        {% endif %}

    </div>

    {# lower show-all instruction #}
    {% if periods|length > 0 %}
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('transactions.index.all', [objectType]) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block scripts %}
    {# required for groups.twig #}
    <script type="text/javascript" src="v1/js/ff/list/groups.js?v={{ FF_VERSION }}"></script>
{% endblock %}
