<table class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsort="disabled">{{ 'description'|_ }}</th>
        <th data-defaultsign="month">{{ 'date'|_ }}</th>
        <th data-defaultsign="az">{{ 'account'|_ }}</th>
        <th data-defaultsign="_19" style="text-align: right;">{{ 'amount'|_ }}</th>
    </tr>
    </thead>
    <tbody>
    {% for row in result %}
        {% if loop.index > listLength %}
            <tr class="overListLength">
        {% else %}
            <tr>
        {% endif %}
        <td data-sortable="false">
            <a href="{{ route('transactions.show', row.transaction_group_id) }}">
                {{ row.description }}
            </a>
        </td>
        <td data-sortable="false">
            {{ row.date }}
        </td>

        <td data-sortable="false">
            <a href="{{ route('accounts.show', row.destination_account_id) }}">
                {{ row.destination_account_name }}
            </a>
        </td>

        <td data-value="{{ row.amount }}" style="text-align: right;">
            {{ formatAmountBySymbol(row.amount, row.currency_symbol, row.currency_decimal_places) }}
        </td>

        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% if result|length > listLength %}
        <tr>
            <td colspan="4" class="active">
                <a href="#" class="listLengthTrigger">{{ trans('firefly.show_full_list',{number:incomeTopLength}) }}</a>
            </td>
        </tr>
    {% endif %}
    </tfoot>
</table>
