{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, tag, start, end) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'meta_data'|_ }}</h3>


                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ route('tags.edit',tag.id) }}"><i class="fa fa-pencil fa-fw"></i> {{ trans('firefly.edit_tag',{tag: tag.tag}) }}
                                    </a></li>
                                <li><a href="{{ route('tags.delete',tag.id) }}"><i
                                                class="fa fa-trash fa-fw"></i> {{ trans('firefly.delete_tag',{tag: tag.tag}) }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body no-padding">
                    <table class="table table-bordered">
                        {% if tag.description %}
                            <tr>
                                <td>
                                    {{ trans('list.description') }}
                                </td>
                                <td>{{ tag.description }}</td>
                            </tr>
                        {% endif %}
                        {% if tag.date %}
                            <tr>
                                <td>
                                    {{ trans('list.date') }}
                                </td>
                                <td>
                                    {{ tag.date.formatLocalized(monthAndDayFormat) }}
                                </td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>{{ trans('list.sum') }}</td>
                            <td> {{ (sums.Withdrawal + sums.Transfer + sums.Deposit)|formatAmount }}</td>
                        </tr>
                        <tr>
                            <td>{{ trans('list.sum_excluding_transfers') }}</td>
                            <td> {{ (sums.Withdrawal + sums.Deposit)|formatAmount }}</td>
                        </tr>
                        <tr>
                            <td>{{ trans('list.sum_withdrawals') }}</td>
                            <td> {{ sums.Withdrawal|formatAmount }}</td>
                        </tr>
                        <tr>
                            <td>{{ trans('list.sum_deposits') }}</td>
                            <td> {{ sums.Deposit|formatAmount }}</td>
                        </tr>
                        {% if sums.Transfer != 0 %}
                            <tr>
                                <td>{{ trans('list.sum_transfers') }}</td>
                                <td> {{ sums.Transfer|formatAmount }}</td>
                            </tr>
                        {% endif %}
                        {% if sums.Reconciliation != 0 %}
                            <tr>
                                <td>{{ trans('list.sum_reconciliations') }}</td>
                                <td> {{ sums.Reconciliation|formatAmount }}</td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="box-footer">
                    <div class="btn-group btn-group-sm">
                        <a href="{{ route('tags.edit',tag.id) }}" class="btn btn-default"><i class="fa fa-pencil fa-fw"></i></a>
                        <a href="{{ route('tags.delete',tag.id) }}" class="btn btn-danger"><i class="fa fa-trash fa-fw"></i></a>
                    </div>
                    <p class="text-muted">
                        <small>{{ 'sums_apply_to_range'|_ }}</small>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'location'|_ }}</h3>
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ route('tags.edit',tag.id) }}"><i class="fa fa-pencil fa-fw"></i> {{ trans('firefly.edit_tag',{tag: tag.tag}) }}
                                    </a></li>
                                <li><a href="{{ route('tags.delete',tag.id) }}"><i
                                                class="fa fa-trash fa-fw"></i> {{ trans('firefly.delete_tag',{tag: tag.tag}) }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    {% if(location) %}
                        <div id="location_map" style="width:100%;height:300px;"></div>
                    {% else %}
                        <p>{{ 'no_location_set'|_ }}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% if periods|length > 0 %}
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('tags.show',[tag.id,'all']) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="{% if periods|length > 0 %}col-lg-10 col-md-10 col-sm-12 col-xs-12{% else %}col-lg-12 col-md-12 col-sm-12 col-xs-12{% endif %}">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'transactions'|_ }}</h3>


                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ route('tags.edit',tag.id) }}"><i class="fa fa-pencil fa-fw"></i> {{ trans('firefly.edit_tag',{tag: tag.tag}) }}
                                    </a></li>
                                <li><a href="{{ route('tags.delete',tag.id) }}"><i
                                                class="fa fa-trash fa-fw"></i> {{ trans('firefly.delete_tag',{tag: tag.tag}) }}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="box-body">
                    {% include 'list.groups' with {showBudget:true, showCategory: true} %}

                    {% if periods|length > 0 %}
                        <p>
                            <i class="fa fa-calendar"></i>
                            <a href="{{ route('tags.show', [tag.id,'all']) }}">
                                {{ 'show_all_no_filter'|_ }}
                            </a>
                        </p>
                    {% else %}
                        <p>
                            <i class="fa fa-calendar"></i>
                            <a href="{{ route('tags.show', [tag.id]) }}">
                                {{ 'show_the_current_period_and_overview'|_ }}
                            </a>
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if periods|length > 0 %}
            <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
                {% include 'list.periods' %}
            </div>
        {% endif %}
    </div>
    {% if periods|length > 0 %}
        <div class="row">
            <div class="col-lg-offset-10 col-lg-2 col-md-offset-10 col-md-2 col-sm-12 col-xs-12">
                <p class="small text-center"><a href="{{ route('tags.show',[tag.id]) }}">{{ 'showEverything'|_ }}</a></p>
            </div>
        </div>
    {% endif %}

{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="v1/lib/leaflet/leaflet.css?v={{ FF_VERSION }}"/>
{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        // location stuff
        {% if location %}
            var latitude = {{ location.latitude|default("52.3167") }};
            var longitude = {{ location.longitude|default("5.5500") }};
            var zoomLevel = {{ location.zoom_level|default("6") }};
            var doPlaceMarker = true;
            // token for Mapbox:
            var mapboxToken = "{{ config('firefly.mapbox_api_key') }}";
        {% endif %}
    </script>
    <script src="v1/lib/leaflet/leaflet.js?v={{ FF_VERSION }}"></script>
    <script src="v1/js/ff/tags/show.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript" src="v1/js/ff/list/groups.js?v={{ FF_VERSION }}"></script>
{% endblock %}
