{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    <form method="POST" action="{{ route('currency.store') }}" accept-charset="UTF-8" class="form-horizontal" id="store">
        <input name="_token" type="hidden" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'mandatoryFields'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        {{ ExpandedForm.text('name',null,{'maxlength' : 48}) }}
                        {{ ExpandedForm.text('symbol',null,{'maxlength': 8}) }}
                        {{ ExpandedForm.text('code',null,{'maxlength' : 3}) }}
                    </div>
                </div>

            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">

                <!-- panel for options -->
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'options'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        {{ ExpandedForm.optionsList('create','currency') }}
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn pull-right btn-success">
                            {{ 'store_currency'|_ }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
