{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}

    <form action="{{ route('new-user.submit') }}" method="post" id="store" class="form-horizontal">
        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-xs-12">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'getting_started'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        <p>
                            <strong>{{ 'welcome'|_ }}</strong>
                        </p>
                        <p>
                            {{ 'to_get_started'|_ }}
                        </p>
                        {{ ExpandedForm.text('bank_name') }}
                        {{ ExpandedForm.balance('bank_balance') }}


                        <p>
                            {{ 'savings_balance_text'|_ }}
                        </p>

                        {{ ExpandedForm.balance('savings_balance',0) }}

                        <p>
                            {{ 'finish_up_new_user'|_ }}
                        </p>

                    </div>
                    <div class="box-footer">
                        <input type="submit" name="submit" value="{{ 'submit'|_ }}" class="btn btn-success pull-right"/>
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock %}
