<table class="table table-bordered table-striped sortable">
    <thead>
    <tr>
        <th data-defaultsort="disabled">&nbsp;</th>
        <th>Name</th>
        <th>Matches on</th>
        <th colspan="2">Matching amount</th>
        <th>Last seen match</th>
        <th>Next expected match</th>
        <th>Is active</th>
        <th>Will be automatched</th>
        <th>Repeats every</th>
        <th data-defaultsort="disabled">&nbsp;</th>
    </tr></thead>
    <tbody>
    {% for entry in bills %}
    <tr>
        <td>
            <div class="btn-group btn-group-xs">
                <a href="{{route('bills.edit',entry.id)}}" class="btn btn-default btn-xs"><i class="fa fa-fw fa-pencil"></i></a>
                <a href="{{route('bills.delete',entry.id)}}" class="btn btn-danger btn-xs"><i class="fa fa-fw fa-trash-o"></i></a>
            </div>
        </td>
        <td>
            <a href="{{route('bills.show',entry.id)}}" title="{{ entry.name }}">{{ entry.name }}</a>
        </td>
        <td data-value="{{ entry.match }}">
            {% for match in entry.match|split(',') %}
            <span class="label label-info">{{ match }}</span>
            {% endfor %}
        </td>
        <td data-value="{{ entry.amount_min }}">
            {{  entry.amount_min|formatAmount  }}
        </td>
        <td data-value="{{ entry.amount_max }}">
            {{  entry.amount_max|formatAmount  }}
        </td>
            {% if entry.lastFoundMatch %}
            <td data-value="{{ entry.lastFoundMatch.format('U') }}">
                {{entry.lastFoundMatch.format('j F Y')}}
            </td>
            {% else %}
            <td data-value="0">
                <em>Unknown</em>
            </td>
            {% endif %}

            {% if entry.nextExpectedMatch%}
            <td data-value="{{entry.nextExpectedMatch.format('U')}}">
                {{entry.nextExpectedMatch.format('j F Y')}}
            </td>
            {% else %}
            <td data-value="0">
                <em>Unknown</em>
            </td>
            {% endif %}

        <td data-value="{{ entry.active }}">
            {% if entry.active %}
                <i class="fa fa-fw fa-check"></i>
            {% else %}
                <i class="fa fa-fw fa-ban"></i>
            {% endif %}
        </td>
        <td data-value="{{ entry.automatch }}">
            {% if entry.automatch %}
                 <i class="fa fa-fw fa-check"></i>
            {% else %}
                 <i class="fa fa-fw fa-ban"></i>
             {% endif %}
         </td>
        <td data-value="{{ entry.repeat_freq }}{{ entry.skip }}">
            {{ entry.repeat_freq }}
             {% if entry.skip > 0 %}
                skips over {{entry.skip}}
             {% endif %}
         </td>
        <td>
            {% if entry.active %}
                <a href="{{route('bills.add',entry.id)}}" class="btn btn-success btn-xs"><i class="fa fa-fw fa-plus-circle"></i></a>
            {% endif %}
        </td>
    </tr>

    {% endfor %}
    </tbody>
</table>
