<div class="list-group">
    {% for journal in transactions %}
        {% if journal.amount != 0 %}

    <a class="list-group-item" title="{{journal.date.format('jS M Y')}}" href="{{route('transactions.show',journal.id)}}">

    {{ journal|typeIcon }}

    {{ journal.description }}

    <span class="pull-right small">
    {{ journal|formatJournal }}

    </span>

    </a>
    {% endif %}
{% endfor %}
</div>
