<table class="table table-hover">
    <tr>
        {% if showPiggyBank %}
            <th>Piggy bank</th>
        {% endif %}
        <th>{{ trans('list.date') }}</th>
        <th>{{ trans('list.amount') }}</th>
    </tr>
    {% for event in events %}
        <tr>
            {% if showPiggyBank %}
                <td>
                    <a href="{{ route('piggy-banks.show',event.piggyBank_id) }}">{{ event.piggyBank.name }}</a>
                </td>
            {% endif %}
            <td>
                {% if event.transaction_journal_id %}
                    <a href="{{ route('transactions.show',event.transaction_journal_id) }}"
                       title="{{ event.transactionJournal.description }}">{{ event.date.formatLocalized(monthAndDayFormat) }}</a>
                {% else %}
                    {{ event.date.formatLocalized(monthAndDayFormat) }}
                {% endif %}
            </td>

            <td>
                {% if event.amount < 0 %}
                    <span class="text-danger">{{ trans('firefly.removed_amount', {amount: (event.amount)|formatAmountPlain})|raw }}</span>
                {% else %}
                    <span class="text-success">{{ trans('firefly.added_amount', {amount: (event.amount)|formatAmountPlain})|raw }}</span>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
