<div class="row">
    {% if reminders|length > 0 %}
        {% for reminder in reminders %}
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="box">
                    <div class="box-header with-border">
                        <a href="{{ route('reminders.show',reminder.id) }}">
                        {% if reminder.notnow %}
                            Dismissed reminder
                        {% else %}
                            Reminder
                        {% endif %}
                        for piggy bank "{{reminder.remindersable.name}}"
                        </a>
                    </div>
                    <div class="box-body">
                        <p>
                            This reminder is active between {{reminder.startdate.format('jS F Y')}}
                            and {{reminder.enddate.format('jS F Y')}}.
                        </p>
                        {% if reminder.description %}
                            <p>{{ reminder.description|raw }}</p>
                        {% endif %}
                    </div>
                    <div class="panel-footer">
                        <div class="btn-group">
                            {% if not reminder.notnow %}
                                <a class="btn btn-warning" href="{{route('reminders.dismiss',reminder.id)}}">Dismiss</a>
                            {% endif %}
                            {% if reminder.active %}
                                <a class="btn btn-success" href="{{route('reminders.act',reminder.id)}}">Act</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <p class="small">
                (No reminders)
            </p>
        </div>
    {% endif %}
</div>
