{% include 'emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {% if journals.count == 1 %}
        Firefly III has created a transaction for you.
    {% endif %}
    {% if journals.count > 1 %}
        Firefly III has created {{ journals.count }} transactions for you.
    {% endif %}
</p>


{% if journals.count == 1 %}
    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
        You can find it in your Firefly III installation:<br />
        {% for journal in journals %}
            <a href="{{ route('transactions.show', journal.id) }}">{{ journal.description }}</a> (TODO)
        {% endfor %}
    </p>
{% endif %}

{% if journals.count > 1 %}
    <p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
        You can find them in your Firefly III installation:
    </p>
    <ul>
        {% for journal in journals %}
            <li>
                <a href="{{ route('transactions.show', journal.id) }}">{{ journal.description }}</a> (TODO)
            </li>
        {% endfor %}
    </ul>
{% endif %}

{% include 'emails.footer-html' %}
