{% extends "./layout/default" %}
{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, objectType) }}
{% endblock %}
{% block content %}
    <!-- set location data high up -->
    <script type="text/javascript">
        var locations = {{ locations|json_encode|raw }};
        var mapboxToken = "{{ config('firefly.mapbox_api_key') }}";
    </script>

    <form action="{{ route('accounts.store') }}" method="post" id="store" class="form-horizontal">
        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
        <input type="hidden" name="objectType" value="{{ objectType }}"/>
        <input type="hidden" name="active" value="1"/>

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'mandatoryFields'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        {{ ExpandedForm.text('name') }}
                        {% if objectType == 'asset' or objectType == 'liabilities' %}
                            {{ CurrencyForm.currencyList('currency_id', null, {helpText:'account_default_currency'|_}) }}
                        {% endif %}
                        {% if objectType == 'liabilities' %}
                            {{ ExpandedForm.select('liability_type_id', liabilityTypes) }}
                            {{ ExpandedForm.amountNoCurrency('opening_balance', null, {label:'debt_start_amount'|_, helpText: 'debt_start_amount_help'|_}) }}
                            {{ ExpandedForm.date('opening_balance_date', null, {label:'debt_start_date'|_}) }}
                            {{ ExpandedForm.percentage('interest') }}
                            {{ ExpandedForm.select('interest_period', interestPeriods) }}
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12">

                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'optionalFields'|_ }}</h3>
                    </div>
                    <div class="box-body">

                        {{ ExpandedForm.text('iban') }}
                        {{ ExpandedForm.text('BIC', null, {maxlength: 11}) }}
                        {{ ExpandedForm.text('account_number') }}

                        {% if objectType == 'asset' %}

                            {{ ExpandedForm.amountNoCurrency('opening_balance') }}
                            {{ ExpandedForm.date('opening_balance_date') }}
                            {{ ExpandedForm.select('account_role', roles,null,{helpText : 'asset_account_role_help'|_}) }}
                            {{ ExpandedForm.amountNoCurrency('virtual_balance') }}
                        {% endif %}
                        {# only correct way to do active checkbox #}
                        {{ ExpandedForm.checkbox('include_net_worth', 1) }}
                        {{ ExpandedForm.textarea('notes',null,{helpText: trans('firefly.field_supports_markdown')}) }}
                        {{ ExpandedForm.location('location', null, {locations: locations}) }}
                    </div>
                </div>


                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'options'|_ }}</h3>
                    </div>
                    <div class="box-body">
                        {{ ExpandedForm.optionsList('create','account') }}
                    </div>
                    <div class="box-footer">
                        <button type="submit" class="btn pull-right btn-success">
                            {{ ('store_new_' ~ objectType ~ '_account')|_ }}
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </form>
{% endblock %}
{% block scripts %}
    <script src="v1/lib/leaflet/leaflet.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript" src="v1/js/lib/modernizr-custom.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript" src="v1/js/lib/jquery-ui.min.js?v={{ FF_VERSION }}"></script>
    <script type="text/javascript" src="v1/js/ff/accounts/create.js?v={{ FF_VERSION }}"></script>
{% endblock %}

{% block styles %}
    <link href="v1/css/jquery-ui/jquery-ui.structure.min.css?v={{ FF_VERSION }}" type="text/css" rel="stylesheet" media="all">
    <link href="v1/css/jquery-ui/jquery-ui.theme.min.css?v={{ FF_VERSION }}" type="text/css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="v1/lib/leaflet/leaflet.css?v={{ FF_VERSION }}"/>
{% endblock %}
