<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofolllow, noarchive, noodp, NoImageIndex, noydir">
    <title>Firefly III</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <base href="{{ route('index') }}/">
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css" type="text/css" media="all"/>
    <link rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css" type="text/css" media="all"/>
    <link href="lib/adminlte/css/AdminLTE.min.css" rel="stylesheet" type="text/css"/>
    <link href="css/firefly.css" rel="stylesheet" type="text/css"/>

    <!-- favicons -->
    {% include('partials/favicons.twig') %}

</head>
<body class="ff-error-page">
<div class="ff-error-box">
    <div class="login-logo">
        <a href="{{ route('index') }}"><b>Firefly</b>III</a>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="text-info">{{ 'confirm_account_header'|_ }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>
                {{ 'confirm_account_intro'|_ }}
            </p>
            <p>
                <a href="{{ route('resend_confirmation') }}">{{ 'confirm_account_resend_email'|_ }}</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>
