{% extends "./layout/default.twig" %}
{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    <form id="remove" class="form-horizontal" action="{{ route('piggy-banks.remove', piggyBank.id) }}" method="POST">
        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('firefly.remove_money_from_piggy_title', {name: piggyBank.name}) }}</h3>
                    </div>
                    <div class="box-body">

                        <p>
                            {{ 'max_amount_remove'|_ }}: {{ currentRelevantRepAmount(piggyBank)|formatAmount }}.
                        </p>

                        <div class="input-group">
                            <div class="input-group-addon">{{ getCurrencySymbol()|raw }}</div>
                            <input step="any" class="form-control" id="amount" autocomplete="off" name="amount" max="{{ currentRelevantRepAmount(piggyBank) }}"
                                   type="number"/>
                        </div>
                        <p>
                            &nbsp;
                        </p>
                        <button type="submit" class="btn btn-success pull-right">
                            {{ 'remove'|_ }}
                        </button>


                    </div>
                </div>
            </div>

        </div>
    </form>
{% endblock %}
