{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    <form method="POST" action="{{ route('profile.delete-account.post') }}" accept-charset="UTF-8" class="form-horizontal" id="delete-account">
        <input name="_token" type="hidden" value="{{ csrf_token() }}">

        <div class="row">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'delete_your_account'|_ }}</h3>
                    </div>
                    <div class="box-body">

                        <p class="text-danger">
                            {{ 'delete_your_account_help'|_ }}
                        </p>

                        <p class="text-danger">
                            {{ 'delete_your_account_password'|_ }}

                        </p>

                        {% if errors|length > 0 %}
                            <ul>
                                {% for error in errors.all %}
                                    <li class="text-danger">{{ error }}</li>
                                {% endfor %}
                            </ul>

                        {% endif %}

                        <div class="form-group">
                            <label for="password" class="col-sm-4 control-label">{{ 'password'|_ }}</label>

                            <div class="col-sm-8">
                                <input type="password" class="form-control" id="password" placeholder="{{ 'password'|_ }}" name="password">
                            </div>
                        </div>
                    </div>
                    <div class="box-footer">
                        <button type="submit" onclick="confirm('{{ 'are_you_sure'|_ }}')" class="btn btn-danger pull-right">
                            {{ 'delete_account_button'|_ }}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
