{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-6 col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Options</h3>
                </div>
                <div class="box-body">
                    <p>
                        {{ trans('firefly.user_id_is',{user: userId})|raw }}
                    </p>
                    <ul>
                        <li><a href="{{ route('profile.change-password') }}">{{ 'change_your_password'|_ }}</a></li>
                        <li><a class="text-danger" href="{{ route('profile.delete-account') }}">{{ 'delete_account'|_ }}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
