@extends('layout.v3.session')

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
@endsection

@section('content')
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'pref_two_factor_auth_code'|_ }}</h3>
                    </div>
                    <div class="card-body">
                        <div class="form group">
                            <p>
                                {{ '2fa_backup_codes'|_ }}
                            </p>
                            <pre>{{ codes }}</pre>
                        </div>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-success" href="{{ route('profile.index') }}">{{ '2fa_i_have_them'|_ }}</a>
                    </div>
                </div>
            </div>
        </div>

@endsection
