{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, ruleGroup) }}
{% endblock %}

{% block content %}

    <form method="POST" action="{{ route('rules.rule-group.destroy',ruleGroup.id) }}" accept-charset="UTF-8" class="form-horizontal" id="destroy">
        <input name="_token" type="hidden" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('form.delete_rule_group', {'title': ruleGroup.title}) }}</h3>
                    </div>
                    <div class="box-body">
                        <p class="text-danger">
                            {{ trans('form.permDeleteWarning') }}
                        </p>

                        <p>
                            {{ trans('form.ruleGroup_areYouSure', {'title': ruleGroup.title}) }}
                        </p>

                        <p class="text-danger">
                            {% if ruleGroup.rules|length > 0 %}
                                {{ Lang.choice('form.also_delete_rules', ruleGroup.rules|length, {count: ruleGroup.rules|length}) }}
                            {% endif %}
                        </p>

                        {% if ruleGroup.rules|length > 0 %}
                            <p class="text-success">
                                {{ 'save_rules_by_moving'|_ }}
                            </p>

                            <p>
                                {{ Form.select('move_rules_before_delete', ruleGroupList, null, {class: 'form-control'}) }}
                            </p>
                        {% else %}
                            <input type="hidden" name="move_rules_before_delete" value="0"/>
                        {% endif %}

                    </div>
                    <div class="box-footer">
                        <input type="submit" name="submit" value="{{ trans('form.deletePermanently') }}" class="btn btn-danger pull-right"/>
                        <a href="{{ URL.previous() }}" class="btn-default btn">{{ trans('form.cancel') }}</a>
                    </div>


                </div>
            </div>
        </div>
    </form>
{% endblock %}
