<table class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsign="az">{{ 'name'|_ }}</th>
        <th data-defaultsign="_19" class="hidden-xs" style="text-align: right;">{{ 'balanceStart'|_ }}</th>
        <th data-defaultsign="_19" class="hidden-xs" style="text-align: right;">{{ 'balanceEnd'|_ }}</th>
        <th data-defaultsign="_19" style="text-align: right;">{{ 'difference'|_ }}</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accountReport.accounts %}
        <tr>
            <td data-value="{{ account.name }}">
                <a href="{{ route('accounts.show',account.id) }}" title="{{ account.name }}">{{ account.name }}</a>
            </td>
            <td class="hidden-xs" data-value="{{ account.start_balance }}" style="text-align: right;">
                {{ formatAmountBySymbol(account.start_balance, account.currency_symbol, account.currency_decimal_places) }}
            </td>
            <td class="hidden-xs" data-value="{{ account.end_balance }}" style="text-align: right;">
                {{ formatAmountBySymbol(account.end_balance, account.currency_symbol, account.currency_decimal_places) }}
            </td>
            <td style="text-align: right;"
                data-value="{{ (account.end_balance - account.start_balance) }}">
                {{ formatAmountBySymbol(account.end_balance - account.start_balance, account.currency_symbol, account.currency_decimal_places) }}
            </td>
        </tr>
    {% endfor %}
    <tr>
        <td colspan="4"><em>{{ 'sumOfSums'|_ }}</em></td>
    </tr>
    {% for sum in accountReport.sums %}
    <tr>
        <td>
            &nbsp;
        </td>
        <td style="text-align: right;">
            {{ formatAmountBySymbol(sum.start, sum.currency_symbol, sum.currency_decimal_places) }}
        </td>
        <td style="text-align: right;">
            {{ formatAmountBySymbol(sum.end, sum.currency_symbol, sum.currency_decimal_places) }}
        </td>
        <td style="text-align: right;">
            {{ formatAmountBySymbol(sum.difference, sum.currency_symbol, sum.currency_decimal_places) }}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
