<table class="table table-hover sortable">
    <thead>
    <tr>
        <th>{{ 'name'|_ }}</th>
        <th class="hidden-xs">{{ 'balanceStart'|_ }}</th>
        <th class="hidden-xs">{{ 'balanceEnd'|_ }}</th>
        <th>{{ 'difference'|_ }}</th>
    </tr>
    </thead>
    <tbody>
    {% for account in accountReport.getAccounts %}
        <tr>
            <td>
                <a href="{{ route('accounts.show',account.id) }}" title="{{ account.name }}">{{ account.name }}</a>
            </td>
            <td class="hidden-xs" data-value="{{ account.startBalance }}">{{ account.startBalance|formatAmount }}</td>
            <td class="hidden-xs" data-value="{{ account.endBalance }}">{{ account.endBalance|formatAmount }}</td>
            <td data-value="{{ (account.endBalance - account.startBalance) }}">{{ (account.endBalance - account.startBalance)|formatAmount }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td><em>{{ 'sumOfSums'|_ }}</em></td>
        <td class="hidden-xs">{{ accountReport.getStart|formatAmount }}</td>
        <td class="hidden-xs">{{ accountReport.getEnd|formatAmount }}</td>
        <td>{{ accountReport.getDifference|formatAmount }}</td>
    </tr>
    </tfoot>
</table>
