<table class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsign="az">{{ 'budget'|_ }}</th>
        {% for period in periods %}
            <th data-defaultsign="_19">{{ period }}</th>
        {% endfor %}
        <th data-defaultsign="_19">{{ 'sum'|_ }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, info in budgets %}
        <tr>
            <td data-value="{{ info.name }}">
                <a title="{{ info.name }}" href="#" data-budget="{{ id }}" class="budget-chart-activate">{{ info.name }}</a>
            </td>
            {% for amount in info.entries %}
                <td data-value="{{ amount }}">
                    {{ amount|formatAmount }}
                </td>
            {% endfor %}
            <td data-value="{{ info.sum }}">
                {{ info.sum|formatAmount }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>