<table class="table table-condensed table-hover">
    <thead>
    <tr>
        <th>&nbsp;</th>
        {% for date, header in budgets.get('headers') %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    </thead>
    <tbody>
    {% set spentData = budgets.get('spent') %}
    {% for budgetId, budgetName in budgets.get('budgets') %}
        <tr>
            <th>
                <a title="{{ budgetName }}" href="#" data-budget="{{ budgetId }}" class="budget-chart-activate">{{ budgetName }}</a>
            </th>
            {% for date, header in budgets.get('headers') %}
                <td>{{ spentData[budgetId][date]|formatAmount }}</td>
            {% endfor %}

        </tr>
    {% endfor %}
    </tbody>

</table>