<table class="table table-hover sortable">
    <thead>
    <tr>
        <th>{{ 'budget'|_ }}</th>
        {% for period in periods %}
            <th>{{ period }}</th>
        {% endfor %}
        <th>{{ 'sum'|_ }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, info in budgets %}
        <tr>
            <td>
                <a title="{{ info.name }}" href="#" data-budget="{{ id }}" class="budget-chart-activate">{{ info.name }}</a>
            </td>
            {% for amount in info.entries %}
                <td data-value="{{ amount }}">
                    {{ amount|formatAmount }}
                </td>
            {% endfor %}
            <td data-value="{{ info.sum }}">
                {{ info.sum|formatAmount }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>