<table class="table table-hover sortable">
    <thead>
    <tr>
        <th>{{ 'budget'|_ }}</th>
        {% for year in years %}
            <th>{{ year }}</th>
        {% endfor %}
        <th>{{ 'sum'|_ }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, info in budgetMultiYear %}
        <tr>
            <td>
                {% if id == 0 %}
                    <a href="{{ route('budgets.noBudget') }}">{{ info.name }}</a>

                {% else %}
                    <a href="{{ route('budgets.show', id) }}">{{ info.name }}</a>
                {% endif %}
            </td>
            {% for amount in info.entries %}
                <td data-value="{{ amount }}">
                    {{ amount|formatAmount }}
                </td>
            {% endfor %}
            <td data-value="{{ info.sum }}">
                {{ info.sum|formatAmount }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>