<table class="table table-hover sortable">
    <thead>
    <tr>
        <th data-defaultsign="az">{{ 'budget'|_ }}</th>
        {% for period in periods %}
            <th data-defaultsign="_19">{{ period }}</th>
        {% endfor %}
        <th data-defaultsign="_19">{{ 'sum'|_ }}</th>
    </tr>
    </thead>
    <tbody>
    {% for id, info in budgets %}
        <tr>
            <td data-value="{{ info.name }}">
                <a title="{{ info.name }}" href="#" data-budget="{{ id }}" class="budget-chart-activate">{{ info.name }}</a>
            </td>
            {% for key, period in periods %}
                {% if(info.entries[key]) %}
                    <td data-value="{{ info.entries[key] }}">
                        {{ info.entries[key]|formatAmount }}
                    </td>
                {% else %}
                    <td data-value="0">
                        {{ 0|formatAmount }}
                    </td>
                {% endif %}

            {% endfor %}
            <td data-value="{{ info.sum }}">
                {{ info.sum|formatAmount }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>