<table class="table table-hover sortable">
    <thead>
    <tr>
        <th  style="width:50%;" data-defaultsign="az">{{ 'category'|_ }}</th>
        <th style="width:25%;text-align: right;" data-defaultsort="disabled">{{ 'spent'|_ }}</th>
        <th style="width:25%;text-align: right;" data-defaultsort="disabled">{{ 'earned'|_ }}</th>
    </tr>
    </thead>
    <tbody>
    {% for categoryId, entry in together %}
        <tr>
            <td style="width:50%;" data-value="{% if entry.category.name|length ==0 %}{{ 'noCategory'|_ }}{% else %}{{ entry.category.name }}{% endif %}">
                {% if entry.category.name|length ==0 %}
                    <a href="{{ route('categories.no-category') }}">{{ 'noCategory'|_ }}</a>
                {% else %}
                    <a href="{{ route('categories.show', categoryId) }}">{{ entry.category.name }}</a>
                {% endif %}
            </td>
            <td style="text-align: right;">
                {% if entry.spent|length ==0 %}
                    {{ '0'|formatAmount }}
                {% else %}
                    {% for expense in entry.spent %}
                        {{ formatAmountBySymbol(expense.sum, expense.currency.symbol, expense.currency.dp) }}<br />
                    {% endfor %}
                {% endif %}
            </td>
            <td style="width:20px;">
                {% if entry.earned|length ==0 %}
                    {{ '0'|formatAmount }}
                {% else %}
                    {% for income in entry.earned %}
                        {{ formatAmountBySymbol(income.sum, income.currency.symbol, income.currency.dp) }}<br />
                    {% endfor %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
