<table class="table table-hover">
    <tbody>
    {% set sum = 0 %}
    {% for row in income %}
        {% set sum = sum + row.sum %}
        {% if loop.index > listLength %}
            <tr class="overListLength">
        {% else %}
            <tr>
        {% endif %}
        <td>
            <a href="{{ route('accounts.show',row.id) }}" title="{{ row.name }}">{{ row.name }}</a>
            {% if row.count > 1 %}
                <br/>
                <small>
                    {{ row.count }} {{ 'transactions'|_|lower }}
                    <i class="fa fa-fw text-muted fa-info-circle firefly-info-button" data-location="income-entry"
                       data-account-id="{{ row.id }}"></i>
                </small>

            {% endif %}
        </td>

        <td>{{ row.sum|formatAmount }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% if income|length > listLength %}
        <tr>
            <td colspan="2" class="active">
                <a href="#" class="listLengthTrigger">{{ trans('firefly.show_full_list',{ number:listLength } ) }}</a>
            </td>
        </tr>
    {% endif %}
    <tr>
        <td><em>{{ 'sum'|_ }}</em></td>
        <td>{{ sum|formatAmount }}</td>
    </tr>
    </tfoot>
</table>
