<table class="table table-hover">
    <tr>
        <td>{{ 'in'|_ }}</td>
        <td>{{ incomes.getTotal|formatAmount }}</td>
    </tr>
    <tr>
        <td>{{ 'out'|_ }}</td>
        <td>{{ (expenses.getTotal)|formatAmount }}</td>
    </tr>
    <tr>
        <td>{{ 'difference'|_ }}</td>
        <td>{{ (incomes.getTotal + expenses.getTotal)|formatAmount }}</td>
    </tr>
</table>
