<table class="table table-hover">
    <tr>
        <td>{{ 'money_flowing_in'|_ }}</td>
        <td style="text-align: right;">{{ incomeSum|formatAmount }}</td>
    </tr>
    <tr>
        <td>{{ 'money_flowing_out'|_ }}</td>
        <td style="text-align: right;">{{ expensesSum|formatAmount }}</td>
    </tr>
    <tr>
        <td>{{ 'difference'|_ }}</td>
        <td style="text-align: right;">{{ (incomeSum + expensesSum)|formatAmount }}</td>
    </tr>
</table>
