<div class="{{ classes }}" id="{{ name}}_holder">
    <label for="{{ options.id }}" class="col-sm-4 control-label">{{ label }}</label>
    <div class="col-sm-8">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle balanceCurrencyDropdown" data-toggle="dropdown" aria-expanded="false">
                    <span id="balanceCurrentSymbol">{{ defaultCurrency.symbol|raw }}</span> <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    {% for currency in currencies %}
                        <li><a href="#" class="currencySelect" data-id="{{ currency.id }}" data-field="balance" data-currency="{{ currency.code }}" data-symbol="{{ currency.symbol }}">{{ currency.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {{ Form.input('number', name, value, options)  }}

        </div>
        {% include 'form/feedback.twig' %}
    </div>

    <input type="hidden" name="balance_currency_id" value="{{ defaultCurrency.id }}" />
</div>
