<div class="{{ classes }}" id="{{ name }}_holder">
    <label for="{{ options.id }}" class="col-sm-4 control-label">{{ label }}</label>

    <div class="col-sm-8">
        <div class="checkbox">
            <label>
                {{ Form.checkbox(name, value, options.checked, options) }}
            </label>
        </div>
        {% include 'form/help.twig' %}
        {% include 'form/feedback.twig' %}
    </div>
</div>
