<div class="{{ classes }}">
    <label for="{{ options.id }}" class="col-sm-4 control-label">{{ label }}</label>
    <div class="col-sm-8">
        {% for value,description in list %}
        <div class="radio">
            <label>
                {{ Form.radio(name, value, (selected == value), options)  }}
                {{ description }}
            </label>
        </div>
        {% endfor %}
        {% include 'form/help.twig' %}
        {% include 'form/feedback.twig' %}

    </div>
</div>
