<html>
<head>
    <title>Debug page</title>
</head>
<body>

<p style="font-family:Arial, Arial, Helvetica, sans-serif;font-size:12pt;width:600px;">
    If you are running into problems, you can use the information in this box as debug information. Please copy-and-paste into a new
    or existing <a href="https://github.com/firefly-iii/firefly-iii/issues">GitHub issue</a>. It will generate a beautiful table that can
    be used to quickly diagnose your problem.
</p>
<p style="font-family:Arial, Arial, Helvetica, sans-serif;font-size:12pt;width:600px;">
    <strong>If you copy/paste the box below into a GitHub issue it will generate a table. Please do not surround this text with backticks or quotes.</strong>
</p>
<textarea rows="30" cols="100" name="debug_info" style="font-family:Menlo, Monaco, Consolas, monospace;font-size:8pt;">
Debug information generated at {{ now }} for Firefly III version **{{ FF_VERSION }}**.

| Scope | Version |
| --- | --- |
| Firefly III | {{ FF_VERSION }} |
| Firefly III API | {{ config('firefly.api_version') }} |
| PHP | {{ phpVersion }} |
| Host | {{ phpOs }} |

| System info | Value |
| --- | --- |
| Installation ID | {{ installationId }} |
| Using docker? | {% if isDocker %}true{% else %}false{% endif %} |
| Telemetry | {% if telemetry %}true{% else%}false{% endif%} |
| App environment | {{ appEnv }} |
| App debug mode | {{ appDebug }} |
| App cache driver | {{ cacheDriver }} |
| App logging | {{ appLogLevel }}, {{ logChannel }} |
| Display errors | {{ displayErrors }} |
| Error reporting | {{ errorReporting }} |
| Interface | {{ interface }} |
| Default language | {{ defaultLanguage }} |
| Default locale | {{ defaultLocale }} |
| DB drivers | {{ drivers }} |
| Current driver | {{ currentDriver }} |
| Login provider | {{ loginProvider }}  |
| Trusted proxies (.env) | {{ trustedProxies }} |

| User info | Value |
| --- | --- |
| Session start | {{ session('start') }} |
| Session end | {{ session('end') }} |
| Session first | {{ session('first') }} |
| User ID | {{ Auth.user.id }} |
| User language | {{ userLanguage }} |
| User locale | {{ userLocale }} |
{% for code,result in localeAttempts %}
| Attempt at "{{ code }}" | {{ result }} |
{% endfor %}
| User agent | {{ userAgent }} |
</textarea>

<p style="font-family:Arial, Arial, Helvetica, sans-serif;font-size:12pt;width:600px;color:#a00;">
    <a href="{{ route('index') }}">Back to the index</a>
</p>

<p style="font-family:Arial, Arial, Helvetica, sans-serif;font-size:12pt;width:600px;color:#a00;">
    You may also share the content of the box below. You can also copy-and-paste this into a new
    or existing <a href="https://github.com/firefly-iii/firefly-iii/issues">GitHub issue</a>. However, the content of this
    box may contain private information such as account names, transaction details or email addresses.
</p>

<textarea rows="30" cols="100" name="log_info" style="font-family:Menlo, Monaco, Consolas, monospace;font-size:7pt;">
```
{{ logContent }}
```
</textarea>

<p style="font-family:Arial, Arial, Helvetica, sans-serif;font-size:12pt;width:600px;color:#a00;">
    <a href="{{ route('index') }}">Back to the index</a>
</p>

</body>
</html>
