{% extends "./layout/guest.twig" %}

{% block content %}

    {% if errors|length > 0 %}
        <div class="alert alert-danger">
            <strong>Whoops!</strong> There were some problems with your input.<br><br>
            <ul>
                {% for error in errors.all %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}



    <div class="register-box-body">
        <p class="login-box-msg">Register a new account</p>

        <form role="form" id="register" method="POST" action="{{ URL.to('/auth/register') }}">
            <input type="hidden" name="_token" value="{{ csrf_token() }}">

            <div class="form-group has-feedback">
                <input type="email" name="email" class="form-control" placeholder="Email"/>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Password" name="password"/>
            </div>
            <div class="form-group has-feedback">
                <input type="password" class="form-control" placeholder="Retype password" name="password_confirmation"/>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary pull-right btn-flat">Register</button>
                </div>
                <!-- /.col -->
            </div>
        </form>

        <a href="{{ URL.to('/auth/login') }}">I want to login</a><br>
        <a href="{{ URL.to('/password/email') }}">I forgot my password</a>
    </div><!-- /.form-box -->

{% endblock %}
