{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, bill) }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ bill.name }}</h3>

                    {% if bill.active %}
                        <i class="fa fa-check fa-fw" title="{{ 'active'|_ }}"></i>
                    {% else %}
                        <i class="fa fa-times fa-fw" title="{{ 'inactive'|_ }}"></i>
                    {% endif %}

                    {% if bill.automatch %}
                        <i class="fa fa-check fa-fw" title="{{ 'auto_match_on'|_ }}"></i>
                    {% else %}
                        <i class="fa fa-times fa-fw" title="{{ 'auto_match_off'|_ }}"></i>
                    {% endif %}

                    <!-- ACTIONS MENU -->
                    <div class="box-tools pull-right">
                        <div class="btn-group">
                            <button class="btn btn-box-tool dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ route('bills.edit',bill.id) }}"><i class="fa fa-fw fa-pencil"></i> {{ 'edit'|_ }}</a></li>
                                <li><a href="{{ route('bills.delete',bill.id) }}"><i class="fa fa-fw fa-trash-o"></i> {{ 'delete'|_ }}</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="box-body">
                    <table class="table">
                        <tr>
                            <td colspan="2">
                                {{ 'matching_on'|_ }}
                                {% for word in bill.match|split(',') %}
                                    <span class="label label-info">{{ word }}</span>
                                {% endfor %}
                                {{ trans('firefly.between_amounts', {low: bill.amount_min|formatAmount, high: bill.amount_max|formatAmount })|raw }}
                                {{ 'repeats'|_ }}
                                {{ trans('firefly.repeat_freq_' ~bill.repeat_freq) }}.
                            </td>

                        </tr>
                        <tr>
                            <td>{{ 'next_expected_match'|_ }}</td>
                            <td>
                                {% if bill.nextExpectedMatch %}
                                    {{ bill.nextExpectedMatch.formatLocalized(monthAndDayFormat) }}
                                {% else %}
                                    <em>{{ 'unknown'|_ }}</em>
                                {% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td>{{ trans('firefly.average_bill_amount_year', {year: year}) }}</td>
                            <td>{{ yearAverage|formatAmount }}</td>
                        </tr>
                        <tr>
                            <td>{{ 'average_bill_amount_overall'|_ }}</td>
                            <td>{{ overallAverage|formatAmount }}</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'more'|_ }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        <a href="{{ route('bills.rescan',bill.id) }}" class="btn btn-default">{{ 'rescan_old'|_ }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'chart'|_ }}</h3>
                </div>
                <div class="box-body">
                    <canvas id="bill-overview" style="width:100%;" height="400"></canvas>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-sm-12 col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'connected_journals'|_ }}</h3>
                </div>
                <div class="box-body">
                    {% include 'list.journals-tasker' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script type="text/javascript">
        var billID = {{ bill.id }};
    </script>
    <script type="text/javascript" src="js/lib/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="js/ff/charts.defaults.js"></script>
    <script type="text/javascript" src="js/ff/charts.js"></script>
    <script type="text/javascript" src="js/ff/bills/show.js"></script>
    <script type="text/javascript" src="js/ff/transactions/list.js"></script>
{% endblock %}
