<!-- Navigation -->

<nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ route('index') }}">Firefly</a>
    </div>
    <!-- /.navbar-header -->


    <ul class="nav navbar-top-links navbar-right hidden-xs">

        <!-- reminders -->
        {% if reminders|length > 0 %}
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="false">
                    <i class="fa fa-envelope fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-messages">
                    {% for reminder in reminders %}
                    <li>
                        <a href="{{ route('reminders.show',reminder.id) }}">
                            <div>
                                <strong>
                                    {{ reminder.remindersable.name }}
                                </strong>
                                    <span class="pull-right text-muted">
                                        <em>{{ reminder.startdate.diffForHumans }}</em>
                                    </span>
                            </div>
                            <div>{{ reminder.description|raw }}</div>
                        </a>
                    </li>
                    <li class="divider"></li>
                    {% endfor %}
                    <li>
                        <a class="text-center" href="{{ route('reminders.index') }}">
                            <strong>See all reminders</strong>
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </li>
                </ul>
                <!-- /.dropdown-messages -->
            </li>
        {% endif %}

        <!-- menu -->
        <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="{{ route('profile') }}"><i class="fa fa-user fa-fw"></i> {{ Auth.user.email }}</a></li>
                <li><a href="{{ route('preferences') }}"><i class="fa fa-gear fa-fw"></i> Preferences</a></li>
                <li><a href="{{ route('currency.index') }}"><i class="fa fa-usd fa-fw"></i> Currency</a></li>
                <li><a href="{{ route('reminders.index') }}"><i class="fa fa-clock-o fa-fw"></i> Reminders</a></li>
                <li class="divider"></li>
                <li><a href="{{ route('logout') }}"><i class="fa fa-sign-out fa-fw"></i> Logout</a></li>
            </ul>
            <!-- /.dropdown-user -->
        </li>


        <!-- /.dropdown -->

    </ul>
    <p class="navbar-text navbar-right hidden-xs" id="daterange"><span>&nbsp;</span> <b class="caret"></b></p>


    <!-- /.navbar-top-links -->
    <div class="navbar-default sidebar" role="navigation">
        <div class="sidebar-nav navbar-collapse">
            <ul class="nav" id="side-menu">
                <li class="sidebar-search hidden-xs">
                    <form action="{{ route('search') }}" method="GET" class="form-inline">
                        <div class="input-group custom-search-form">
                            <input type="text" name="q" class="form-control" value="{% if Input.get('q') %}{{ Input.get('q') }}{% endif %}"
                                   placeholder="Search...">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </form>
                    <!-- /input-group -->
                </li>
                <li>
                    <a class="{{ activeRoute('index',null,true) }}" href="{{ route('index') }}"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                </li>
                <li class="{{ activeRoute('accounts.index') }}">
                    <a href="#"><i class="fa fa-credit-card fa-fw"></i> Accounts <span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="{{ activeRoute('accounts.index', 'asset') }}" href="{{ route('accounts.index','asset') }}"><i class="fa fa-money fa-fw"></i> Asset
                                accounts</a>
                        </li>
                        <li>
                            <a class="{{ activeRoute('accounts.index', 'expense') }}" href="{{ route('accounts.index','expense') }}"><i
                                        class="fa fa-shopping-cart fa-fw"></i> Expense accounts</a>
                        </li>
                        <li>
                            <a class="{{ activeRoute('accounts.index', 'revenue') }}" href="{{ route('accounts.index','revenue') }}"><i class="fa fa-download fa-fw"></i>
                                Revenue accounts</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li>
                    <a class="{{ activeRoute('budgets') }}" href="{{ route('budgets.index') }}"><i class="fa fa-tasks fa-fw"></i> Budgets</a>
                </li>
                <li>
                    <a class="{{ activeRoute('categories') }}" href="{{ route('categories.index') }}"><i class="fa fa-bar-chart fa-fw"></i> Categories</a>
                </li>
                <li>
                    <a class="{{ activeRoute('tags') }}" href="{{ route('tags.index') }}"><i class="fa fa-tags fa-fw"></i> Tags</a>
                </li>
                <li>
                    <a class="{{ activeRoute('reports') }}" href="{{ route('reports.index') }}"><i class="fa fa-line-chart fa-fw"></i> Reports</a>
                </li>
                <li class="{{ activeRoute('transactions') }}">
                    <a href="#"><i class="fa fa-repeat fa-fw"></i> Transactions<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="{{ activeRoute('transactions.index','withdrawal') }}" href="{{ route('transactions.index','withdrawal') }}"><i
                                        class="fa fa-long-arrow-left fa-fw"></i> Expenses</a>
                        </li>
                        <li>
                            <a class="{{ activeRoute('transactions.index','deposit') }}" href="{{ route('transactions.index','deposit') }}"><i
                                        class="fa fa-long-arrow-right fa-fw"></i> Revenue / income</a>
                        </li>
                        <li>
                            <a class="{{ activeRoute('transactions.index','transfers') }}" href="{{ route('transactions.index','transfers') }}"><i class="fa fa-fw fa-exchange"
                                                                                                                                title="Transfer"></i> Transfers</a>
                        </li>
                    </ul>

                </li>
                <li class="{{ activeRoute('piggy-banks') }}">
                    <a href="#"><i class="fa fa-euro fa-fw"></i> Money management<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="{{ activeRoute('piggy-banks') }}" href="{{ route('piggy-banks.index') }}"><i class="fa fa-sort-amount-asc fa-fw"></i> Piggy
                                banks</a>
                        </li>
                        <li>
                            <a class="{{ activeRoute('bills') }}" href="{{ route('bills.index') }}"><i class="fa fa-calendar-o fa-fw"></i> Bills</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <li class="{{ activeRoute('transactions.create') }}">
                    <a href="#"><i class="fa fa-plus fa-fw"></i> Create new<span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a class="{{ activeRoute('transactions.create','withdrawal') }}" href="{{ route('transactions.create','withdrawal') }}"><i
                                        class="fa fa-long-arrow-left fa-fw"></i> Withdrawal</a>
                        </li>
                        <li>
                            <a class="{{ activeRoute('transactions.create','deposit') }}" href="{{ route('transactions.create','deposit') }}"><i
                                        class="fa fa-long-arrow-right fa-fw"></i> Deposit</a>
                        </li>
                        <li>
                            <a class="{{ activeRoute('transactions.create','transfer') }}" href="{{ route('transactions.create','transfer') }}"><i class="fa fa-fw fa-exchange"
                                                                                                                             title="Transfer"></i> Transfer</a>
                        </li>
                        <li>
                            <a class="{{ activeRoute('bills.create') }}" href="{{ route('bills.create') }}"><i class="fa fa-calendar-o fa-fw"></i> Bill</a>
                        </li>
                    </ul>
                    <!-- /.nav-second-level -->
                </li>
                <!-- profile, again-->
                <!-- reminders, again-->
            </ul>
        </div>
        <!-- /.sidebar-collapse -->
    </div>
    <!-- /.navbar-static-side -->
</nav>
