<ul class="sidebar-menu">
    <!-- home / dashboard -->
    <li class="{{ activeRouteStrict('index') }} treeview">
        <a href="{{ route('index') }}"><i class="fa fa-dashboard fa-fw"></i>
            <span>{{ 'dashboard'|_ }}</span></a>
    </li>
    <!-- accounts -->
    <li class="{{ activeRoutePartial('accounts') }} treeview">
        <a href="#">
            <i class="fa fa-credit-card fa-fw"></i>
            <span>{{ 'accounts'|_ }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <!-- submenu for accounts -->
        <ul class="treeview-menu">
            <li class="{{ activeRoutePartialWhat('accounts', 'asset') }}">
                <a href="{{ route('accounts.index','asset') }}">
                    <i class="fa fa-money fa-fw"></i> {{ 'asset_accounts'|_ }}
                </a>
            </li>
            <li class="{{ activeRoutePartialWhat('accounts', 'expense') }}">
                <a href="{{ route('accounts.index','expense') }}">
                    <i class="fa fa-shopping-cart fa-fw"></i> {{ 'expense_accounts'|_ }}
                </a>
            </li>
            <li class="{{ activeRoutePartialWhat('accounts', 'revenue') }}">
                <a href="{{ route('accounts.index','revenue') }}">
                    <i class="fa fa-download fa-fw"></i> {{ 'revenue_accounts'|_ }}
                </a>
            </li>
        </ul>
    </li>
    <!-- budgets-->
    <li class="{{ activeRoutePartial('budgets') }}">
        <a href="{{ route('budgets.index') }}">
            <i class="fa fa-tasks fa-fw"></i>
            <span>{{ 'budgets'|_ }}</span>
        </a>
    </li>
    <!-- categories -->
    <li class="{{ activeRoutePartial('categories') }}">
        <a href="{{ route('categories.index') }}">
            <i class="fa fa-bar-chart fa-fw"></i>
            <span>{{ 'categories'|_ }}</span>
        </a>
    </li>
    <!-- tags -->
    <li class="{{ activeRoutePartial('tags') }}">
        <a href="{{ route('tags.index') }}">
            <i class="fa fa-tags fa-fw"></i>
            <span>{{ 'tags'|_ }}</span>
        </a>
    </li>

    <!-- reports -->
    <li class="{{ activeRoutePartial('reports') }}">
        <a href="{{ route('reports.index') }}">
            <i class="fa fa-line-chart fa-fw"></i>
            <span>{{ 'reports'|_ }}</span>
        </a>
    </li>

    <!-- transactions -->
    <li class="{{ activeRoutePartial('transactions') }} treeview">
        <a href="#">
            <i class="fa fa-repeat fa-fw"></i>
            <span>
                {{ 'transactions'|_ }}<span class="fa arrow"></span>
            </span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{{ activeRoutePartialWhat('transactions','withdrawal') }}">
                <a href="{{ route('transactions.index','withdrawal') }}">
                    <i class="fa fa-long-arrow-left fa-fw"></i> {{ 'expenses'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartialWhat('transactions','deposit') }}">
                <a href="{{ route('transactions.index','deposit') }}"><i
                            class="fa fa-long-arrow-right fa-fw"></i> {{ 'income'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartialWhat('transactions','transfers') }}">
                <a href="{{ route('transactions.index','transfers') }}">
                    <i class="fa fa-fw fa-exchange"></i> {{ 'transfers'|_ }}</a>
            </li>
        </ul>

    </li>
    <!-- money management -->
    <li class="{{ activeRoutePartial('bills') }} {{ activeRoutePartial('piggy-banks') }} treeview">
        <a href="#">
            <i class="fa fa-euro fa-fw"></i>
            <span>{{ 'moneyManagement'|_ }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>
        <ul class="treeview-menu">
            <li class="{{ activeRoutePartial('piggy-banks') }}">
                <a href="{{ route('piggy-banks.index') }}">
                    <i class="fa fa-sort-amount-asc fa-fw"></i> {{ 'piggyBanks'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartial('bills') }}">
                <a href="{{ route('bills.index') }}">
                    <i class="fa fa-calendar-o fa-fw"></i> {{ 'bills'|_ }}</a>
            </li>
        </ul>

    </li>

    <!-- options and preferences -->
    <li class="{{ activeRoutePartial('profile') }} {{ activeRoutePartial('preferences') }} {{ activeRoutePartial('currency') }} treeview">
        <a href="#">
            <i class="fa fa-gears fa-fw"></i>
            <span>{{ 'options'|_ }}</span>
            <i class="fa fa-angle-left pull-right"></i>
        </a>

        <ul class="treeview-menu">
            <li class="{{ activeRoutePartial('profile') }}">
                <a class="{{ activeRouteStrict('profile') }}" href="{{ route('profile') }}"><i class="fa fa-user fa-fw"></i> Profile</a>
            </li>
            <li class="{{ activeRoutePartial('preferences') }}">
                <a class="{{ activeRouteStrict('preferences') }}" href="{{ route('preferences') }}"><i class="fa fa-gear fa-fw"></i> {{ 'preferences'|_ }}</a>
            </li>
            <li class="{{ activeRoutePartial('currency') }}">
                <a class="{{ activeRoutePartial('currency') }}" href="{{ route('currency.index') }}"><i class="fa fa-usd fa-fw"></i> {{ 'currencies'|_ }}</a>
            </li>
        </ul>


    </li>


    <!-- other options -->


    <li>
        <a href="{{ route('logout') }}">
            <i class="fa fa-sign-out fa-fw"></i>
            <span>{{ 'logout'|_ }}</span>
        </a>
    </li>

</ul>
