{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName, importJob) }}
{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ trans('import.job_config_roles_title') }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        {{ trans('import.job_config_roles_text') }}
                    </p>
                    <p class="text-danger">
                        {{ trans('import.deprecate_csv_import')|raw }}
                    </p>
                </div>
            </div>

        </div>
    </div>
    <form action="{{ route('import.job.configuration.post', importJob.key) }}" method="post">
        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('import.job_config_input') }}</h3>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <thead>
                            <tr>
                                <th style="width:20%;">{{ trans('import.job_config_roles_column_name') }}</th>
                                <th style="width:40%;">{{ trans('import.job_config_roles_column_example') }}</th>
                                <th style="width:30%;">{{ trans('import.job_config_roles_column_role') }}</th>
                                <th style="width:10%;">{{ trans('import.job_config_roles_do_map_value') }}</th>
                            </tr>
                            </thead>
                            {% for i in 0..(data.total -1) %}

                                <tr>
                                    <td>
                                        {% if data.headers[i] == '' %}
                                            {{ trans('import.job_config_roles_colum_count') }} #{{ loop.index }}
                                        {% else %}
                                            {{ data.headers[i] }}
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if data.examples[i]|length == 0 %}
                                            <em>{{ trans('import.job_config_roles_no_example') }}</em>
                                        {% else %}
                                            {% for example in data.examples[i] %}
                                                <code>{{ example }}</code><br/>
                                            {% endfor %}
                                        {% endif %}

                                    <td>
                                        {{ Form.select(('role['~loop.index0~']'),
                                        data.roles,
                                        importJob.configuration['column-roles'][loop.index0],
                                        {class: 'form-control'}) }}
                                    </td>
                                    <td>
                                        {{ Form.checkbox(('map['~loop.index0~']'),1,
                                        importJob.configuration['column-do-mapping'][loop.index0]

                                        ) }}
                                    </td>

                                </tr>
                            {% endfor %}


                        </table>

                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="box">
                    <div class="box-body">
                        <button type="submit" class="btn btn-success pull-right">
                            {{ trans('import.job_config_roles_submit') }} <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>


{% endblock %}
