<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow, noarchive, noodp, NoImageIndex, noydir">
    <title>Firefly III Maintenance Mode</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <base href="{{ route('index') }}/">

    {# libraries #}
    <link href="v1/lib/bs/css/bootstrap.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    {# the theme #}
    <link href="v1/lib/adminlte/css/AdminLTE.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="v1/lib/adminlte/css/skins/skin-blue-light.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    {# Firefly III customisations #}
    <link href="v1/css/error.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    {# favicons #}
    {% include('v1.partials.favicons') %}

</head>
<body class="container">
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        <h1><a href="{{ route('index') }}"><b>Firefly</b>III</a></h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        <h3 class="text-info">{{ trans('errors.maintenance_mode') }}</h3>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
        <p>
            {{ trans('errors.be_right_back') }}
        </p>
        <p class="text-danger">
            {{ trans('errors.check_back') }}
        </p>
    </div>
</div>
</body>
</html>
