<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow, noarchive, noodp, NoImageIndex, noydir">
    <title>Firefly III</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <base href="{{ route('index') }}/">

    {# CSS things #}

    {# libraries #}
    <link href="v1/lib/bs/css/bootstrap.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="v1/lib/fa/css/font-awesome.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="v1/css/daterangepicker.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    {# the theme #}
    <link href="v1/lib/adminlte/css/AdminLTE.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="v1/lib/adminlte/css/skins/skin-blue-light.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    {# Firefly III customisations #}
    <link href="v1/css/firefly.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    {# favicons #}
    {% include('partials.favicons') %}

</head>
<body class="ff-error-page">
<div class="ff-error-box">
    <div class="login-logo">
        <a href="{{ route('index') }}"><b>Firefly</b>III</a>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <h3 class="text-info">{{ trans('errors.error_occurred') }}</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <p>
                {{ trans('errors.error_not_recoverable') }}
            </p>
            <p class="text-danger">
                {{ exception.getMessage |default('General unknown errror') }}
            </p>
        </div>
    </div>
    {% if not debug %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <p>
                    <strong>{{ trans('errors.more_info') }}</strong><br />
                    {{ trans('errors.collect_info')|raw }}
                    {{ trans('errors.collect_info_more')|raw }}
                </p>
                <p>
                    <strong>{{ trans('errors.github_help') }}</strong><br />
                    {{ trans('errors.github_instructions')|raw }}
                </p>
                <ol>
                    <li>{{ trans('errors.use_search') }}</li>
                    <li>{{ trans('errors.include_info', { link: route('debug') })|raw }}</li>
                    <li>{{ trans('errors.tell_more') }}</li>
                    <li>{{ trans('errors.include_logs') }}</li>
                    <li>{{ trans('errors.what_did_you_do') }}</li>
                </ol>
            </div>
        </div>
    {% endif %}
</div>

{% if debug %}
    <div class="error-stack">
        <h4>{{ trans('errors.error') }}</h4>
        <p>{{ trans('errors.error_location', {file: exception.getFile, line: exception.getLine, code: exception.getCode })|raw }}</p>
        <h4>{{ trans('errors.stacktrace') }}</h4>
        <div style="font-family: monospace;font-size:11px;">
            {{ exception.getTraceAsString|nl2br }}
        </div>
    </div>
{% endif %}

</body>
</html>
