{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'all_users'|_ }}</h3>
                </div>
                <div class="box-body table-responsive no-padding">
                    <table class="table table-condensed sortable">
                        <thead>
                        <tr>
                            <th colspan="2">&nbsp;</th>
                            <th>{{ trans('list.email') }}</th>
                            <th>{{ trans('list.registered_at') }}</th>
                            <th>{{ trans('list.registered_from') }}</th>
                            <th>{{ trans('list.confirmed_from') }}</th>
                            <th>{{ trans('list.is_admin') }}</th>
                            <th>{{ trans('list.has_two_factor') }}</th>
                            <th>{{ trans('list.is_activated') }}</th>
                            <th>{{ trans('list.is_blocked') }}</th>
                            <th>{{ trans('list.blocked_code') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr>
                                <td data-value="{{ user.id }}">
                                    <div class="btn-group btn-group-xs">
                                        <a class="btn btn-default" href="{{ route('admin.users.edit',user.id) }}"><i class="fa fa-pencil"></i></a>
                                    </div>
                                </td>
                                <td data-value="{{ user.id }}">#{{ user.id }}</td>
                                <td data-value="{{ user.email }}">
                                    <a href="{{ route('admin.users.show',user.id) }}">{{ user.email }}</a></td>
                                <td data-value="{{ user.created_at.format('Y-m-d-H-i-s') }}">
                                    {{ user.created_at.formatLocalized(monthAndDayFormat) }}
                                    {{ user.created_at.format('H:i') }}
                                </td>
                                <td>
                                    {{ Preferences.getForUser(user,"registration_ip_address").data }}
                                </td>
                                <td>
                                    {{ Preferences.getForUser(user,"confirmation_ip_address").data }}
                                </td>
                                <td data-value="{% if user.isAdmin %}1{% else %}0{% endif %}">
                                    {% if user.isAdmin %}
                                        <small class="text-success"><i class="fa fa-fw fa-check"></i></small>
                                    {% else %}
                                        <small class="text-danger"><i class="fa fa-fw fa-times"></i></small>
                                    {% endif %}
                                </td>
                                <td data-value="{% if user.has2FA %}1{% else %}0{% endif %}">
                                    {% if user.has2FA %}
                                        <small class="text-success"><i class="fa fa-fw fa-check"></i></small>
                                    {% else %}
                                        <small class="text-danger"><i class="fa fa-fw fa-times"></i></small>
                                    {% endif %}
                                </td>
                                <td data-value="{% if user.activated %}1{% else %}0{% endif %}">
                                    {% if user.activated %}
                                        <small class="text-success"><i class="fa fa-fw fa-check"></i></small>
                                    {% else %}
                                        <small class="text-danger"><i class="fa fa-fw fa-times"></i></small>
                                    {% endif %}
                                </td>
                                <td data-value="{% if user.blocked %}1{% else %}0{% endif %}">
                                    {% if user.blocked == 1 %}
                                        <small class="text-danger"><i class="fa fa-fw fa-check" title="{{ 'yes'|_ }}"></i></small>
                                    {% else %}
                                        <small class="text-success"><i class="fa fa-fw fa-times" title="{{ 'no'|_ }}"></i></small>
                                    {% endif %}
                                </td>
                                <td>
                                    <small>
                                        {% if user.blocked == 1 %}
                                            {% if user.blocked_code == "" %}
                                                <em>~</em>
                                            {% else %}
                                                {{ user.blocked_code }}
                                            {% endif %}
                                        {% endif %}
                                    </small>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="css/bootstrap-sortable.css" type="text/css" media="all"/>
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="js/lib/bootstrap-sortable.js"></script>
{% endblock %}
