{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, piggyBank) }}
{% endblock %}

{% block content %}
    {{ Form.open({'class' : 'form-horizontal','id' : 'destroy','url' : route('piggy-banks.destroy',piggyBank.id)})  }}
        <div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                <i class="fa fa-exclamation-circle"></i>
                {{ trans('form.delete_piggyBank', {'name': piggyBank.name}) }}
            </div>
            <div class="panel-body">
                <p class="text-danger">
                    {{ trans('form.permDeleteWarning') }}
                </p>
                <p>
                    {{ trans('form.piggyBank_areYouSure', {'name': piggyBank.name}) }}
                </p>

                <p>
                    <input type="submit" name="submit" value="{{ trans('form.deletePermanently') }}" class="btn btn-danger" />
                    <a href="{{ URL.previous() }}" class="btn-default btn">{{ trans('form.cancel') }}</a >
                </p>
            </div>
        </div>
    </div>
</div>

</form>
{% endblock %}
