<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{{ route('index') }}/">
    <meta charset="UTF-8">
    <meta name="robots" content="noindex, nofollow, noarchive, noodp, NoImageIndex, noydir">
    <title>Firefly III - Installation and update</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no' name='viewport'>
    <meta name="apple-mobile-web-app-capable" content="yes">

    {# libraries #}
    <link href="v1/lib/bs/css/bootstrap.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="v1/lib/fa/css/font-awesome.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    <link href="v1/lib/adminlte/css/AdminLTE.min.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>
    <link href="v1/css/firefly.css?v={{ FF_VERSION }}" rel="stylesheet" type="text/css"/>

    <!--[if lt IE 9]>
    <script src="v1/js/lib/html5shiv.min.js?v={{ FF_VERSION }}"></script>
    <script src="v1/js/lib/respond.min.js?v={{ FF_VERSION }}"></script>
    <![endif]-->

    {# favicons #}
    {% include('partials.favicons') %}

</head>
<body class="login-page">
<div class="login-box">
    <div class="login-logo">
        <b>Firefly</b>III<br />
        <span style="font-family: monospace;font-size:16pt;">installation and upgrade</span>
    </div>
    {% block content %}{% endblock %}
</div>
<script src="v1/js/app.js?v={{ FF_VERSION }}" type="text/javascript"></script>
{% block scripts %}{% endblock %}
</body>
</html>
