{% extends "./layout/auth" %}
{% block content %}
 <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img src="v2/assets/images/firefly-iii-48.png" class="h-6" alt="Firefly III v{{ FF_VERSION }}" title="Firefly III v{{ FF_VERSION }}">
                    </div>
                    {# ERROR LOGIN STUFF #}
                    {% if errors.all|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            {% if errors.all|length == 1 %}
                                <strong>{{ 'flash_error'|_ }}</strong> {{ errors.first() }}
                            {% else %}
                                <strong>{{ 'flash_error'|_ }}</strong>
                                <ul>
                                    {% for message in errors.all %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}

                    <form class="card" action="{{ route('login') }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                        <div class="card-body p-6">
                            <div class="card-title">
                                {% if IS_DEMO_SITE %}
                                    Welcome to the Firefly III demonstration website!
                                {% else %}
                                    {{ 'sign_in_to_start'|_ }}
                                {% endif %}
                            </div>
                            {% if IS_DEMO_SITE %}
                                <p>
                                    To log in, please use email address <strong>{{ DEMO_USERNAME }}</strong> with password <strong>{{ DEMO_PASSWORD }}</strong>
                                </p>
                            {% endif %}
                            <div class="form-group">
                                {% if config('firefly.login_provider') == 'eloquent' %}
                                    <label class="form-label">{{ trans('form.email') }}</label>
                                    <input type="email" class="{% if errors.has('email') %}is-invalid{% endif %} form-control" name="email" id="email" value="{{ old('email') }}" autocomplete="email" aria-describedby="emailHelp" placeholder="{{ trans('form.email') }}" required>
                                    {% if errors.has('email') %}
                                        <div class="invalid-feedback">
                                            {{ errors.get('email')[0] }}
                                        </div>
                                    {% endif %}
                                {% else %}
                                    <label class="form-label">{{ trans('form.login_name') }}</label>
                                    <input type="email" class="{% if errors.has('email') %}is-invalid{% endif %} form-control" name="email" id="email" autocomplete="username" aria-describedby="emailHelp" placeholder="{{ trans('form.login_name') }}" required>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label class="form-label">
                                    Password
                                    {% if allowReset %}
                                    <a href="{{ route('password.reset.request') }}" class="float-right small">{{ 'forgot_my_password'|_ }}</a>
                                    {% endif %}
                                </label>
                                <input type="password" name="password" class="{% if errors.has('password') %}is-invalid{% endif %} form-control" autocomplete="password" id="password" placeholder="Password">
                                {% if errors.has('password') %}
                                    <div class="invalid-feedback">
                                        {{ errors.get('password')[0] }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" name="remember" {% if remember %}checked{% endif %} value="1" />
                                    <span class="custom-control-label">{{ trans('form.remember_me') }}</span>
                                </label>
                            </div>
                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">{{ 'sign_in'|_ }}</button>
                            </div>
                        </div>
                    </form>
                    {% if allowRegistration %}
                    <div class="text-center text-muted">
                        <a href="{{ route('register') }}">{{ 'register_new_account'|_ }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
