{% extends "./layout/auth" %}
{% block content %}
    <div class="page-single">
        <div class="container">
            <div class="row">
                <div class="col col-login mx-auto">
                    <div class="text-center mb-6">
                        <img src="v2/assets/images/firefly-iii-48.png" class="h-6" alt="Firefly III v{{ FF_VERSION }}" title="Firefly III v{{ FF_VERSION }}">
                    </div>

                    {# ERRORS FOR REGISTER STUFF #}
                    {% if errors.all|length > 0 %}
                        <div class="alert alert-danger" role="alert">
                            {% if errors.all|length == 1 %}
                                <strong>{{ 'flash_error'|_ }}</strong> {{ errors.first() }}
                            {% else %}
                                <strong>{{ 'flash_error'|_ }}</strong>
                                <ul>
                                    {% for message in errors.all %}
                                        <li>{{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    {% endif %}

                    <form class="card" action="{{ route('register') }}" method="post">
                        <input type="hidden" name="_token" value="{{ csrf_token() }}">
                        <div class="card-body p-6">
                            <div class="card-title">{{ 'register_new_account'|_ }}</div>
                            <div class="form-group">
                                <label class="form-label">{{ trans('form.email') }}</label>
                                <input autocomplete="email" type="email" name="email" class="{% if errors.has('email') %}is-invalid{% endif %} form-control" placeholder="{{ trans('form.email') }}" value="{{ email }}" required>
                                {% if errors.has('email') %}
                                    <div class="invalid-feedback">
                                        {{ errors.get('email')[0] }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{ trans('form.password') }}</label>
                                <input type="password" autocomplete="password" class="{% if errors.has('password') %}is-invalid{% endif %} form-control" name="password" placeholder="{{ trans('form.password') }}" required>
                                {% if errors.has('password') %}
                                    <div class="invalid-feedback">
                                        {{ errors.get('password')[0] }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <label class="form-label">{{ trans('form.password_confirmation') }}</label>
                                <input type="password" autocomplete="password" name="{% if errors.has('password_confirmation') %}is-invalid{% endif %} password_confirmation" class="form-control" placeholder="{{ trans('form.password_confirmation') }}" required>
                                {% if errors.has('password_confirmation') %}
                                    <div class="invalid-feedback">
                                        {{ errors.get('password_confirmation')[0] }}
                                    </div>
                                {% endif %}
                            </div>

                            <div class="form-group">
                                <label class="custom-control custom-checkbox">
                                    <input type="checkbox" name="verify_password" value="1" checked class="custom-control-input" />
                                    <span class="custom-control-label"><a href="#" data-toggle="modal" data-target="#pwModal">{{ trans('form.verify_password') }}</a></span>
                                </label>
                            </div>

                            <div class="form-footer">
                                <button type="submit" class="btn btn-primary btn-block">{{ 'button_register'|_ }}</button>
                            </div>
                        </div>
                    </form>
                    <div class="text-center text-muted">
                        <a href="{{ route('login') }}">{{ 'want_to_login'|_ }}</a><br>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
