{% include 'v1.emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.error_intro', { version: version, errorMessage: errorMessage })|raw }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.error_type', {class: class }) }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.error_timestamp', {time: time }) }}

</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.error_location', { file: file, line: line, code: code })|raw }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {% if loggedIn %}
        {{ trans('email.error_user', { id: user.id, email: user.email })|raw }}
    {% else %}
        {{ trans('email.error_no_user') }}
    {% endif %}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.error_ip', { ip: ip }) }}<br />
    {{ trans('email.error_url', {url :url }) }}<br />
    {{ trans('email.error_user_agent', {userAgent: userAgent }) }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.error_stacktrace')|raw }}
</p>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.error_github_html')|raw }}
</p>

<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.error_stacktrace_below') }}</p>
<p style="font-family: monospace;font-size:11px;color:#aaa">
    {{ stackTrace|nl2br }}
</p>
{% include 'v1.emails.footer-html' %}
