{% include 'v1.emails.header-html' %}
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.registered_welcome', {address: address})|raw }}
</p>

<ul>
    <li style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
        {{ trans('email.registered_pw', {address: address})|raw }}
    </li>
    <li style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
        {{ trans('email.registered_help')}}
    </li>
    <li style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
        {{ trans('email.registered_doc_html')|raw }}
    </li>
</ul>
<p style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:13px;">
    {{ trans('email.registered_closing')}}
</p>
{% include 'v1.emails.footer-html' %}
