<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span>&times;</span><span class="sr-only">{{ 'close'|_ }}</span>
            </button>
            <h4 class="modal-title">
                {{ trans('firefly.edit_bl_notes') }}
            </h4>
        </div>

        <form style="display: inline;"  action="{{ route('budget-limits.update', [budgetLimit.id]) }}" method="POST">
            <div class="modal-body">
                <input type="hidden" name="_token" value="{{ csrf_token() }}"/>
                <input type="hidden" name="redirect" value="true"/>
                <input type="hidden" name="amount" value="{{ budgetLimit.amount }}"/>
                <div class="form-group">
                    <textarea name="notes" class="form-control" rows="3" placeholder="{{ 'notes'|_ }}">{{ notes }}</textarea>
                    <span class="help-block">{{ trans('firefly.field_supports_markdown')|raw }}</span>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'close'|_ }}</button>
                <button type="submit" class="btn btn-primary">{{ 'update_bl_notes'|_ }}</button>
            </div>
        </form>
    </div>
</div>

