{# modal #}
<div class="modal fade" id="pwModal" tabindex="-1" role="dialog" aria-labelledby="pwModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <div class="modal-body">
                <p>
                    {{ 'secure_pw_history'|_ }}
                </p>
                <p>
                    {{ 'secure_pw_ff'|_ }}
                </p>
                <p>
                    {{ 'secure_pw_check_box'|_ }}
                </p>

                <h4>{{ 'secure_pw_working_title'|_ }}</h4>
                <p>
                    {{ 'secure_pw_working'|_ }}
                </p>
                <h4>{{ 'secure_pw_should'|_ }}</h4>
                <p>
                    {{ 'secure_pw_long_password'|_ }}
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">{{ 'close'|_ }}</button>
            </div>
        </div>
    </div>
</div>
