<ul class="nav nav-tabs border-0 flex-column flex-lg-row">
    <li class="nav-item">
        <a href="{{ route('index') }}" class="nav-link active"><i class="fa fa-home"></i> {{ 'dashboard'|_ }}</a>
    </li>
    <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-repeat"></i> {{ 'transactions'|_ }}</a>
        <div class="dropdown-menu dropdown-menu-arrow">
            <a href="{{ route('transactions.show', ['withdrawal']) }}" class="dropdown-item ">{{ 'expenses'|_ }}</a>
            <a href="{{ route('transactions.show', ['expense']) }}" class="dropdown-item ">{{ 'income'|_ }}</a>
            <a href="{{ route('transactions.show', ['transfer']) }}" class="dropdown-item ">{{ 'transfers'|_ }}</a>
        </div>
    </li>
    <li class="nav-item">
        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-credit-card"></i> {{ 'accounts'|_ }}</a>
        <div class="dropdown-menu dropdown-menu-arrow">
            <a href="{{ route('accounts.show', ['asset']) }}" class="dropdown-item ">{{ 'asset_accounts'|_ }}</a>
            <a href="{{ route('accounts.show', ['expense']) }}" class="dropdown-item ">{{ 'expense_accounts'|_ }}</a>
            <a href="{{ route('accounts.show', ['revenue']) }}" class="dropdown-item ">{{ 'revenue_accounts'|_ }}</a>
            <a href="{{ route('accounts.show', ['liabilities']) }}" class="dropdown-item ">{{ 'liabilities'|_ }}</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-database"></i> {{ 'structure'|_ }}</a>
        <div class="dropdown-menu dropdown-menu-arrow">
            <a href="{{ route('categories.index') }}" class="dropdown-item ">{{ 'categories'|_ }}</a>
            <a href="{{ route('budgets.index') }}" class="dropdown-item ">{{ 'budgets'|_ }}</a>
            <a href="{{ route('tags.index') }}" class="dropdown-item ">{{ 'tags'|_ }}</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-filter"></i> {{ 'money_management'|_ }}</a>
        <div class="dropdown-menu dropdown-menu-arrow">
            <a href="{{ route('bills.index') }}" class="dropdown-item ">{{ 'bills'|_ }}</a>
            <a href="{{ route('piggy-banks.index') }}" class="dropdown-item ">{{ 'piggy_banks'|_ }}</a>
            <a href="{{ route('reports.index') }}" class="dropdown-item ">{{ 'reports'|_ }}</a>
        </div>
    </li>
    <li class="nav-item dropdown">
        <a href="javascript:void(0)" class="nav-link" data-toggle="dropdown"><i class="fa fa-gears"></i> {{ 'tools'|_ }}</a>
        <div class="dropdown-menu dropdown-menu-arrow">
            <a href="{{ route('rules.index') }}" class="dropdown-item ">{{ 'rules'|_ }}</a>
            <a href="{{ route('recurring.index') }}" class="dropdown-item ">{{ 'recurrences'|_ }}</a>
            <a href="{{ route('currencies.index') }}" class="dropdown-item ">{{ 'currencies'|_ }}</a>
            <a href="{{ route('import.index') }}" class="dropdown-item ">{{ 'import_data'|_ }}</a>
        </div>
    </li>

</ul>
