<a class="header-brand" href="{{ route('index') }}">
    <img src="v2/assets/images/basic-logo-ff3.png" class="header-brand-img" alt="Firefly III">
</a>
<div class="d-flex order-lg-2 ml-auto">

    {# SOURCE CODE LINK #}
    {#
    <div class="nav-item d-none d-md-flex">
        <a href="https://github.com/tabler/tabler" class="btn btn-sm btn-outline-primary" target="_blank">Source code</a>
    </div>
    #}

    {# TOP MENU WITH ALERTS, NOT IN USE #}
    {#
    <div class="dropdown d-none d-md-flex">
        <a class="nav-link icon" data-toggle="dropdown">
                <i class="fe fe-bell"></i>
                <span class="nav-unread"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a href="#" class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/male/41.jpg)"></span>
                <div>
                    <strong>Nathan</strong> pushed new commit: Fix page load performance issue.
                    <div class="small text-muted">10 minutes ago</div>
                </div>
            </a>
            <a href="#" class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/1.jpg)"></span>
                <div>
                    <strong>Alice</strong> started new task: Tabler UI design.
                    <div class="small text-muted">1 hour ago</div>
                </div>
            </a>
            <a href="#" class="dropdown-item d-flex">
                <span class="avatar mr-3 align-self-center" style="background-image: url(demo/faces/female/18.jpg)"></span>
                <div>
                    <strong>Rose</strong> deployed new version of NodeJS REST Api V3
                    <div class="small text-muted">2 hours ago</div>
                </div>
            </a>
            <div class="dropdown-divider"></div>
            <a href="#" class="dropdown-item text-center text-muted-dark">Mark all as read</a>
        </div>
    </div>
    #}
    <div class="dropdown">
        <a href="#" class="nav-link pr-0 leading-none" data-toggle="dropdown">
            <span class="avatar" {#style="background-image: url(./demo/faces/female/25.jpg)"#}></span>
            <span class="ml-2 d-none d-lg-block">

                      <span class="text-default">{{ Auth.user.email }}</span>
                      <small class="text-muted d-block mt-1">USER ROLE</small>
                    </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
            <a class="dropdown-item" href="{{ route('profile.index') }}">
                <i class="dropdown-icon fa fa-user"></i> {{ 'profile'|_ }}
            </a>
            <a class="dropdown-item" href="#">
                <i class="dropdown-icon fa fa-gear"></i> {{ 'preferences'|_ }}
            </a>
            <a class="dropdown-item" href="#">
                <i class="dropdown-icon fa fa-hand-spock-o"></i> {{ 'administration'|_ }}
            </a>
            {#
            <a class="dropdown-item" href="#">
                <span class="float-right"><span class="badge badge-primary">6</span></span>
                <i class="dropdown-icon fe fe-mail"></i> Inbox
            </a>

            <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-send"></i> Message
            </a>
            #}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-help-circle"></i> {{ 'need_help'|_ }}
            </a>
            <a class="dropdown-item" href="#">
                <i class="dropdown-icon fe fe-log-out"></i> {{ 'logout'|_ }}
            </a>
        </div>
    </div>
</div>
<a href="#" class="header-toggler d-lg-none ml-3 ml-lg-0" data-toggle="collapse" data-target="#headerMenuCollapse">
    <span class="header-toggler-icon"></span>
</a>
