{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists }}
{% endblock %}
{% block content %}
    {{ Form.open({'class' : 'form-horizontal','id' : 'store','url' : route('split.journal.from-store.post')}) }}
    <input type="hidden" name="what" value="{{ preFilled.what }}"/>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ ('split_title_'~preFilled.what)|_ }}</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <p>
                        {{ ('split_intro_one_'~preFilled.what)|_ }}
                    </p>
                    <p>
                        {{ ('split_intro_two_'~preFilled.what)|_ }}
                    </p>
                    <p>
                        {% if preFilled.what =='deposit' %}
                            {{ trans(('firefly.split_intro_three_'~preFilled.what), {total: 500|formatAmount, split_one: 425|formatAmount, split_two: 75|formatAmount})|raw }}
                        {% else %}
                            {{ trans(('firefly.split_intro_three_'~preFilled.what), {total: 20|formatAmount, split_one: 15|formatAmount, split_two: 5|formatAmount})|raw }}
                        {% endif %}
                    </p>
                    <p class="text-danger">This feature is experimental.</p>
                </div>
            </div>
        </div>
    </div>
    {% if errors.all()|length > 0 %}
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-danger">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ 'errors'|_ }}</h3>
                        <div class="box-tools pull-right">
                            <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                        </div>
                    </div>
                    <div class="box-body">
                        <ul>
                            {% for key, err in errors.all() %}
                                <li class="text-danger">{{ err }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'transaction_meta_data'|_ }}</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    {{ ExpandedForm.text('journal_description') }}
                    {{ ExpandedForm.select('journal_currency_id', currencies, preFilled.journal_currency_id) }}
                    {{ ExpandedForm.staticText('journal_amount', preFilled.journal_amount|formatAmount) }}
                    <input type="hidden" name="journal_amount" value="{{ preFilled.journal_amount }}"/>

                    <!-- show source drop down box if withdrawal or transfer -->
                    {% if preFilled.what == 'withdrawal' or preFilled.what == 'transfer' %}
                        {{ ExpandedForm.select('journal_asset_source_account_id', assetAccounts, preFilled.journal_source_account_id) }}
                    {% endif %}
                    <!-- show source text input if deposit: -->
                    {% if preFilled.what == 'deposit' %}
                        {{ ExpandedForm.text('journal_source_account_name', preFilled.journal_source_account_name) }}
                    {% endif %}
                    <!-- show destination drop down if transfer -->
                    {% if preFilled.what == 'transfer' %}
                        {{ ExpandedForm.select('journal_destination_account_id', assetAccounts, preFilled.journal_destination_account_id) }}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'transaction_dates'|_ }}</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    {{ ExpandedForm.date('date', preFilled.date) }}

                    {{ ExpandedForm.date('interest_date', preFilled.interest_date) }}

                    {{ ExpandedForm.date('book_date', preFilled.book_date) }}

                    {{ ExpandedForm.date('process_date', preFilled.process_date) }}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'splits'|_ }}</h3>

                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                </div>
                <div class="box-body">
                    <p>
                        {{ ('split_table_intro_'~preFilled.what)|_ }}
                    </p>
                    <table class="table table-bordered table-condensed table-striped split-table">
                        <thead>
                        <tr>
                            <th>{{ trans('list.split_number') }}</th>
                            <th>{{ trans('list.description') }}</th>
                            <!-- split the source of a deposit -->
                            <!--
                            {% if preFilled.what == 'deposit' %}
                                <th>{{ trans('list.source') }}</th>
                            {% endif %}
                            -->
                            <!-- split where a withdrawal is going -->
                            <!-- split where a deposit is going -->
                            {% if preFilled.what == 'withdrawal' or preFilled.what == 'deposit' %}
                                <th>{{ trans('list.destination') }}</th>
                            {% endif %}
                            <th>{{ trans('list.amount') }}</th>
                            {% if preFilled.what == 'withdrawal' %}
                                <th>{{ trans('list.budget') }}</th>
                            {% endif %}
                            <th>{{ trans('list.category') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for index, descr in preFilled.description %}
                            <tr class="{% if loop.index == 1 %}initial-row{% else %}not-initial-row{% endif %}">
                                <td class="count">#{{ loop.index }}</td>
                                <td>
                                    <input type="text" name="description[]" value="{{ descr }}" class="form-control"/>
                                </td>

                                <!-- withdrawal has several destination names. -->
                                {% if preFilled.what == 'withdrawal' %}
                                    <td>
                                        <input type="text" name="destination_account_name[]" value="{{ preFilled.destination_account_name[index] }}"
                                               class="form-control"/>
                                    </td>
                                {% endif %}

                                <!-- deposit has several destination id's -->
                                {% if preFilled.what == 'deposit' %}
                                    <td>
                                        {{ Form.select('destination_account_id[]', assetAccounts, preFilled.destination_account_id[index], {class: 'form-control'}) }}
                                    </td>
                                {% endif %}


                                <td style="width:10%;">
                                    <input type="number" name="amount[]" value="{{ preFilled.amount[index] }}"
                                           class="form-control" autocomplete="off" step="any" min="0.01">
                                </td>
                                {% if preFilled.what == 'withdrawal' %}
                                    <td>
                                        {{ Form.select('budget_id[]', budgets, preFilled.budget_id[index], {class: 'form-control'}) }}
                                    </td>
                                {% endif %}
                                <td>
                                    <input type="text" name="category[]" value="{{ preFilled.category[index] }}" class="form-control"/>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                    <p>
                        <br/>
                        <a href="#" class="btn btn-default btn-do-split"><i class="fa fa-plus-circle"></i> {{ 'add_another_split'|_ }}</a>
                    </p>
                    <p class="pull-right">
                        <button type="submit" id="transaction-btn" class="btn btn-success pull-right">
                            {{ ('store_splitted_'~preFilled.what)|_ }}
                        </button>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </form>

{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        var originalSum = {{ preFilled.journal_amount }};
        var what = "{{ preFilled.what }}";
    </script>
    <script type="text/javascript" src="js/lib/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript" src="js/ff/transactions/create-edit.js"></script>
    <script type="text/javascript" src="js/ff/split/journal/from-store.js"></script>
{% endblock %}
{% block styles %}
{% endblock %}
