{% extends "./layout/default.twig" %}
{% block content %}
{{ Breadcrumbs.renderIfExists(Route.getCurrentRoute().getName(), account) }}
{{ Form.open({'class' : 'form-horizontal','id' : 'destroy','url' : route('accounts.destroy',account.id)}) }}
<div class="row">
    <div class="col-lg-6 col-md-12 col-sm-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                Delete account "{{ account.name }}"
            </div>
            <div class="panel-body">
                <p>
                Are you sure that you want to delete the {{account.accountType.type|lower}} "{{account.name}}"?
                </p>

                {% if account.transactions|length > 0 %}
                    <p class="text-danger">
                        {{account.accountType.type|capitalize}} "{{ account.name }}" still has {{ account.transactions|length }} transaction(s) associated to it. These will be deleted as well.
                    </p>
                {% endif %}
                {% if account.piggyBanks|length > 0 %}
                    <p class="text-danger">
                        {{account.accountType.type|capitalize}} "{{ account.name }}" still has {{ account.piggyBanks|length }} piggy bank(s) associated to it. These will be deleted as well.
                    </p>
                {% endif %}
                <p>
                    <button type="submit" class="btn btn-default btn-danger">Delete permanently</button>
                    <a href="{{URL.previous()}}" class="btn-default btn">Cancel</a >
                </p>
            </div>
        </div>
    </div>
</div>

</form>
{% endblock %}
