{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName, bill) }}
{% endblock %}

{% block content %}

    {{ Form.open({'class' : 'form-horizontal','id' : 'destroy','url' : route('bills.destroy',bill.id)}) }}
<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-md-12 col-sm-12">
        <div class="panel panel-red">
            <div class="panel-heading">
                <i class="fa fa-exclamation-circle"></i>
                {{ trans('form.delete_bill', {'name': bill.name}) }}
            </div>
            <div class="panel-body">
                <p class="text-danger">
                    {{ trans('form.permDeleteWarning') }}
                </p>
                <p>
                    {{ trans('form.bill_areYouSure', {'name': bill.name}) }}
                </p>
                <p>
                    <input type="submit" name="submit" value="{{ trans('form.deletePermanently') }}" class="btn btn-danger" />
                    <a href="{{ URL.previous() }}" class="btn-default btn">{{ trans('form.cancel') }}</a >
                </p>
                <p class="small">
                {% if bill.transactionjournals|length > 0 %}
                    {{ Lang.choice('form.bill_keep_transactions', bill.transactionjournals|length,{count: bill.transactionjournals|length}) }}
                {% endif %}
                </p>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
