{% if type == 'create' %}
    <div class="form-group">
        <label for="{{ name }}_return_to_form" class="col-sm-4 control-label">
            {{ trans('form.returnHere') }}
        </label>

        <div class="col-sm-8">
            <div class="radio">
                <label>
                    {{ Form.checkbox('create_another', '1', false, {'id': name ~ '_return_to_form'}) }}
                    {{ trans('form.returnHereExplanation') }}

                </label>
            </div>
        </div>
    </div>
{% endif %}

{% if type == 'update' %}
    <div class="form-group">
        <label for="{{ name }}_return_to_edit" class="col-sm-4 control-label">
            {{ trans('form.returnHere') }}
        </label>

        <div class="col-sm-8">
            <div class="radio"><label>
                    {{ Form.checkbox('return_to_edit', '1', old('return_to_edit') == '1', {'id': name ~ '_return_to_edit'}) }}
                    {{ trans('form.returnHereUpdateExplanation') }}
                </label>
            </div>
        </div>
    </div>
{% endif %}
{% if type == 'create' and name == 'transaction' %}
    <div class="form-group">
        <label for="{{ name }}_split" class="col-sm-4 control-label">
            {{ trans('form.split_journal') }}
        </label>

        <div class="col-sm-8">
            <div class="radio"><label>
                    {{ Form.checkbox('split_journal', '1', old('split_journal') == '1', {'id': name ~ 'split'}) }}
                    {{ trans('form.split_journal_explanation') }}
                </label>
            </div>
        </div>
    </div>
{% endif %}
