<div class="{{ classes }}" id="{{ name }}_holder">
    <label for="{{ options.id }}" class="col-sm-4 control-label">{{ label }}</label>

    <div class="col-sm-8">
        {{ Html.input('password', name, value).id(options.id).class('form-control').attribute('placeholder',options.placeholder).attribute('autocomplete','off').attribute('spellcheck','false') }}
        {% include 'form.help' %}
        {% include 'form.feedback' %}
    </div>
</div>
