<div class="{{ classes }}" id="{{ name }}_holder">
    <label for="{{ options.id }}" class="col-sm-4 control-label">{{ label }}</label>

    <div class="col-sm-8">
        <div class="input-group">
            {{ Html.input('number', name, value).id(options.id).attribute('step',options.step).attribute('autocomplete','off').attribute('spellcheck', 'false').class('form-control').attribute('placeholder',options.placeholder) }}
            <div class="input-group-addon">%</div>
        </div>
        {% include 'form.help' %}
        {% include 'form.feedback' %}
    </div>
</div>
