<div class="{{ classes }}" id="{{ name }}_holder">
    <label for="{{ options.id }}" class="col-sm-4 control-label">{{ label }}</label>

    <div class="col-sm-8">
        <p class="form-control-static" id="{{ options.id }}">{{ value|raw }}</p>
    </div>
</div>
