<nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><span class="fas fa-bars"></span></a>
        </li>
    </ul>

    <!-- SEARCH FORM -->
    <form class="form-inline ml-3" action="{{ route('search.index') }}" method="get">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" name="search" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <span class="fas fa-search"></span>
                </button>
            </div>
        </div>
    </form>

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
        <!-- Messages Dropdown Menu -->
        {# calendar thing, removed #}
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <span class="fas fa-cogs"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="{{ route('preferences.index') }}" class="dropdown-item">
                    <span class="fas fa-fw fa-cogs mr-2"></span> {{ 'preferences'|_ }}
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ route('currencies.index') }}" class="dropdown-item">
                    <span class="fas fa-fw fa-euro-sign mr-2"></span> {{ 'currencies'|_ }}
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ route('admin.index') }}" class="dropdown-item">
                    <span class="fas fa-fw fa-envelope mr-2"></span> {{ 'administration'|_ }}
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">
                    <span class="fas fa-fw fa-globe mr-2"></span> {{ 'webhooks'|_ }}
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ route('export.index') }}" class="dropdown-item">
                    <span class="fas fa-fw fa-upload mr-2"></span> {{ 'export_data_menu'|_ }}
                </a>
            </div>
        </li>
        <!-- Notifications Dropdown Menu -->
        <li class="nav-item dropdown">
            <form id="logout-form" action="{{ route('logout') }}" method="POST" style="display: none;">
                <input type="hidden" name="_token" value="{{ csrf_token() }}" />
            </form>
            <a class="nav-link" data-toggle="dropdown" href="#">
                <span class="far fa-user"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="{{ route('profile.index') }}" class="dropdown-item">
                    <span class="fas fa-fw fa-user mr-2"></span> {{ 'profile'|_ }}
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ route('preferences.index') }}" class="dropdown-item">
                    <span class="fas fa-fw fa-cogs mr-2"></span> {{ 'preferences'|_ }}
                </a>
                <div class="dropdown-divider"></div>
                <a href="{{ route('logout') }}" class="dropdown-item" onclick="event.preventDefault();document.getElementById('logout-form').submit();">
                    <span class="fas fa-sign-out-alt mr-2"></span> {{ 'logout'|_ }}
                </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" data-toggle="dropdown" href="#">
                <span class="far fa-plus-square"></span>
            </a>
            <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                <a href="{{ route('transactions.create', 'withdrawal') }}" class="dropdown-item">
                    <span class="fas fa-long-arrow-alt-left nav-icon"></span> {{ 'new_withdrawal'|_ }}
                </a>
                <a href="{{ route('transactions.create', 'deposit') }}" class="dropdown-item">
                    <span class="fas fa-long-arrow-alt-right nav-icon"></span> {{ 'new_deposit'|_ }}
                </a>
                <a href="{{ route('transactions.create', 'transfer') }}" class="dropdown-item">
                    <span class="fas fa-exchange-alt nav-icon"></span> {{ 'new_transfer'|_ }}
                </a>

                <div class="dropdown-divider"></div>
                <a href="{{ route('budgets.create') }}" class="dropdown-item">
                    <span class="nav-icon fas fa-chart-pie"></span> {{ 'new_budget'|_ }}
                </a>
                <a href="{{ route('bills.create') }}" class="dropdown-item">
                    <span class="nav-icon far fa-calendar-alt"></span> {{ 'new_bill'|_ }}
                </a>
                <a href="{{ route('piggy-banks.create') }}" class="dropdown-item">
                    <span class="nav-icon fas fa-piggy-bank"></span> {{ 'new_piggy_bank'|_ }}
                </a>

                <div class="dropdown-divider"></div>
                <a href="{{ route('rules.create') }}" class="dropdown-item">
                    <span class="fas fa-random nav-icon"></span> {{ 'new_rule'|_ }}
                </a>
                <a href="{{ route('recurring.create') }}" class="dropdown-item">
                    <span class="fas fa-magic nav-icon"></span> {{ 'new_recurring_transaction'|_ }}
                </a>

                <div class="dropdown-divider"></div>
                <a href="{{ route('accounts.create', 'asset') }}" class="dropdown-item">
                    <span class="far fa-money-bill-alt nav-icon"></span> {{ 'new_asset_account'|_ }}
                </a>
                <a href="{{ route('accounts.create', 'liabilities') }}" class="dropdown-item">
                    <span class="fas fa-funnel-dollar nav-icon"></span> {{ 'new_liabilities_account'|_ }}
                </a>
            </div>
        </li>
        <!-- here be dragons -->
        <li class="nav-item">
            <a class="nav-link" data-widget="control-sidebar" data-slide="true" href="#" role="button" title="{{ 'here_be_dragons'|_ }}">
                <span class="fas fa-dragon"></span>
            </a>
        </li>
    </ul>
</nav>
<!-- /.navbar -->
