{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <div class="row">
        <form class="form-horizontal" action="{{ route('import.job.configuration.post',[importJob.key]) }}" method="post">
            <input type="hidden" name="_token" value="{{ csrf_token() }}"/>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('import.job_config_ynab_apply_rules') }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-6">
                                <p>
                                    {{ trans('import.job_config_ynab_apply_rules_text') }}
                                </p>
                                {{ ExpandedForm.checkbox('apply_rules', 1, true) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="box box-default">
                    <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('import.job_config_ynab_accounts_title') }}</h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-8">
                                <p>
                                    {{ trans('import.job_config_ynab_accounts_text', {count: data.accounts|length}) }}
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <table class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>{{ trans('list.account_on_ynab') }}</th>
                                        <th>{{ trans('list.account') }}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for account in data.ynab_accounts %}
                                        <tr>
                                            <td>
                                                {{ account.name }} ({{ trans('import.ynab_account_type_'~account.type) }})
                                                {% if account.closed %}
                                                    <br/><span class="text-warning">{{ trans('import.ynab_account_closed') }}</span>
                                                {% endif %}
                                                {% if account.deleted %}
                                                    <br/><span class="text-danger">{{ trans('import.ynab_account_deleted') }}</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <select class="form-control" name="account_mapping[{{ account.id }}]">
                                                    <option value="0" label="{{ trans('import.ynab_do_not_import') }}">
                                                        {{ trans('import.ynab_do_not_import') }}
                                                    </option>
                                                    {% for ffId, ffAccount in data.ff_accounts %}
                                                        {% if ffAccount.code == data.budget.currency_code %}
                                                            <option value="{{ ffId }}"{% if currentIban != '' and currentIban == ffAccount.iban %} selected{% endif %}>
                                                                {{ ffAccount.name }}{% if ffAccount.iban !='' %} ({{ ffAccount.iban }}){% endif %}
                                                            </option>
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>


                            </div>
                        </div>
                        <div class="box-footer">
                            <button type="submit" class="btn pull-right btn-success">
                                {{ ('submit')|_ }}
                            </button>
                        </div>
                    </div>
                </div>
        </form>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}
