@extends('layout.v3.session')

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
@endsection

@section('content')
    <form method="POST" action="{{ route('profile.mfa.disableMFA.post') }}" accept-charset="UTF-8" class="form-horizontal">
        <input name="_token" type="hidden" value="{{ csrf_token() }}">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">{{ 'disable_mfa_page'|_ }}</h3>
                    </div>
                    <div class="card-body">
                        <p class="hidden-print">
                            {{ 'disable_mfa_intro'|_ }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 offset-lg-3 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="card-body">
                        {{ ExpandedForm.password('password', {helpText: 'current_password_confirm_mfa'|_}) }}
                        {{ ExpandedForm::text('code', code) }}
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-danger">{{ 'pref_disable_mfa'|_ }}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
@endsection
@section('scripts')
    <script type="text/javascript" nonce="{{ $JS_NONCE }}">
        $(function () {
            "use strict";

            // Focus first visible form element.
            $("form#preferences_code input:enabled:visible:first").first().select();
        });
    </script>
@endsection
