@extends('layout.v3.session')

{% block breadcrumbs %}
    {{ Breadcrumbs.render(Route.getCurrentRoute.getName) }}
@endsection

@section('content')

    <div class="row">
        <div class="col-lg-8 offset-lg-2 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">
                        {{ 'mfa_index_title'|_ }}
                    </h3>
                </div>
                <div class="card-body">
                    <p>
                        {% if enabledMFA == true %}
                            {{ 'mfa_index_enabled'|_ }}
                        @endif
                        {% if enabledMFA == false %}
                            {{ 'mfa_index_disabled'|_ }}
                        @endif

                    </p>
                    <p>
                        {{ 'mfa_index_intro'|_ }}
                    </p>
                    <p>
                        {{ 'mfa_index_owner'|_ }}
                    </p>
                    {% if enabledMFA == true %}
                        <div class="btn-group">
                            <a href="{{ route('profile.mfa.disableMFA') }}" class="btn btn-danger"><em class="fa fa-unlock-alt"></em> {{ 'pref_two_factor_auth_disable_2fa'|_ }}</a>
                            <a href="{{ route('profile.mfa.backup-codes') }}" class="btn btn-outline-secondary"><em class="bi bi-calculator"></em> {{ 'pref_two_factor_new_backup_codes'|_ }}</a>
                        </div>
                    @endif
                    {% if enabledMFA == false %}
                        <p>
                            <a class="btn btn-info" href="{{ route('profile.mfa.enableMFA') }}"><em class="bi bi-calculator"></em> {{ 'pref_enable_two_factor_auth'|_ }}</a>
                        </p>
                    @endif
                </div>
            </div>
        </div>
    </div>
@endsection
