{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName) }}
{% endblock %}

{% block content %}
    {{ Form.open({'class' : 'form-horizontal','id' : 'store','route' : 'currency.store'}) }}
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'mandatoryFields'|_ }}</h3>
                </div>
                <div class="box-body">
                    {{ ExpandedForm.text('name',null,{'maxlength' : 48}) }}
                    {{ ExpandedForm.text('symbol',null,{'maxlength': 8}) }}
                    {{ ExpandedForm.text('code',null,{'maxlength' : 3}) }}
                </div>
            </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12">

            <!-- panel for options -->
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'options'|_ }}</h3>
                </div>
                <div class="box-body">
                    {{ ExpandedForm.optionsList('create','currency') }}
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn pull-right btn-success">
                        Store new currency
                    </button>
                </div>
            </div>

        </div>
    </div>
    {{ Form.close|raw }}
{% endblock %}
