{% extends "./layout/default.twig" %}
{% block content %}
    {{ Breadcrumbs.renderIfExists(Route.getCurrentRoute.getName) }}
    {{ Form.open({'class' : 'form-horizontal','id' : 'store','route' : 'currency.store'}) }}
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <i class="fa {{ subTitleIcon }}"></i> {{ trans('firefly.mandatoryFields') }}
            </div>
            <div class="panel-body">
                {{ ExpandedForm.text('name',null,{'maxlength' : 48}) }}
                {{ ExpandedForm.text('symbol',null,{'maxlength': 8}) }}
                {{ ExpandedForm.text('code',null,{'maxlength' : 3}) }}
            </div>
        </div>

    </div>

    <div class="col-lg-6 col-md-6 col-sm-12">

        <!-- panel for options -->
        <div class="panel panel-default">
            <div class="panel-heading">
                <i class="fa fa-bolt"></i> {{ trans('firefly.options') }}
            </div>
            <div class="panel-body">
                {{ ExpandedForm.optionsList('create','currency') }}
            </div>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <p>
            <button type="submit" class="btn btn-lg btn-success">
                <i class="fa fa-plus-circle"></i> Store new currency
            </button>
        </p>
    </div>
</div>
</form>
{% endblock %}
