<ul class="sidebar-menu" data-widget="tree">
  <li class="{{ activeRouteStrict('index') }}">
    <a href="{{ route('index') }}">
      <i class="fa fa-dashboard fa-fw"></i>
      <span>{{ 'dashboard'|_ }}</span>
    </a>
  </li>

  <li class="header">FINANCIAL CONTROL</li>

  <li class="{{ activeRoutePartial('budgets') }}" id="budget-menu">
    <a href="{{ route('budgets.index') }}">
      <i class="fa fa-pie-chart fa-fw"></i>
      <span>{{ 'budgets'|_ }}</span>
    </a>
  </li>

  <li class="{{ activeRoutePartial('bills') }}">
    <a href="{{ route('bills.index') }}">
      <i class="fa fa-calendar fa-fw"></i>
      <span>{{ 'bills'|_ }}</span>
    </a>
  </li>

  <li class="{{ activeRoutePartial('piggy-banks') }}">
    <a href="{{ route('piggy-banks.index') }}">
      <i class="fa fa-bullseye fa-fw"></i>
      <span>{{ 'piggyBanks'|_ }}</span>
    </a>
  </li>

  <li class="header">ACCOUNTING</li>

  <li class="{{ activeRoutePartial('transactions') }} treeview" id="transaction-menu">
    <a href="#">
      <i class="fa fa-exchange fa-fw"></i>
      <span>{{ 'transactions'|_ }}</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>

    <ul class="treeview-menu">
      <li class="{{ activeRoutePartialObjectType('transactions','withdrawal') }}">
        <a href="{{ route('transactions.index','withdrawal') }}">
          {{ 'expenses'|_ }}
        </a>
      </li>
      <li class="{{ activeRoutePartialObjectType('transactions','deposit') }}">
        <a href="{{ route('transactions.index','deposit') }}">
          {{ 'income'|_ }}
        </a>
      </li>
      <li class="{{ activeRoutePartialObjectType('transactions','transfers') }}">
        <a href="{{ route('transactions.index','transfers') }}">
          {{ 'transfers'|_ }}
        </a>
      </li>
    </ul>
  </li>

  <li class="{{ activeRoutePartial('recurring') }} {{ activeRoutePartial('rules') }} treeview">
    <a href="#">
      <i class="fa fa-microchip fa-fw"></i>
      <span>Automation</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>

    <ul class="treeview-menu">
      <li class="{{ activeRoutePartial('rules') }}">
        <a href="{{ route('rules.index') }}">
          {{ 'rules'|_ }}
        </a>
      </li>
      <li class="{{ activeRoutePartial('recurring') }}">
        <a href="{{ route('recurring.index') }}">
          {{ 'recurrences'|_ }}
        </a>
      </li>
    </ul>
  </li>

  <li class="header">OTHERS</li>

  <li class="{{ activeRoutePartial('accounts') }} treeview" id="account-menu">
    <a href="#">
      <i class="fa fa-money fa-fw"></i>
      <span>{{ 'accounts'|_ }}</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>

    <ul class="treeview-menu">
      <li class="{{ activeRoutePartialObjectType('accounts', 'asset') }}">
        <a href="{{ route('accounts.index', 'asset') }}">
          {{ 'asset_accounts'|_ }}
        </a>
      </li>
      <li class="{{ activeRoutePartialObjectType('accounts', 'expense') }}">
        <a href="{{ route('accounts.index', 'expense') }}">
          {{ 'expense_accounts'|_ }}
        </a>
      </li>
      <li class="{{ activeRoutePartialObjectType('accounts', 'revenue') }}">
        <a href="{{ route('accounts.index', 'revenue') }}">
          {{ 'revenue_accounts'|_ }}
        </a>
      </li>
      <li class="{{ activeRoutePartialObjectType('accounts', 'liabilities') }}">
        <a href="{{ route('accounts.index', 'liabilities') }}">
          {{ 'liabilities_accounts'|_ }}
        </a>
      </li>
    </ul>
  </li>

  <li class="{{ activeRoutePartial('categories') }} {{ activeRoutePartial('tags') }} treeview">
    <a href="#">
      <i class="fa fa-tags fa-fw"></i>
      <span>Classification</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>

    <ul class="treeview-menu">
      <li class="{{ activeRoutePartial('categories') }}">
        <a href="{{ route('categories.index') }}">
          {{ 'categories'|_ }}
        </a>
      </li>
      <li class="{{ activeRoutePartial('tags') }}">
        <a href="{{ route('tags.index') }}">
          {{ 'tags'|_ }}
        </a>
      </li>
    </ul>
  </li>

  <li class="{{ activeRoutePartial('reports') }}" id="report-menu">
    <a href="{{ route('reports.index') }}">
      <i class="fa fa-bar-chart fa-fw"></i>
      <span>{{ 'reports'|_ }}</span>
    </a>
  </li>

  <li class="{{ activeRoutePartial('import') }} {{ activeRoutePartial('export') }} treeview">
    <a href="#">
      <i class="fa fa-cogs fa-fw"></i>
      <span>Tools</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>

    <ul class="treeview-menu">
      <li class="{{ activeRoutePartial('import') }}">
        <a href="{{ route('import.index') }}">
          <span>{{ 'import_transactions'|_ }}</span>
        </a>
      </li>
      {% if config('firefly.feature_flags.export') %}
        <li class="{{ activeRoutePartial('export') }}">
          <a href="{{ route('export.index') }}">
            <span>{{ 'export_data_menu'|_ }}</span>
          </a>
        </li>
      {% endif %}
    </ul>
  </li>

  <li class="{{ activeRoutePartial('admin') }} {{ activeRoutePartial('profile') }} {{ activeRoutePartial('preferences') }} {{ activeRoutePartial('currencies') }} treeview" id="option-menu">
    <a href="#">
      <i class="fa fa-bars fa-fw"></i>
      <span>{{ 'options'|_ }}</span>
      <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
      </span>
    </a>

    <ul class="treeview-menu">
      <li class="{{ activeRoutePartial('profile') }}">
        <a class="{{ activeRouteStrict('profile.index') }}" href="{{ route('profile.index') }}">
          {{ 'profile'|_ }}
        </a>
      </li>
      <li class="{{ activeRoutePartial('preferences') }}">
        <a class="{{ activeRouteStrict('preferences.index') }}" href="{{ route('preferences.index') }}">
          {{ 'preferences'|_ }}
        </a>
      </li>
      <li class="{{ activeRoutePartial('currencies') }}">
        <a class="{{ activeRoutePartial('currencies') }}" href="{{ route('currencies.index') }}">
          {{ 'currencies'|_ }}
        </a>
      </li>
      {% if hasRole('owner') %}
        <li class="{{ activeRoutePartial('admin') }}">
          <a class="{{ activeRoutePartial('admin') }}" href="{{ route('admin.index') }}">
            {{ 'administration'|_ }}
          </a>
        </li>
      {% endif %}
    </ul>
  </li>

  {% if not SANDSTORM %}
    <li>
      <a href="{{ route('logout') }}">
        <i class="fa fa-sign-out fa-fw"></i>
        <span>{{ 'logout'|_ }}</span>
      </a>
    </li>
  {% endif %}
</ul>
