{% extends "./layout/default.twig" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'import_complete'|_ }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        {{ 'import_complete_text'|_ }}
                    </p>
                    <p>
                        <code>php artisan firefly:import {{ job.key }}</code>
                    </p>
                    <div class="row">
                        <div class="col-lg-4">
                            <a href="{{ route('import.download', [job.key]) }}" class="btn btn-default"><i
                                        class="fa fa-fw fa-download"></i> {{ 'import_download_config'|_ }}</a>
                        </div>
                        <div class="col-lg-4">
                            <a href="{{ route('import.status', [job.key]) }}" class="btn btn-success"><i
                                        class="fa fa-fw fa-gears"></i> {{ 'import_start_import'|_ }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}
