{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.renderIfExists }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'import_index_title'|_ }}</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                {{ 'import_general_index_intro'|_ }}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-1 text-center">
                                {# file import #}
                                <a href="{{ route('import.file.index') }}">
                                    <img src="images/logos/csv.png" alt="bunq"/><br />
                                    {{ 'import_general_index_csv_file'|_ }}
                                </a>
                        </div>
                        <div class="col-lg-1 text-center">
                                {# bunq import #}
                                <a href="{{ route('import.bank.prerequisites', ['bunq']) }}">
                                    <img src="images/logos/bunq.png" alt="bunq"/><br />
                                    Import from bunq
                                </a>
                        </div>
                        <div class="col-lg-1 text-center">
                                {# import from Spectre #}
                                <a href="{{ route('import.bank.prerequisites', ['spectre']) }}">
                                    <img src="images/logos/spectre.png" alt="Spectre"/><br />
                                    Import using Spectre
                                </a>
                        </div>
                        <div class="col-lg-1 text-center">
                            {# import from Plaid #}
                            <a href="{{ route('import.bank.prerequisites', ['plaid']) }}">
                                <img src="images/logos/plaid.png" alt="Plaid"/><br />
                                Import using Plaid
                            </a>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}
