{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ 'import_index_title'|_ }}</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-lg-8">
                            <p>
                                {{ 'import_general_index_intro'|_ }}
                            </p>
                        </div>
                    </div>

                    <div class="row">
                        {# file import #}
                        {% if routines.file == true %}
                            <div class="col-lg-1 text-center">
                                <a href="{{ route('import.prerequisites', ['file']) }}">
                                    <img src="images/logos/file.png" alt="{{ 'import_general_index_file'|_ }}"/><br/>
                                    {{ 'import_general_index_file'|_ }}
                                </a>
                            </div>
                        {% endif %}

                        {# bunq import #}
                        {% if routines.bunq == true %}
                            <div class="col-lg-1 text-center">
                                <a href="{{ route('import.prerequisites', ['bunq']) }}">
                                    <img src="images/logos/bunq.png" alt="{{ 'import_from_bunq'|_ }}"/><br/>
                                    {{ 'import_from_bunq'|_ }}
                                </a>
                            </div>
                        {% endif %}

                        {# import from Spectre #}
                        {% if routines.spectre == true %}
                            <div class="col-lg-1 text-center">
                                <a href="{{ route('import.prerequisites', ['spectre']) }}">
                                    <img src="images/logos/spectre.png" alt="{{ 'import_using_spectre'|_ }}"/><br/>
                                    {{ 'import_using_spectre'|_ }}
                                </a>
                            </div>
                        {% endif %}

                        {# import from Plaid #}
                        {% if routines.plaid == true %}
                            <div class="col-lg-1 text-center">
                                <a href="{{ route('import.prerequisites', ['plaid']) }}">
                                    <img src="images/logos/plaid.png" alt="{{ 'import_using_plaid'|_ }}"/><br/>
                                    {{ 'import_using_plaid'|_ }}
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}
