{% extends "./layout/default" %}

{% block breadcrumbs %}
    {{ Breadcrumbs.render }}
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-lg-8 col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ trans('firefly.import_index_title') }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        {{ trans('import.general_index_intro') }}
                    </p>
                    <p class="text-warning">
                        {{ trans('import.final_csv_import')|raw }}
                    </p>
                    <div class="row">
                        {% for name, provider in providers %}
                            {# button for each import thing: #}
                            <div class="col-lg-2 col-md-4 col-sm-6 text-center">
                                {% if not provider.allowed_for_demo and isDemoUser %}
                                    <img src="v1/images/logos/{{ name }}.png" alt="{{ trans(('import.button_'~name)) }}"/><br/>
                                    {{ trans(('import.button_'~name)) }}<br>
                                    ({{ trans('import.disabled_for_demo_user') }})
                                {% else %}
                                <a href="{{ route('import.create', [name]) }}">
                                    <img src="v1/images/logos/{{ name }}.png" alt="{{ trans(('import.button_'~name)) }}"/><br/>
                                    {{ trans(('import.button_'~name)) }}
                                </a>
                                    {% endif %}
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                    <h3 class="box-title">{{ trans('firefly.import_tools_title') }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        {{ trans('firefly.tools_index_intro')|raw }}
                    </p>
                    <ul>
                        <li>
                            <a href="http://github.com/firefly-iii/csv-importer" title="{{ 'firefly_iii_csv_importer_name'|_ }}">{{ 'firefly_iii_csv_importer_name'|_ }}</a>
                        </li>
                        <li>
                            <a href="http://github.com/firefly-iii/bunq-importer" title="{{ 'firefly_iii_bunq_importer_name'|_ }}">{{ 'firefly_iii_bunq_importer_name'|_ }}</a>
                        </li>
                        <li>
                            <a href="https://gitlab.com/ludo444/fireflyrevoluttransactions" title="{{ 'ludo_revolut_importer_name'|_ }}">{{ 'ludo_revolut_importer_name'|_ }}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
            <div class="box box-default">
                <div class="box-header with-border">
                        <h3 class="box-title">{{ trans('import.need_prereq_title') }}</h3>
                </div>
                <div class="box-body">
                    <p>
                        {{ trans('import.need_prereq_intro') }}
                    </p>
                    <ul>
                        {% for name, provider in providers %}
                            {% if provider.has_prereq %}
                                <li>
                                    {% if provider.prereq_complete %}
                                        <i class="fa fa-fw fa-check text-success"></i>
                                    {% else %}
                                        <i class="fa fa-fw fa-warning text-danger"></i>
                                    {% endif %}
                                    <a href="{{ route('import.prerequisites.index', [name]) }}">{{ trans('import.do_prereq_'~name) }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
{% endblock %}
{% block styles %}
{% endblock %}
